<div *ngIf="!validate" class="w-full md:w-[580px] bg-white dark:bg-neutral-800 flex flex-col shadow-md rounded-xl">
    <div class="flex flex-col text-center bg-red-600 text-white rounded-t-xl py-4">
        <h1 class="text-lg text-white font-normal">Recuperar Contraseña</h1>
        <p>Ingresa tu número de documento para recuperar tu contraseña</p>
    </div>
    <div class="px-8 py-8 md:px-16">

        <form [formGroup]="formForgot" class="flex flex-col gap-4 md:px-10">
            <div class="flex flex-col">
                <label for="usuario">Documento de Identidad</label>
                <input type="text" class="form-control" formControlName="usuario" autocomplete="off">
                <div class="w-full text-danger" *ngIf="alertMessageError('usuario')">{{msgErrorControl('usuario','Documento de identidad')}}</div>
            </div>

            <button type="button" class="flex justify-center gap-2 px-3 py-3 bg-red-600 text-white rounded leading-none hover:bg-red-700 font-medium" (click)="recuperarClave()">
                {{loading ? 'Recuperando contraseña...' : 'Recuperar'}}
                <div *ngIf="loading" class="loading"></div>
            </button>

            <a [routerLink]="['']" class="cursor-pointer text-sky-600 hover:text-sky-700 font-medium">
                Iniciar Sesión
            </a>
        </form>
    </div>
</div>

<app-otp-forgot *ngIf="validate" />
