<form [formGroup]="espacioForm" nz-form nzLayout="vertical">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="null" nzFor="nombre">Nombre del espacio de
                    articulación</nz-form-label>
                <nz-form-control nzSpan="null" nzErrorTip="Campo requerido">
                    <textarea nz-input id="nombre" formControlName="nombre"
                        placeholder="Ingrese la descripción del espacio" nzAutosize></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="null" nzFor="abreviatura">Abreviatura</nz-form-label>
                <nz-form-control nzSpan="null" nzErrorTip="Campo requerido">
                    <input type="text" nz-input id="abreviatura" formControlName="abreviatura" #abreviatura>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
            <nz-form-item>
                <nz-form-label [nzSpan]="null" nzRequired>Ámbito</nz-form-label>
                <nz-form-control nzSpan="null" nzErrorTip="Campo requerido">
                    <nz-select nzPlaceHolder="Todos" id="subTipo" #subTipo formControlName="subTipo" nzAllowClear>
                        <nz-option nzValue="D" nzLabel="Distrital"></nz-option>
                        <nz-option nzValue="P" nzLabel="Provincial"></nz-option>
                        <nz-option nzValue="R" nzLabel="Regional"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="null">Fecha</nz-form-label>
                <nz-form-control nzSpan="null" nzErrorTip="Campo requerido">
                    <nz-date-picker class="w-full" formControlName="fechaEvento" nzPlaceHolder="Seleccionar fecha"
                        nzFormat="dd/MM/yyyy"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <!-- {{this.espacioForm.value|json}} -->

    <!-- {{this.hitosService.isEditing()|json }} -->

    <!-- {{this.espaciosService.eventoSeleccionado()|json }} -->
</form>