<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/" class="flex items-center justify-start">
        <figure>
          <img src="./assets/images/isotipo--small--colored--old.svg" alt="SeSigue" class="w-8" srcset="">
        </figure>
        <h1 class="text-white font-semibold mt-3 ml-2" *ngIf="!isCollapsed">SeSigue</h1>
      </a>
    </div>

    @if (menuItems != null && menuItems!= undefined && menuItems.length > 0){
    <ul class="mt-8" nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      @for (item of menuItems; track item.codigoMenu) {
      @if(item.children != null && item.children != undefined && item.children.length > 0) {
      <li nz-submenu nzOpen [nzTitle]="item.descripcionItem" [nzIcon]="item.iconoMenu!">
        <ul>
          @for (subItem of item.children; track subItem.codigoMenu) {
          <li nz-menu-item nzMatchRouterExact>
            <a [routerLink]="subItem.direccionUrl">{{subItem.descripcionItem}}</a>
          </li>
          }
        </ul>
      </li>
      } @else {
      <li nz-menu-item nzMatchRouterExact>
        <a class="flex items-center" [routerLink]="item.direccionUrl">
          <span nz-icon [nzType]="item.iconoMenu!" nzTheme="outline"></span>
          <span>{{item.descripcionItem}}</span>
        </a>
        }
        }
    </ul>
    }
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header flex items-center justify-between px-6 bg-white">
        <span class="header-trigger ml-6" (click)="isCollapsed = !isCollapsed">
          <span class="trigger text-black " nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>

        <div class="header-right-content mr-6 flex items-center text-gray-500 ">
          <!-- <div class="h-full mr-4">
            <div class="ant-dropdown-trigger cursor-pointer" nz-dropdown [nzDropdownMenu]="themeSwitcherList">
              <span class="text-[24px]" nz-icon nzType="clear" nzTheme="outline"></span>
            </div>

            <nz-dropdown-menu #themeSwitcherList="nzDropdownMenu">
              <ul nz-menu class="bg-white">
                <li nz-menu-item 
                    (click)="switchTheme('dark')" 
                    class="text-gray-500  hover:bg-inherit"
                    [nzSelected]="selectedTheme === 'dark'">Tema oscuro</li>
                <li nz-menu-item 
                    (click)="switchTheme('light')" 
                    class="text-gray-500  hover:bg-inherit"
                    [nzSelected]="selectedTheme === 'light'">Tema claro</li>
                <li nz-menu-item 
                    (click)="switchTheme('system')" 
                    class="text-gray-500  hover:bg-inherit"
                    [nzSelected]="selectedTheme === 'system'">Según sistema</li>
              </ul>
            </nz-dropdown-menu>
          </div> -->

          <div class="h-full">
            <div class="ant-dropdown-trigger cursor-pointer" nz-dropdown [nzDropdownMenu]="menu">
              <nz-avatar nzSize="small" nzIcon="user"></nz-avatar>
              <span class="ml-1"><span class="anticon">{{trabajador}}</span></span>
            </div>

            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu class="bg-white">
                <li class="text-gray-500  hover:bg-inherit" nz-menu-item (click)="onLogout()"><span nz-icon
                    nzType="poweroff" nzTheme="outline"></span> Cerrar sesión</li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <!-- <div class="inner-content"> -->
      <router-outlet></router-outlet>
      <!-- </div> -->
    </nz-content>
  </nz-layout>
</nz-layout>