<nz-layout class="app-layout">
  <div class="bg-transparent h-20 px-8 bg-white">

    <app-super-header></app-super-header>
  </div>
  <nz-layout class="dark:bg-gray-700">
    <nz-sider class="menu-sidebar bg-punche-blue dark:bg-gray-800" nzCollapsible [nzCollapsedWidth]="56"
      [(nzCollapsed)]="this.isSiderCollapsed" [nzTrigger]="null">
      <!-- <div class="sidebar-logo">
      <a href="/" class="flex items-center justify-start">
        <figure>
          <img src="./assets/images/isotipo--small--colored--old.svg" alt="SeSigue" class="w-8" srcset="">
        </figure>
        <h1 class="text-white font-semibold mt-3 ml-2" *ngIf="!this.isSiderCollapsed">SeSigue</h1>
      </a>
    </div> -->

      @if (menuItems != null && menuItems!= undefined && menuItems.length > 0){
      <div class="p-2">
        <ul class="mt-8 border-r-0 bg-transparent" nz-menu [nzTheme]="(selectedTheme == 'dark' ? 'dark' : 'light' )"
          nzMode="inline" [nzInlineCollapsed]="this.isSiderCollapsed">
          <li nz-menu-item routerLinkActive="ant-menu-item-selected" nzMatchRouterExact>
            <a class="flex items-center" routerLink="/sgd/">
              <span nz-icon nzType="file" nzTheme="outline"></span>
              <span>SGD</span>
            </a>
          </li>

          @for (item of menuItems; track item.codigoMenu) {
          @if(item.children != null && item.children != undefined && item.children.length > 0) {
          <li nz-submenu nzOpen [nzTitle]="item.descripcionItem" [nzIcon]="item.iconoMenu!"
            routerLinkActive="ant-menu-item-selected" class="my-2">
            <ul>
              @for (subItem of item.children; track subItem.codigoMenu) {
              <li nz-menu-item routerLinkActive="ant-menu-item-selected">
                <a [routerLink]="subItem.direccionUrl">{{subItem.descripcionItem}}</a>
              </li>
              }
            </ul>
          </li>
          } @else {
          <li nz-menu-item routerLinkActive="ant-menu-item-selected" nzMatchRouterExact>
            @if (item.esExterno) {
            <a class="flex items-center" [href]="item.direccionUrl" target="_blank">
              <span nz-icon [nzType]="item.iconoMenu!" nzTheme="outline"></span>
              <span>{{item.descripcionItem}}</span>
            </a>
            } @else {
            <a class="flex items-center" [routerLink]="item.direccionUrl">
              <span nz-icon [nzType]="item.iconoMenu!" nzTheme="outline"></span>
              <span>{{item.descripcionItem}}</span>
            </a>
            }

            }
            }
        </ul>
      </div>
      }
    </nz-sider>

    <nz-content>
      <nz-header class="bg-white dark:bg-gray-800">
        <div class="app-header flex items-center justify-between px-6">

          <div class="flex items-center gap-2">
            <span class="header-trigger ml-6" (click)="switchCollapseSider()">
              <span class="trigger text-gray-500 dark:text-gray-300" nz-icon
                [nzType]="this.isSiderCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
            </span>

            <a routerLink="/" class="flex items-center justify-start">
              <figure>
                <img src="./assets/images/logo-old-final_2.svg" alt="SeSigue" class="h-10" srcset="">
              </figure>
              <!-- <h1 class="text-white font-semibold mt-3 ml-2" *ngIf="!this.isSiderCollapsed">SeSigue</h1> -->
            </a>
          </div>

          <div class="header-right-content mr-6 flex items-center text-gray-500 dark:text-gray-300">
            <div class="h-full mr-4">
              <app-theme-switcher [isAbsolute]="false" [isRounded]="false"
                [hasInitialDarkBackground]="false"></app-theme-switcher>
            </div>

            <div class="h-full">
              <div class="ant-dropdown-trigger cursor-pointer" nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
                <nz-avatar nzSize="small" [nzText]="descripcionTipo"
                  class="bg-blue-700 dark:bg-neutral-700"></nz-avatar>
                <span class="ml-1">
                  {{ authService.nombreTrabajador() }} {{ (descripcionSector != undefined && descripcionSector != '') ?
                  ' - ' + descripcionSector :'' }}
                </span>

              </div>

              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu class="bg-white dark:bg-gray-700">
                  <li
                    class="text-gray-500 hover:text-gray-950 dark:text-gray-300 dark:hover:text-gray-200 dark:hover:bg-gray-600"
                    nz-menu-item (click)="onLogout()">
                    <button class="flex items-center gap-1">
                      <span class="material-symbols-outlined text-sm">
                        power_settings_new
                      </span><span>Cerrar sesión</span>
                    </button>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </div>
        </div>
      </nz-header>
      <!-- <div class="inner-content"> -->
      <router-outlet></router-outlet>
      <!-- </div> -->
    </nz-content>
  </nz-layout>
  <nz-footer class="bg-punche-blue dark:bg-neutral-800 text-white">
    <app-footer></app-footer>
  </nz-footer>
</nz-layout>