<app-page-header [title]="title.toUpperCase()" backUrl="panel" />
<!-- {{this.authService.sector() |json}} -->
<!-- {{ this.authService.subTipo() |json}} -->
  <div class="grid grid-cols-1">
      <nz-table [nzScroll]="{ x: 'max-content' }" class="min-w-full" [nzTitle]="Header" nzShowSizeChanger nzSize="small"
          [nzData]="this.hitosService.hitos()!" [nzFrontPagination]="false" [nzLoading]="this.hitosService.isLoading()"
          [nzTotal]="this.hitosService.total()" [nzPageSize]="this.pageSize" [nzPageIndex]="this.pageIndex"
          (nzQueryParams)="onQueryParamsChange($event)">
          <thead>
              <tr>
                  <th nzWidth="40px" class="text-center" nzLeft></th>
                  <th nzWidth="100px" nzAlign="center" nzColumnKey="sector" [nzSortFn]="true">Sector</th>
                  <th nzWidth="100px" nzAlign="center" nzColumnKey="region" [nzSortFn]="true">Ubicación</th>
                  <th nzWidth="100px" nzAlign="center" nzColumnKey="intervencionesEstrategicas">Tipo intervención</th>
      
                  <th nzWidth="150px" nzColumnKey="pedido">Pedido</th>
                  <th nzWidth="80px" nzAlign="center" nzColumnKey="cuis">CUI</th>
                  <th nzWidth="100px" nzAlign="center" nzColumnKey="codigo" [nzSortFn]="true">Código</th>
      
                  <th nzWidth="150px" nzColumnKey="acuerdo">Acuerdo</th>
                  <th nzWidth="80px" nzAlign="center" nzColumnKey="plazo" [nzSortFn]="true">Plazo</th>
                  <th nzWidth="120px" nzAlign="center" nzColumnKey="nomEstadoRegistro">Estado</th>
      
                  <th nzWidth="150px" nzAlign="center" nzColumnKey="hito">Hito</th>
                  <th nzWidth="140px" nzAlign="center" nzColumnKey="responsableHito">Responsable del Hito</th>
                  <th nzWidth="80px" nzAlign="center" nzColumnKey="plazoHito">Plazo del Hito</th>
                  <th nzWidth="80px" nzAlign="center" nzColumnKey="estadoHito">Estado del Hito</th>
                  <th nzWidth="150px" nzColumnKey="avance">Avance</th>
                  <th nzWidth="150px" nzColumnKey="comentarioSector">Comentario Sector</th>
                  <th nzWidth="150px" nzColumnKey="comentarioSDAv">Comentario PCM</th>
      
                  <th nzColumnKey="acciones" nzRight nzWidth="100px" nzAlign="center"></th>
              </tr>
          </thead>
          <tbody>
              @for (data of this.hitosService.hitos(); track data.codigo) {
              <tr>
                  <td class="text-center w-10" nzLeft>
      
                      @if(data.validaPCM==1){
                      <nz-avatar [nzSize]="24" class="bg-green-500" nzIcon="check" nz-tooltip="Validado"></nz-avatar>
                      }@else {
                      <nz-avatar [nzSize]="24" class="bg-gray-300" nz-tooltip="Sin validar" nzIcon="check"></nz-avatar>
                      }
                  </td>
                  <td nzWidth="100px" nzAlign="center">{{ data.sector }}</td>
                  <td nzWidth="120px" nzAlign="center">{{ data.ubicacion }}</td>
                  <td nzWidth="150px" nzAlign="center">
                      <p class="line-clamp-1 sm:line-clamp-2" nzTooltipPlacement="left" nz-tooltip
                          [nzTooltipTitle]="data.intervencionesEstrategicas">
                          {{ data.intervencionesEstrategicas }}
                      </p>
                  </td>
      
                  <td nzWidth="150px">
                      <p class="line-clamp-1 sm:line-clamp-2" nzTooltipPlacement="left" nz-tooltip
                          [nzTooltipTitle]="data.aspectoCriticoResolver">{{
                          data.aspectoCriticoResolver }}</p>
                  </td>
                  <td nzWidth="150px" nzAlign="center">{{ data.cuis }}</td>
                  <td nzWidth="150px" nzAlign="center"><strong>{{data.codigo}}</strong></td>
      
                  <td nzWidth="150px">
                      <p class="line-clamp-1 sm:line-clamp-3" nzTooltipPlacement="left" nz-tooltip
                          [nzTooltipTitle]="data.acuerdo">{{
                          data.acuerdo }}</p>
                  </td>
                  <td nzWidth="120px" nzAlign="center">
                      <!-- {{data.plazo | json}} -->
                      @if(data.plazo){
                      <!-- @if(data.nomEstadoRegistro!='DESESTIMADO' && data.nomEstadoRegistro!='CULMINADO'
                      ){ -->
                      @if(data.plazo | dueTo) {
      
                      <span nzTooltipPlacement="left" nz-tooltip="Plazo vencido" class="text-red-500">{{ data.plazo |
                          date:'dd/MM/yyyy' }}</span>
                      }
      
                      @else {
                      {{data.plazo | date:'dd/MM/yyyy'}}
                      }
      
                      }
                  </td>
                  <td nzWidth="120px" nzAlign="center">
                      @if(data.nomEstadoRegistroAC){
                      <app-estado [title]="data.nomEstadoRegistroAC" [isBadge]="false" />
                      }
                  </td>
      
                  <td nzWidth="150px">
                      <p class="line-clamp-1 sm:line-clamp-2" nzTooltipPlacement="left" nz-tooltip
                          [nzTooltipTitle]="data.hito">{{
                          data.hito }}</p>
                  </td>
                  <td nzWidth="120px" nzAlign="center">{{ data.responsableHito }}</td>
                  <td nzWidth="120px" nzAlign="center">{{ data.plazoHito | date:'dd/MM/yyyy' }}</td>
                  <td nzWidth="120px" nzAlign="center">{{ data.estadoHito }}</td>
                  <td nzWidth="150px">
                      <p class="line-clamp-1 sm:line-clamp-2" nzTooltipPlacement="left" nz-tooltip
                          [nzTooltipTitle]="data.avance">{{
                          data.avance }}</p>
                  </td>
      
                  <td>{{ data.comentarioSector || '-' }}</td>
                  <td>{{ data.comentarioSDAv || '-' }}</td>
      
                  <td nzRight nzWidth="150px" nzAlign="center">
                      <nz-space>
                          <button (click)="onGestionarHitoAcuerdo(data.acuerdoID!)" *nzSpaceItem nz-button nzType="link"
                              nzTooltipPlacement="left" nz-tooltip nzTooltipTitle="Ver detalle">
                              <span nz-icon nzType="eye" nzTheme="outline"></span>
                          </button>
      
      
                          @if(data.evidenciaDesestimacion != null){
                          <button *nzSpaceItem nz-button nzType="link" nz-popover
                              nzPopoverTitle="Motivo de solicitud de desestimación"
                              [nzPopoverContent]="data?.motivoDesestimacion" (click)="onVerDesestimacion(data)">
                              <span nz-icon nzType="download" nzTheme="outline"></span>
                          </button>
                          }
      
                          <button *nzSpaceItem nz-button nzType="link" nz-tooltip nzTooltipTitle="Agregar comentario"
                              (click)="onAvanceAddComentario(data)">
                              <span nz-icon nzType="comment" nzTheme="outline"></span>
                          </button>
      
                          @if(authService.permisos()?.puede_validar_avance_pcm){
                          <button *nzSpaceItem nz-button nzType="link" nz-tooltip nzTooltipTitle="Validar avance"
                              (click)="onValidarAvance(data)">
                              <span class="text-green-500" nz-icon nzType="check-circle" nzTheme="outline"></span>
                          </button>
                          }
                      </nz-space>
                  </td>
              </tr>
              }
          </tbody>
      </nz-table>
      
      <ng-template #Header>
          <div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
              <p class="mb-2 sm:mb-0">Resultados ({{this.hitosService.total()}})</p>
              <div>
                  <nz-space>
      
                      <button *nzSpaceItem nz-button nzTooltipPlacement="left" nz-tooltip="Actualizar" (click)="onRefresh()">
                          <span nz-icon nzType="sync" nzTheme="outline"></span>
                      </button>
      
                      <button *nzSpaceItem nz-button (click)="onOpenDrawer()">
                          <span nz-icon nzType="filter" nzTheme="outline"></span>
                          <span class="button-text">Filtros</span>
                          <!-- {{filterCounter()|json}} -->
                          <nz-badge class="button-text pl-1" nzStandalone [nzCount]="filterCounter()"></nz-badge>
                      </button>
      
                      <!-- <button *nzSpaceItem nz-button>
                          <span nz-icon nzType="printer" nzTheme="outline"></span>
                          <span class="button-text">Imprimir acuerdos</span>
                      </button> -->
      
                      <button *nzSpaceItem nz-button nz-dropdown [nzDropdownMenu]="menu" [nzLoading]="loading">
                          <span nz-icon nzType="file-excel" nzTheme="outline"></span>
                          <span class="button-text">Exportar</span>
                          <span nz-icon nzType="down"></span>
                      </button>
                      <nz-dropdown-menu #menu="nzDropdownMenu">
                          <ul nz-menu>
                              <li nz-menu-item>
                                  <button (click)="onDescargarReporte('ACUERDO')" nz-button nzType="text"
                                      type="button">Exportar
                                      acuerdos</button>
                              </li>
                              <li nz-menu-item>
                                  <button nz-button nzType="text" (click)="onDescargarReporte('HITO')" type="button">Exportar
                                      hitos</button>
                              </li>
                          </ul>
                      </nz-dropdown-menu>
      
                      <!-- {{authService.permisos()?.puede_agregar_acuerdo| json}} -->
                      <!-- @if(authService.permisos()?.puede_agregar_acuerdo){
                      <button *nzSpaceItem nz-button nzType="primary" (click)="onAddEdit(null, 'ACUERDO', 'CREATE')">
                          <span nz-icon nzType="plus" nzTheme="outline"></span>
                          <span class="button-text">Nuevo acuerdo</span>
                      </button>
                      } -->
      
      
                      <!-- //TODO: agregar rol para registro de acuerdos express -->
                      <!-- @if(authService.permisos()?.puede_agregar_acuerdo_mt){
                      <button *nzSpaceItem nz-button nzType="primary" (click)="onAddEdit(null, 'ACUERDO', 'RECREATE')">
                          <span nz-icon nzType="plus" nzTheme="outline"></span>
                          <span class="button-text">Agregar acuerdo desde Mesa de Trabajo</span>
                      </button>
                      } -->
                  </nz-space>
              </div>
          </div>
      </ng-template>
  </div>

<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzVisible]="isDrawervisible"
    nzTitle="Filtrar los resultados" [nzFooter]="footerTpl" (nzOnClose)="onCloseDrawer()">
    <form nz-form *nzDrawerContent nzLayout="vertical" [formGroup]="searchForm">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzFor="cui">Código de acuerdo o CUI o Acuerdo</nz-form-label>
                    <nz-form-control nzSpan="null">
                        <nz-input-group [nzSuffix]="suffixIconSearch">
                            <input type="text" #cui id="cui" formControlName="cui" nz-input
                                (keyup)="onCuiChange($event)" placeholder="Ingrese código a buscar" />
                        </nz-input-group>
                        <ng-template #suffixIconSearch>
                            <span nz-icon [nzType]="this.hitosService.isLoading()?'loading':'search'"></span>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null">Clasificación</nz-form-label>
                    <nz-form-control nzSpan="null">
                        <nz-select [nzMaxTagCount]="3" id="clasificacion"
                            [nzMaxTagPlaceholder]="tagClasificacionesPlaceHolder" nzMode="multiple"
                            nzPlaceHolder="Todos" #clasificacion formControlName="clasificacion"
                            [compareWith]="compareFn" nzAllowClear
                            (ngModelChange)="onClasificacionAcuerdosChange($event)">
                            <nz-option *ngFor="let clas of this.clasificacionesStore.clasificaciones()"
                                [nzLabel]="clas.label!" [nzValue]="clas"></nz-option>
                        </nz-select>
                        <ng-template #tagClasificacionesPlaceHolder let-selectedList>y {{ selectedList.length }} más
                            seleccionadas</ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null">Tipo</nz-form-label>
                    <nz-form-control nzSpan="null">
                        <nz-select nzPlaceHolder="Todos" id="tipo" #tipo formControlName="tipo" nzAllowClear
                            (ngModelChange)="onTipoAcuerdosChange($event)">
                            <nz-option nzValue="1" nzLabel="Acuerdo"></nz-option>
                            <nz-option nzValue="2" nzLabel="Compromiso"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null">Estado</nz-form-label>
                    <nz-form-control nzSpan="null">
                        <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagEstadosPlaceHolder" nzMode="multiple"
                            nzPlaceHolder="Todos" id="estado" #estado formControlName="estado" [compareWith]="compareFn"
                            nzAllowClear (ngModelChange)="onEstadoAcuerdosChange($event)">
                            <nz-option *ngFor="let est of this.estadosStore.estados()" [nzLabel]="est.label!"
                                [nzValue]="est"></nz-option>
                        </nz-select>
                        <ng-template #tagEstadosPlaceHolder let-selectedList>y {{ selectedList.length }} más
                            seleccionadas</ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null">TIpos de Espacio</nz-form-label>
                    <!-- {{this.espaciosStore.tiposEspacio()|json}} -->
                    <nz-form-control nzSpan="null">
                        <nz-select nzPlaceHolder="Seleccione" id="tipoEspacio" #tipoEspacio
                            formControlName="tipoEspacio" [compareWith]="compareFn" nzAllowClear
                            (ngModelChange)="onTipoEspacioChange($event)">
                            <nz-option *ngFor="let tEsp of this.espaciosStore.tiposEspacio()" [nzLabel]="tEsp.label!"
                                [nzValue]="tEsp"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            @if(searchForm.get('tipoEspacio')?.value != null) {
            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null">Espacio</nz-form-label>
                    <!-- {{this.espaciosStore.espacios()|json}} -->
                    <nz-form-control nzSpan="null">
                        <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
                            nzPlaceHolder="Todos" id="espacio" #espacio formControlName="espacio"
                            [compareWith]="compareFn" nzAllowClear (ngModelChange)="onEspacioChange($event)">
                            <nz-option *ngFor="let esp of this.espaciosStore.espacios()" [nzLabel]="esp.label!"
                                [nzValue]="esp"></nz-option>
                        </nz-select>
                        <ng-template #tagPlaceHolder let-selectedList>y {{ selectedList.length }} más
                            seleccionadas</ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
            }

            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null">Sector</nz-form-label>
                    <nz-form-control nzSpan="null">
                        <nz-select [nzDisabled]="this.authService.sector() != null && authService.subTipo() != 'PCM'"
                            [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagSectorPlaceHolder" nzMode="multiple"
                            nzPlaceHolder="Todos" id="sector" #sector formControlName="sector" [compareWith]="compareFn"
                            nzAllowClear (ngModelChange)="onSectorChange($event)">
                            <nz-option *ngFor="let sec of this.sectoresStore.sectores()" [nzLabel]="sec.label!"
                                [nzValue]="sec"></nz-option>
                        </nz-select>
                        <ng-template #tagSectorPlaceHolder let-selectedListSectores>y {{ selectedListSectores.length }}
                            más
                            seleccionadas</ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null">Departamento</nz-form-label>
                    <nz-form-control nzSpan="null">
                        <nz-select [nzDisabled]="authService.departamento() != null && authService.subTipo() != 'PCM'"
                            id="dep" class="w-full" #dep formControlName="dep" nzPlaceHolder="Todos" nzShowSearch
                            [compareWith]="compareFn" nzAllowClear (ngModelChange)="onDepChange($event)">
                            <nz-option *ngFor="let ubg of this.ubigeosStore.departamentos()" [nzValue]="ubg"
                                [nzLabel]="ubg.label!">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            @if(depSeleccionado != null){
            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null">Provincia</nz-form-label>
                    <nz-form-control nzSpan="null">
                        <nz-select [nzDisabled]="authService.provincia() != null && authService.subTipo() != 'PCM'"
                            class="w-full" #prov id="prov" formControlName="prov" nzPlaceHolder="Todas" nzShowSearch
                            [compareWith]="compareFn" nzAllowClear (ngModelChange)="onProvChange($event)">
                            <nz-option *ngFor="let prov of this.ubigeosStore.provincias()" [nzValue]="prov"
                                [nzLabel]="prov.label!">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            }

            @if(provSeleccionada != null){
            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null">Distrito</nz-form-label>
                    <nz-form-control nzSpan="null">
                        <nz-select [nzDisabled]="authService.distrito() != null && authService.subTipo() != 'PCM'"
                            class="w-full" #dis id="dis" formControlName="dis" nzPlaceHolder="Todas" nzShowSearch
                            [compareWith]="compareFn" nzAllowClear (ngModelChange)="onDisChange($event)">
                            <nz-option *ngFor="let dis of this.ubigeosStore.distritos()" [nzValue]="dis"
                                [nzLabel]="dis.label!">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            }

            <!-- <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <div class="inner-box">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="null" nzFor="termino">Buscar</nz-form-label>
                        <nz-form-control nzSpan="null">
                            <nz-input-group [nzSuffix]="suffixIconSearch">
                                <input #termino id="termino" type="search" nz-input formControlName="termino"
                                    placeholder="Buscar" (keyup)="onKeySearch($event)" />
                            </nz-input-group>
                            <ng-template #suffixIconSearch>
                                @if(termino.value !== '' && termino.value !== null && termino.value !== undefined){
                                <span nz-icon nzType="close" (click)="onClearSearch()"></span>
                                }@else{
                                <span nz-icon nzType="search"></span>
                                }
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div> -->
        </div>
        <!-- <code>{{searchForm.valid | json}}<br>
        {{searchForm.value | json}}</code> -->
    </form>


    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="onClearFilters([]);">Limpiar filtros</button>
            <button nz-button nzType="primary" (click)="onCloseDrawer()"><span nz-icon nzType="save"
                    nzTheme="outline"></span> Guardar filtros</button>
        </div>
    </ng-template>
</nz-drawer>