<div class="w-full md:w-[580px] bg-white dark:bg-neutral-800 flex flex-col shadow-md rounded-xl">
    <div class="text-center bg-red-600 text-white rounded-t-xl py-4 px-5">
        <h1 class="text-lg text-white font-normal">
            {{ login ? 'Bienvenido al sistema de seguimiento' : 'Registro de usuario' }}
        </h1>
        <p>
            {{ login ? 'Completar el formulario para ingresar al sistema' : 'Ingrese los campos necesarios para registrarse' }}
        </p>
    </div>
    <nz-tabset nzCentered (nzSelectChange)="actiontabs($event)">
        <nz-tab nzTitle="Iniciar sesión">
            <div class="px-8 pt-4 pb-8 md:px-16">
                <app-form-login />
            </div>
        </nz-tab>
        <nz-tab nzTitle="Registrarse">
            <div class="px-8 pt-4 pb-8">
                <app-register />
            </div>
        </nz-tab>
    </nz-tabset>
</div>