<!-- <div class="flex flex-col gap-5"> -->
<div class="grid grid-cols-1">
  <nz-table [nzScroll]="{ x: 'max-content' }" class="min-w-full" [nzTitle]="HeaderTareas" nzShowSizeChanger nzSize="small"
    [nzData]="intervencionTareas()" [nzFrontPagination]="false" [nzLoading]="loadingTareas" [nzTotal]="pagination.total!" [nzShowPagination]="pagination.total! > 5"
    [nzPageSize]="pagination.pageSize!" [nzPageIndex]="pagination.currentPage!">
    <thead>
      <tr>
        <th nzWidth="10px" nzAlign="center"></th>
        <th nzWidth="80px" nzAlign="center"nzColumnKey="codigoIntervencion" [nzSortFn]="true">Codigo</th>
        <th nzWidth="300px" nzColumnKey="tarea" [nzSortFn]="true">Tarea</th>
        <th nzWidth="100px" nzAlign="center">Fase</th>
        <th nzWidth="106px" nzAlign="center">Etapa</th>
        <th nzWidth="106px" nzAlign="center">Hito</th>
        <th nzWidth="80px" nzAlign="center" nzColumnKey="responsableId" [nzSortFn]="true">Responsable</th>
        <th nzWidth="140px" nzAlign="center">Entidad</th>
        <th nzWidth="80px" nzAlign="center">Plazo</th>
        <th nzWidth="100px" nzAlign="center" nzColumnKey="estadoRegistro" [nzSortFn]="true">Estado</th>
        <th nzWidth="140px" nzAlign="center">Comentario</th>
        <th nzRight nzWidth="100px" nzAlign="center" [nzWidth]="'80px'"></th>
      </tr>
    </thead>
    
    <tbody>
      @for(tarea of intervencionTareas(); track $index){
        <tr>
          <td nzAlign="center"><app-icono-validado [validado]="tarea.validado!" class="flex justify-center"/></td>
          <td nzAlign="center">
            <p class="font-bold" (click)="tarea.validado ? obtenerTareaAvances(tarea) : null" [ngClass]="{ 'cursor-pointer' : tarea.validado }">{{tarea.codigo}}</p>
          </td>
          <td>
            <p (click)="tarea.validado ? obtenerTareaAvances(tarea) : null" [ngClass]="{ 'cursor-pointer' : tarea.validado }">{{tarea.tarea}}</p>
          </td>
          <td nzAlign="center">{{tarea.intervencionFase}}</td>
          <td nzAlign="center">{{tarea.intervencionEtapa}}</td>
          <td nzAlign="center">{{tarea.intervencionHito}}</td>
          <td nzAlign="center">{{tarea.responsable}}</td>
          <td nzAlign="center">{{tarea.entidad}}</td>
          <td nzAlign="center">{{tarea.plazo}}</td>
          <td nzAlign="center">{{obtenerEstadoRegistro(tarea.estadoRegistroNombre!) | replace : '_' : ' ' }}</td>
          <td nzAlign="center">{{permisosPCM ? tarea.comentario : tarea.comentarioSd }}</td>
          <td nzAlign="center"  nzRight>
            <div class="flex justify-center">
              <app-boton [link]="true" [icono]="'comments'" [disabled]="tarea.validado || !disabledBotonNuevo()" [tooltip]="!tarea.validado && disabledBotonNuevo() ? 'Comentar tarea' : ''" (click)="!tarea.validado && disabledBotonNuevo() ? comentarTarea(tarea) : null"/>

              <app-boton [link]="true" [icono]="'check-circle'" [color]="'green'" [stepColor]="500" [disabled]="disabledValidar(tarea)" [tooltip]="!disabledValidar(tarea) ? 'Validar tarea' : ''" (click)="validarTarea(tarea)"/>

              <app-boton [link]="true" [icono]="'eye'" [disabled]="!tarea.validado" [tooltip]="tarea.validado ? 'Ver Avances' : ''" (click)="tarea.validado ? obtenerTareaAvances(tarea) : null"/>

              <app-boton *ngIf="!esResponsable(tarea)" [link]="true" [icono]="'pencil'" [disabled]="disabledValidar(tarea)" [tooltip]="!disabledValidar(tarea) ? 'Actualizar tarea' : ''" (click)="!disabledValidar(tarea) ? actualizarTarea(tarea.intervencionTareaId!) : null"/>

              <app-boton *ngIf="!esResponsable(tarea)" [link]="true" [icono]="'trash'" [color]="'red'" [stepColor]="500" [disabled]="disabledValidar(tarea)" [tooltip]="!disabledValidar(tarea) ? 'Eliminar tarea' : ''"  (click)="!disabledValidar(tarea) ? eliminarTarea(tarea) : null"/>
            </div>
          </td>
        </tr>
        }
    </tbody>
  </nz-table>
  
  <ng-template #HeaderTareas>
      <div class="flex flex-col sm:flex-row justify-between items-center gap-3">
          <div class="flex flex-col ">
              <p class="font-semibold text-base">Gestión de tareas</p>
              <p class="text-sm">Resultados {{pagination.total}}</p>
          </div>
          <div class="flex gap-2">
            <app-boton [icono]="'sync'" [outline]="true" [tooltip]="'Actualizar tareas'" (click)="actualizarListaTareas(true)" class="flex"/>

            <app-boton *ngIf="tareaActions.new" [icono]="'plus'" [texto]="'Nueva Tarea'" [disabled]="disabledBotonNuevo()" [tooltip]="disabledBotonNuevo() ? '' : 'Agregar nueva tarea'" (click)="disabledBotonNuevo() ? null : agregarTarea()"/>
          </div>

      </div>
  </ng-template>
  
  <app-intervencion-tarea-avances *ngIf="verAvances" [intervencionEspacio]="intervencionEspacio" [intervencionTarea]="intervencionTarea" [primeraTarea]="intervencionTareas().length == 1" (tareaUpdated)="actualizarListaTareas($event)"/>
</div>
