<app-card [titulo]="'Proyectos aptos por financiar'">
    <ng-template #content>
        <app-table-card [scrollY]="550">
            <ng-template #header>
                <tr>
                    <th rowspan="2">Mesa</th>
                    <th colspan="2" nzAlign="center" [nzWidth]="'100px'">Cartera total</th>
                    <th nzAlign="center" [nzWidth]="'100px'">Demanda estimada 2026</th>
                    <th colspan="2" nzAlign="center" [nzWidth]="'100px'">Demanda de recursos para continuar</th>
                    <th colspan="2" nzAlign="center" [nzWidth]="'100px'">Demanda para nuevo proyecto</th>
                </tr>
                <tr>
                    <th nzAlign="center" [nzWidth]="'100px'">N°</th>
                    <th nzAlign="center" [nzWidth]="'100px'">Costo</th>
                    <th nzAlign="center" [nzWidth]="'100px'">Costo</th>
                    <th nzAlign="center" [nzWidth]="'100px'">N°</th>
                    <th nzAlign="center" [nzWidth]="'100px'">Dem. estimada</th>
                    <th nzAlign="center" [nzWidth]="'100px'">N°</th>
                    <th nzAlign="center" [nzWidth]="'100px'">Dem. estimada</th>
                </tr>
            </ng-template>
            <ng-template #body>
                <tr>
                    <td>MT_ANTA</td>
                    <td nzAlign="center">10</td>
                    <td nzAlign="center">72,751,661</td>
                    <td nzAlign="center">23,579,295</td>
                    <td nzAlign="center">2</td>
                    <td nzAlign="center">2,805,519</td>
                    <td nzAlign="center">8</td>
                    <td nzAlign="center">20,773,776</td>
                </tr>
                <tr class="sticky bottom-0 bg-[#e8e8e8] z-10 shadow-md font-bold text-xs uppercase">
                    <td> Total</td>
                    <td nzAlign="center">10</td>
                    <td nzAlign="center">72,751,661</td>
                    <td nzAlign="center">23,579,295</td>
                    <td nzAlign="center">2</td>
                    <td nzAlign="center">2,805,519</td>
                    <td nzAlign="center">8</td>
                    <td nzAlign="center">20,773,776</td>
                </tr>
            </ng-template>
        </app-table-card>
    </ng-template>
</app-card>
