<app-card [titulo]="'Proyectos aptos por financiar'" [px]="'px-1'" [py]="'py-1'">
    <ng-template #content>
        <nz-table nzSize="small" nzTemplateMode [nzScroll]="{ y: '200px', x: '100%' }" class="custom-table">
            <thead>
                <tr>
                    <th nzLeft rowspan="2" [nzWidth]="'80px'">Sector</th>
                    <th colspan="2" nzAlign="center">Cartera total</th>
                    <th colspan="2" nzAlign="center">PIM 2025</th>
                    <th nzRight rowspan="2" nzAlign="center" [nzWidth]="'80px'">Demanda</th>
                </tr>
                <tr>
                    <th nzAlign="center" [nzWidth]="'100px'">N° Invers.</th>
                    <th nzAlign="center" [nzWidth]="'100px'">Costo</th>
                    <th nzAlign="center" [nzWidth]="'100px'">N° Invers.</th>
                    <th nzAlign="center" [nzWidth]="'100px'">PIM</th>
                </tr>
            </thead>
            <tbody>
                @for (proyecto of intervencionFinanciamiento; track $index) {
                    <tr>
                        <td nzLeft>{{proyecto.nombre}}</td>
                        <td nzAlign="center">{{proyecto.cantIntervenciones}}</td>
                        <td nzAlign="center">{{proyecto.costoActualizado | numero : 1}}</td>
                        <td nzAlign="center">{{proyecto.inversionActual}}</td>
                        <td nzAlign="center">{{proyecto.pim | numero : 2}}</td>
                        <td nzRight nzAlign="center">{{proyecto.demanda | numero : 2}}</td>
                    </tr>
                }
                <tr class="sticky bottom-0 bg-[#e8e8e8] z-10 shadow-md font-bold text-xs uppercase">
                    <td nzLeft class="bg-[#e8e8e8]"> Total</td>
                    <td nzAlign="center">{{totales.cantIntervenciones}}</td>
                    <td nzAlign="center">{{totales.costoActualizado | numero : 1}}</td>
                    <td nzAlign="center">{{totales.inversionActual}}</td>
                    <td nzAlign="center">{{totales.pim | numero : 2}}</td>
                    <td nzRight nzAlign="center" class="bg-[#e8e8e8]">{{totales.demanda | numero : 2}}</td>
                </tr>
            </tbody>
        </nz-table>
    </ng-template>
</app-card>
