<!-- <span class="inline-flex items-center justify-between gap-1 p-1 rounded-full border min-w[88px]" [ngClass]="'' + getThemeState().color "> -->
<div class="flex items-center gap-1 py-1 px-2 rounded-full border md:w-[120px]" [ngClass]="'' + getThemeState().color">
    <!-- <span nz-icon [nzType]="getThemeState().icono" nzTheme="outline"></span> -->
     <i class="pi pi-{{getThemeState().icono}}" style="font-size: .75rem;"></i>
    <div class="w-full text-xs justify-center font-semibold hidden md:flex" style="font-size: .7rem;">{{ estado | uppercase }}</div>    
</div>
