<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="'400px'" [nzClosable]="true" [nzVisible]="visible"
	nzTitle="Filtrar los resultados" [nzFooter]="footerFilter" (nzOnClose)="changeVisibleDrawer(false)">
	<form *nzDrawerContent [formGroup]="formFilters" nz-form nzLayout="vertical" autocomplete="off">
		<div class="flex flex-col w-full gap-4">

      <div class="flex flex-col">
        <label for="codigo">Código de atención</label>
        <input type="text" class="form-control" id="codigo" placeholder="Codigo de atención" formControlName="codigo" (keyup)="changeControl($event,'codigo')" />
      </div>

      <div class="flex flex-col">
        <label>Eventos</label>
        <p-dropdown 
          [options]="eventos()"
          formControlName="eventoId"
          optionLabel="nombre"
          optionValue="eventoId"
          [showClear]="true" 
          placeholder="Seleccionar evento"
          (onChange)="changeEvento()"/>
      </div>

      @if(permisosPCM){
        <div class="flex flex-col">
          <label>Fecha inicio</label>
          <p-calendar 
            formControlName="fechaInicio"
            [iconDisplay]="'input'" 
            [showIcon]="true"
            [showButtonBar]="true"
            dateFormat="dd/mm/yy"
            inputId="icondisplay"
            (ngModelChange)="changefechaInicio()"/>
        </div>

        <div class="flex flex-col">
          <label>Fecha fin</label>
          <p-calendar 
            formControlName="fechaFin"
            [iconDisplay]="'input'" 
            [showIcon]="true"
            [showButtonBar]="true"
            dateFormat="dd/mm/yy"
            inputId="icondisplay"
            (ngModelChange)="changeFechaFin()"/>
        </div>

        <div class="flex flex-col">
          <label>Sectores</label>
          <p-dropdown 
            [options]="sectores()"
            formControlName="sectorId"
            optionLabel="nombre"
            optionValue="grupoID"
            [showClear]="true" 
            placeholder="Seleccionar sector"
            (onChange)="changeSector()"/>
        </div>
        
        <div class="flex flex-col">
          <label for="departamento">Tipo de atención</label>
          <p-multiSelect
          [options]="tipos"
          formControlName="tipos"
          optionLabel="text"
          optionValue="value"
          placeholder="Seleccionar tipos"
          (onChange)="changeTipoAtencion()"
          />
          <!-- <p-dropdown 
          [options]="tipos"
          formControlName="tipoAtencion"
          optionLabel="text"
          optionValue="value"
          [showClear]="true" 
          placeholder="Seleccionar tipo de atencion"
          (onChange)="changeTipoAtencion()">
          </p-dropdown> -->
        </div>
      }

      <div class="flex flex-col">
        <label for="departamento">Departamento</label>
        <p-dropdown 
        [options]="departamentos()"
        formControlName="departamento"
        optionLabel="departamento"
        optionValue="departamentoId"
        [showClear]="true"
        [filter]="true"
        placeholder="Seleccionar departamento"
        (onChange)="changeDepartamento()"/>
      </div>

      <div class="flex flex-col">
        <label for="nombre">Provincia</label>
        <p-dropdown 
        [options]="provincias()"
        formControlName="provincia"
        optionLabel="provincia"
        optionValue="provinciaId"
        [showClear]="true" 
        placeholder="Seleccionar provincia"
        (onChange)="changeProvincia()"/>
      </div>

      <div  class="flex flex-col">
        <label for="nombre">Distrito</label>
        <p-dropdown 
        [options]="distritos()"
        formControlName="distrito"
        optionLabel="distrito"
        optionValue="distritoId"
        [showClear]="true" 
        placeholder="Seleccionar distrito"
        (onChange)="changeDistrito()"/>
      </div>
		</div>
	</form>

	<ng-template #footerFilter>
    <div class="flex justify-end gap-2">
        <div class="cursor-pointer flex items-center gap-1 py-2 px-3 rounded border border-sky-700 text-sky-700 hover:bg-sky-700 hover:text-white" (click)="cleanParams()">
          <i class="pi pi-filter-slash" style="font-size: 0.75rem"></i>
          <span class="hidden md:flex">Limpiar filtros</span>
        </div>

        <div class="cursor-pointer flex items-center gap-1 py-2 px-3 rounded border border-sky-700 bg-sky-700 text-white hover:bg-sky-800" (click)="changeVisibleDrawer(false)">
          <i class="pi pi-save" style="font-size: 0.75rem"></i>
          <span class="hidden md:flex">Buscar filtros</span>
        </div>
    </div>
	</ng-template>
</nz-drawer>