<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="'400px'" [nzClosable]="true" [nzVisible]="visible"
	nzTitle="Filtrar los resultados" [nzFooter]="footerFilter" (nzOnClose)="changeVisibleDrawer(false)">
	<form *nzDrawerContent [formGroup]="formFilters" nz-form nzLayout="vertical" autocomplete="off">
		<div class="flex flex-col w-full gap-4">

      <div class="flex flex-col">
        <label for="codigo">Código de atención</label>
        <input type="text" class="form-control" id="codigo" placeholder="Codigo de atención" formControlName="codigo" (keyup)="changeCodigo($event)" />
      </div>

      <div class="flex flex-col">
        <label>Eventos</label>
        <p-dropdown 
          [options]="eventos()"
          formControlName="eventoId"
          optionLabel="nombre"
          optionValue="eventoId"
          [showClear]="true" 
          placeholder="Seleccionar evento"
          (onChange)="changeEvento()"/>
      </div>

      @if(permisosPCM){
        <div class="flex flex-col">
          <label>Fecha inicio</label>
          <p-calendar 
            formControlName="fechaInicio"
            [iconDisplay]="'input'" 
            [showIcon]="true"
            [showButtonBar]="true"
            dateFormat="dd/mm/yy"
            inputId="icondisplay"
            (ngModelChange)="changefechaInicio()"/>
        </div>

        <div class="flex flex-col">
          <label>Fecha fin</label>
          <p-calendar 
            formControlName="fechaFin"
            [iconDisplay]="'input'" 
            [showIcon]="true"
            [showButtonBar]="true"
            dateFormat="dd/mm/yy"
            inputId="icondisplay"
            (ngModelChange)="changeFechaFin()"/>
        </div>

        <div class="flex flex-col">
          <label>Sectores</label>
          <p-dropdown 
            [options]="sectores()"
            formControlName="sectorId"
            optionLabel="nombre"
            optionValue="grupoID"
            [showClear]="true" 
            placeholder="Seleccionar sector"
            (onChange)="changeSector()"/>
        </div>
      }
		</div>
	</form>

	<ng-template #footerFilter>
		<div class="flex justify-end gap-2">
			<button nz-button nzType="primary" (click)="changeExport()">
				<span nz-icon nzType="file-excel"></span>
				<span class="button-text">Exportar</span>
			  </button>
		</div>
	</ng-template>
</nz-drawer>