<nz-page-header nzBackIcon [nzGhost]="false">
	<nz-page-header-title>{{title}}</nz-page-header-title>
</nz-page-header>

<div class="flex flex-col gap-6">
	<app-intervencion-panel-info />

	<div class="grid md:grid-cols-3 gap-4">
		<app-intervencion-panel-mapa />

		<div class="flex flex-col gap-4">
			<app-intervencion-panel-sector />
			<app-intervencion-panel-nivel-gobierno />
		</div>

		<app-intervencion-panel-ubigeo /> 

	</div>
	<div class="grid md:grid-cols-2 gap-4">
		<app-intervencion-panel-aptos />
		<app-intervencion-panel-estado />
	</div>
</div>