<app-page-header [title]="this.acuerdosService.acuerdoSeleccionado()?.acuerdo" [content]="contentTpl"></app-page-header>

<ng-template #contentTpl>
    <nz-descriptions nzSize="small" [nzColumn]="4" nzBordered>
        <nz-descriptions-item nzTitle="Sector"
            [nzSpan]="1">{{this.acuerdosService.acuerdoSeleccionado()?.sector}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Departamento"
            [nzSpan]="1">{{this.acuerdosService.acuerdoSeleccionado()?.depaid}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Provincia"
            [nzSpan]="1">{{this.acuerdosService.acuerdoSeleccionado()?.provincia}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="CUI"
            [nzSpan]="1">{{this.acuerdosService.acuerdoSeleccionado()?.cuis}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Intervenciones Estratégicas"
            [nzSpan]="4">{{this.acuerdosService.acuerdoSeleccionado()?.intervencionesEstrategicas}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Aspectocrítico a resolver"
            [nzSpan]="4">{{this.acuerdosService.acuerdoSeleccionado()?.aspectoCriticoResolver}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Código"
            [nzSpan]="1">{{this.acuerdosService.acuerdoSeleccionado()?.codigo}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Clasificacion"
            [nzSpan]="1">{{this.acuerdosService.acuerdoSeleccionado()?.clasificacion}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Responsable"
            [nzSpan]="1">{{this.acuerdosService.acuerdoSeleccionado()?.responsable}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Plazo"
            [nzSpan]="1">{{this.acuerdosService.acuerdoSeleccionado()?.plazo}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Estado"
            [nzSpan]="1">{{this.acuerdosService.acuerdoSeleccionado()?.estado}}</nz-descriptions-item>
    </nz-descriptions>
</ng-template>

<nz-table nzSize="small" [nzTitle]="HeaderAcuerdo" nzShowSizeChanger [nzData]="this.hitosService.hitos()"
    [nzFrontPagination]="false" [nzLoading]="this.hitosService.isLoading()" [nzTotal]="this.hitosService.total()"
    [nzPageSize]="this.pageSize" [nzPageIndex]="this.pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
        <tr>
            <th></th>
            <th nzColumnKey="hito" [nzSortFn]="true">Hito</th>
            <th nzColumnKey="responsable" [nzFilterFn]="true">Entidad responsable</th>
            <th nzColumnKey="plazo" [nzSortFn]="true">Plazo</th>
            <th nzColumnKey="nomContacto" [nzSortFn]="true">Contacto</th>
            <th nzColumnKey="acciones"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of this.hitosService.hitos()" [class.bg-yellow-100]="data.hitoId === hitoSeleccionadoId">
            <td>
                <input class="cursor-pointer" type="radio" [id]="'hitoId_' + data.hitoId" name="hitoId"
                    [value]="data.hitoId" [(ngModel)]="hitoSeleccionadoId"
                    (ngModelChange)="onHitoSelected(data.hitoId)">
            </td>
            <td>{{ data.hito }} </td>
            <td>{{ data.responsable }}</td>
            <td>{{ data.plazo }}</td>
            <td>{{ data.nomContacto }}</td>
            <td nzRight class="w-40">
                <nz-space>
                    <button *nzSpaceItem nz-button nzType="link" nz-tooltip nzTooltipTitle="Editar hito">
                        <span nz-icon nzType="edit" nzTheme="outline"></span>
                    </button>
                    <!-- Comentario del sector -->
                    <button *nzSpaceItem nz-button nzType="link" nz-tooltip
                        nzTooltipTitle="Agregar comentario del sector">
                        <span nz-icon nzType="comment" nzTheme="outline"></span>
                    </button>
                    <!-- Comentario del sector -->

                    <!-- Comentario del responsable del hito -->
                    <button *nzSpaceItem nz-button nzType="link" nz-tooltip nzTooltipTitle="Agregar avance">
                        <span nz-icon nzType="file-add" nzTheme="outline"></span>
                    </button>
                    <!-- Comentario del responsable del hito -->
                    <button *nzSpaceItem nz-button nzType="link" nz-tooltip nzTooltipTitle="Reactivar estado">
                        <span nz-icon nzType="rollback" nzTheme="outline"></span>
                    </button>
                    <button *nzSpaceItem nz-button nzType="link" nz-tooltip nzTooltipTitle="Validar hito">
                        <span class="text-green-500" nz-icon nzType="check-circle" nzTheme="outline"></span>
                    </button>
                    <button *nzSpaceItem nz-button nzDanger nzType="link" nz-tooltip nzTooltipTitle="Eliminar">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                </nz-space>
            </td>
        </tr>
    </tbody>
</nz-table>

<ng-template #HeaderAcuerdo>
    <div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
        <p class="mb-2 sm:mb-0 font-semibold text-base">
            Gestión de hitos
        </p>

        <div>
            <nz-space>
                @if(hitoSeleccionadoId!==null){
                <button *nzSpaceItem nz-button (click)="hitoSeleccionadoId=null">
                    <span nz-icon nzType="close" nzTheme="outline"></span>
                    <span class="button-text">Quitar hito selecionado</span>
                </button>
                }



                <button *nzSpaceItem nz-button nzType="primary">
                    <span nz-icon nzType="plus" nzTheme="outline"></span>
                    <span class="button-text">Nuevo hito</span>
                </button>
            </nz-space>
        </div>
    </div>
</ng-template>

@if(hitoSeleccionadoId!==null){
<nz-table nzSize="small" [nzTitle]="HeaderAvance" nzShowSizeChanger [nzData]="this.avancesService.avances()"
    [nzFrontPagination]="false" [nzLoading]="this.avancesService.isLoading()" [nzTotal]="this.avancesService.total()"
    [nzPageSize]="this.pageSizeAvance" [nzPageIndex]="this.pageIndexAvance"
    (nzQueryParams)="onQueryParamsChangeAvances($event)" class="mt-8">
    <thead>
        <tr>
            <th nzColumnKey="fecha">Fecha</th>
            <th nzColumnKey="avance">Avance</th>
            <th class="text-center" nzColumnKey="evidencia">Evidencia</th>
            <th class="text-center" nzColumnKey="comentarioSector">Comentario Sector</th>
            <th class="text-center" nzColumnKey="comentario">Comentario UE/GL</th>
            <th class="text-center" nzColumnKey="comentarioSD">Comentario PCM</th>
            <th nzColumnKey="acciones"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of this.avancesService.avances()">
            <td>{{ data.fecha }} </td>
            <td>{{ data.avance }}</td>
            <td class="text-center">
                @if (data.evidencia) {
                <a target="_blank" [href]="evidenciaBaseUrl + data.evidencia"><span nz-icon nzType="file-pdf"
                        nzTheme="outline"></span></a>
                }@else {
                -
                }
            </td>
            <td class="text-center">{{ data.comentarioSector || '-' }}</td>
            <td class="text-center">{{ data.comentario || '-' }}</td>
            <td class="text-center">{{ data.comentarioSD || '-' }}</td>
            <td nzRight class="w-40">
                <nz-space>
                    <button *nzSpaceItem nz-button nzType="link" nz-tooltip nzTooltipTitle="Editar avance">
                        <span nz-icon nzType="edit" nzTheme="outline"></span>
                    </button>
                    <button *nzSpaceItem nz-button nzType="link" nz-tooltip nzTooltipTitle="Agregar comentario">
                        <span nz-icon nzType="comment" nzTheme="outline"></span>
                    </button>
                    <button *nzSpaceItem nz-button nzType="link" nz-tooltip nzTooltipTitle="Validar avance">
                        <span class="text-green-500" nz-icon nzType="check-circle" nzTheme="outline"></span>
                    </button>
                    <button *nzSpaceItem nz-button nzDanger nzType="link" nz-tooltip nzTooltipTitle="Eliminar">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                </nz-space>
            </td>
        </tr>
    </tbody>
</nz-table>

<ng-template #HeaderAvance>
    <div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
        <p class="mb-2 sm:mb-0 font-semibold text-base">
            Gestión de avances del hito # {{ hitoSeleccionadoId}}
        </p>

        <div>
            <nz-space>
                <button *nzSpaceItem nz-button nzType="primary">
                    <span nz-icon nzType="plus" nzTheme="outline"></span>
                    <span class="button-text">Nuevo avance</span>
                </button>
            </nz-space>
        </div>
    </div>
</ng-template>
}