<form [formGroup]="acuerdoForm" nz-form nzLayout="vertical">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">

        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-form-item>
                <nz-form-label [nzSpan]="null" nzRequired>Tipo</nz-form-label>
                <nz-form-control nzSpan="null" nzErrorTip="Campo requerido">
                    <nz-select nzPlaceHolder="Todos" id="tipoSelect" #tipoSelect formControlName="tipoSelect"
                        nzAllowClear (ngModelChange)="onTipoAcuerdosChange($event)">
                        <nz-option nzValue="1" nzLabel="Acuerdo"></nz-option>
                        <nz-option nzValue="2" nzLabel="Compromiso"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="null" nzFor="acuerdo" nzRequired>Acuerdo</nz-form-label>
                <nz-form-control nzSpan="null" nzHasFeedback nzErrorTip="Campo requerido">
                    <textarea nz-input id="acuerdo" formControlName="acuerdo" placeholder="Ingrese el acuerdo"
                        nzAutosize></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
        <!-- <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="null" nzFor="pre_Acuerdo">Pre acuerdo</nz-form-label>
                <nz-form-control nzSpan="null" nzHasFeedback nzErrorTip="Campo requerido">
                    <textarea nz-input id="pre_Acuerdo" formControlName="pre_Acuerdo"
                        placeholder="Ingrese el pre acuerdo" nzAutosize></textarea>
                </nz-form-control>
            </nz-form-item>
        </div> -->

        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="null" nzRequired>Clasificación</nz-form-label>
                <nz-form-control nzSpan="null" nzErrorTip="Campo requerido">
                    <nz-select [nzMaxTagCount]="3" id="clasificacionSelect" nzPlaceHolder="Seleccione"
                        #clasificacionSelect formControlName="clasificacionSelect" [compareWith]="compareFn"
                        nzAllowClear (ngModelChange)="onClasificacionAcuerdosChange($event)">
                        <nz-option *ngFor="let clas of this.clasificacionesStore.clasificaciones()"
                            [nzLabel]="clas.label!" [nzValue]="clas"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="null">Plazo</nz-form-label>
                <nz-form-control nzSpan="null" nzHasFeedback nzErrorTip="Campo requerido">
                    <nz-date-picker [nzDisabledDate]="disabledDate" class="w-full" formControlName="plazo"
                        nzPlaceHolder="Seleccionar fecha" nzFormat="dd/MM/yyyy"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
            <nz-form-item>
                <nz-form-label [nzSpan]="null" nzRequired>Responsable</nz-form-label>
                <nz-form-control nzSpan="null" nzHasFeedback nzErrorTip="Campo requerido">
                    <nz-select nzPlaceHolder="Seleccione" id="responsableSelect" #responsableSelect nzAllowClear
                        formControlName="responsableSelect" (ngModelChange)="onResponsableAcuerdosChange($event)"
                        [compareWith]="compareFn">
                        <nz-option *ngFor="let tEnt of this.sectoresStore.tiposEntidades()" [nzLabel]="tEnt.label!"
                            [nzValue]="tEnt"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

        @if(this.acuerdoForm.get('responsableSelect')?.value != null && this.acuerdoSeleccionado?.acuerdoId){

        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="16">
            <nz-form-item>
                <nz-form-label [nzSpan]="null">Entidad</nz-form-label>
                <nz-form-control nzSpan="null" nzHasFeedback>
                    <nz-select nzPlaceHolder="Seleccione" id="entidadSelect" #entidadSelect
                        formControlName="entidadSelect" nzAllowClear nzShowSearch
                        (ngModelChange)="onEntidadIDChange($event)" [compareWith]="compareFn">
                        <nz-option *ngFor="let sect of this.sectoresStore.entidadesResponsables()"
                            [nzLabel]="sect.label!" [nzValue]="sect"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        }

    </div>
    <!-- {{this.acuerdoForm.value|json}} -->


    <!-- {{this.acuerdosService.acuerdoSeleccionado()|json }} -->
    <!-- {{this.acuerdosService.isConverting()|json }} -->
</form>