<div class="grid grid-cols-1 md:grid-cols-3 bg-white py-4 gap-2 md:gap-0">
	<div class="flex col-span-2 lg:col-span-1 border border-gray-200">
		<div class="flex items-center min-w-[124px] lg:min-w-[120px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Nombre</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{perfil.nombre}}</div>
	</div>
	<div class="flex col-span-2 lg:col-span-2 border border-gray-200">
		<div class="flex items-center min-w-[124px] lg:min-w-[120px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Descripción</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{perfil.descripcion}}</div>
	</div>
	<div class="flex col-span-2 lg:col-span-1 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[120px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Nivel</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{perfil.nivel}}</div>
	</div>
	<div class="flex col-span-2 lg:col-span-1 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[120px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Sub tipo</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{perfil.subTipo}}</div>
	</div>
	<div class="flex col-span-2 lg:col-span-1 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[120px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Sub Tipo código</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{perfil.subTipoCodigo}}</div>
	</div>
</div>

