<app-page-header [title]="title.toUpperCase()" backUrl="panel" />
<div class="grid grid-cols-1">
	<nz-table [nzScroll]="{ x: 'max-content' }" class="min-w-full" [nzTitle]="HeaderUser" nzShowSizeChanger nzSize="small"
	  [nzData]="usuarios()" [nzFrontPagination]="false" [nzLoading]="loadingData" [nzTotal]="pagination.total!"
	  [nzPageSize]="pagination.pageSize!" [nzPageIndex]="pagination.currentPage!" (nzQueryParams)="onQueryParamsChange($event)">
	  <thead>
		<tr>
			@if (perfilAuth == 11) {
				<th nzLeft nzWidth="80px" nzAlign="center" nzColumnKey="estado" [nzSortFn]="true">DNI</th>
			}
		<th	nzLeft nzWidth="140px" nzAlign="center">Nombre</th>
		  <th nzWidth="120px" nzAlign="center">Correo</th>
		  <th nzWidth="120px" nzAlign="center">Entidad</th>
		  <th nzWidth="100px" nzAlign="center">Departamento</th>
		  <th nzWidth="100px" nzAlign="center">Provincia</th>
		  <th nzWidth="100px" nzAlign="center">Distrito</th>
		  <th nzWidth="100px" nzAlign="center">Perfil</th>
		  <th nzWidth="90px" nzAlign="center">Telefono</th>
		</tr>
	  </thead>
	  
	  <tbody>
		@for(usuario of usuarios(); track $index){
				<tr>
					@if (perfilAuth == 11) {
						<td nzLeft nzAlign="center">{{usuario.numeroDocumento}}</td>
					}
					<td nzLeft nzAlign="center">{{usuario.nombresPersona}}</td>
					<td nzAlign="center">{{usuario.correoNotificacion}}</td>
					<td nzAlign="center">{{usuario.entidadNombre}}</td>
					<td nzAlign="center">{{usuario.departamento}}</td>
					<td nzAlign="center">{{usuario.provincia}}</td>
					<td nzAlign="center">{{usuario.distrito}}</td>
					<td nzAlign="center"><p [nz-tooltip]="usuario.descripcionPerfil">{{usuario.perfil}}</p></td>
					<td nzAlign="center">{{usuario.telefono}}</td>
				</tr>
			}
			</tbody>
		</nz-table>
	
		<ng-template #HeaderUser>
			<div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
				<p class="mb-2 sm:mb-0">Resultados {{pagination.total}}</p>
				<div class="flex gap-2">
					<app-boton *ngIf="usuarioPermisos.report" [icono]="'filter'" [texto]="'Filtro'" [outline]="true" (click)="openFilter = true"/>

					<div *ngIf="usuarioPermisos.report" class="flex items-center py-1 px-3 gap-2 rounded border cursor-default border-sky-700 text-sky-700" nz-dropdown [nzDropdownMenu]="menu">
						<div class="w-full flex items-center gap-1">
						<i class="pi " [ngClass]="loadingExport ? 'pi-spin pi-spinner' : 'pi-file-excel'"></i>
						{{loadingExport ? 'Exportando...' : 'Exportar'}} 
						</div>
						<i class="pi pi-angle-down"></i>
					</div>
					<nz-dropdown-menu #menu="nzDropdownMenu">
						<div nz-menu class="p-0">
							<div *ngIf="(!permisosPCM && !nivelAuth) || permisosPCM" nz-menu-item class="flex items-center px-3 py-2 gap-2 text-slate-700 hover:bg-sky-100 hover:text-sky-800" (click)="reporteUsuarios('sector')">
								<i class="pi pi-file-excel"></i>
								Exportar Sectores
							</div>
							<div *ngIf="(!permisosPCM && nivelAuth) || permisosPCM" nz-menu-item class="flex items-center px-3 py-2 gap-2 text-slate-700 hover:bg-sky-100 hover:text-sky-800" (click)="reporteUsuarios('gore')">
								<i class="pi pi-file-excel"></i>
								Exportar Gores
							</div>
							<div *ngIf="permisosPCM" nz-menu-item class="flex items-center px-3 py-2 gap-2 text-slate-700 hover:bg-sky-100 hover:text-sky-800" (click)="reporteUsuarios('todos')">
								<i class="pi pi-file-excel"></i>
								Exportar todos
							</div>
						</div>
					</nz-dropdown-menu>
				</div>
			</div>
		</ng-template>
</div>

<!-- <app-filtros-usuario [visible]="openFilter" [sectores]="sectores()" [departamentos]="departamentos()" [perfiles]="perfiles()" [permisosPCM]="permisosPCM" [nivelAuth]="nivelAuth" (visibleDrawer)="openFilter = false" (filters)="getFilterDrawer($event)" (export)="exportToFilters()"></app-filtros-usuario> -->
<app-filtros-usuario [visible]="openFilter" [pagination]="pagination" [permisosPCM]="permisosPCM" [nivelAuth]="nivelAuth" (visibleDrawer)="openFilter = false" (filters)="generateFilters($event)"></app-filtros-usuario>
