<div class="grid grid-cols-1 md:grid-cols-4 bg-white pb-4">
	<div class="col-span-2 lg:col-span-1 flex border border-gray-200">
		<div class="flex items-center min-w-[116px] lg:min-w-[124px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Sector</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.sector}}</div>
	</div>
	<div class="col-span-2 lg:col-span-1 flex border border-gray-200">
		<div class="flex items-center min-w-[116px] lg:min-w-[160px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Departamento</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.departamento}}</div>
	</div>
	<div class="col-span-2 lg:col-span-1 flex border border-gray-200">
		<div class="flex items-center min-w-[116px] lg:min-w-[104px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Provincia</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.provincia}}</div>
	</div>
	<div class="col-span-2 lg:col-span-1 flex border border-gray-200">
		<div class="flex items-center min-w-[116px] lg:min-w-[104px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Distrito</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.distrito}}</div>
	</div>

	<div class="col-span-2 lg:col-span-1 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[124px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Codigo</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.codigoIntervencion}}</div>
	</div>
	<div class="col-span-2 lg:col-span-1 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[160px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Tipo de intervencion</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.tipo | titlecase}}</div>
	</div>
	<div class="col-span-2 lg:col-span-1 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[104px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Entidad</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.entidad}}</div>
	</div>
	<div class="col-span-2 lg:col-span-1 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[104px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Subtipo</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.subTipo | uppercase}}</div>
	</div>

	<div class="col-span-2 lg:col-span-1 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[124px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Espacio</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.evento}}</div>
	</div>
    <div class="col-span-2 lg:col-span-3 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[160px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Intervención</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.nombreIntervencion}}</div>
	</div>

	<div *ngIf="esMesa" class="col-span-2 lg:col-span-1 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[124px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Beneficiarios</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.beneficiarios}}</div>
	</div>
	<div *ngIf="esMesa" class="col-span-2 lg:col-span-1 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[160px] pl-2 pr-4 py-1 font-semibold bg-cyan-100 ">Fase Inicial</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.inicioIntervencionFase}}</div>
	</div>
	<div *ngIf="esMesa" class="col-span-2 lg:col-span-1 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[104px] pl-2 pr-4 py-1 font-semibold bg-cyan-100 ">Etapa Inicial</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.inicioIntervencionEtapa}}</div>
	</div>
	<div *ngIf="esMesa" class="col-span-2 lg:col-span-1 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[104px] pl-2 pr-4 py-1 font-semibold bg-cyan-100 ">Hito Inicial</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.inicioIntervencionHito}}</div>
	</div>

	<div class="col-span-2 lg:col-span-1 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[124px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Costo Actualizado</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.costoActualizado! | numero : 0}}</div>
	</div>
	<div class="col-span-2 lg:col-span-1 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[160px] pl-2 pr-4 py-1 font-semibold bg-teal-100 ">
			Fase @if(esAcuerdo){ actual } @if(esMesa){ Objetivo }
		</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">
			@if(esAcuerdo){ {{intervencionEspacio.actualIntervencionFase}} }
			@if(esMesa){ {{intervencionEspacio.objetivoIntervencionFase}} }
		</div>
	</div>
	<div class="col-span-2 lg:col-span-1 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[104px] pl-2 pr-4 py-1 font-semibold bg-teal-100 ">
			Etapa @if(esAcuerdo){ actual } @if(esMesa){ Objetivo }
		</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">
			@if(esAcuerdo){ {{intervencionEspacio.actualIntervencionEtapa}} }
			@if(esMesa){ {{intervencionEspacio.objetivoIntervencionEtapa}} }
		</div>
	</div>
	<div class="col-span-2 lg:col-span-1 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[104px] pl-2 pr-4 py-1 font-semibold bg-teal-100">
			Hito @if(esAcuerdo){ actual } @if(esMesa){ Objetivo }
		</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">
			@if(esAcuerdo){ {{intervencionEspacio.actualIntervencionHito}} }
			@if(esMesa){ {{intervencionEspacio.objetivoIntervencionHito}} }
		</div>
	</div>

	<div class="col-span-2 lg:col-span-1 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[124px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Dev. Acumulado</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.devAcumulado! | numero : 0}}</div>
	</div>
	<div class="col-span-2 lg:col-span-1 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[160px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">PIA</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.pia! | numero : 0}}</div>
	</div>
	<div class="col-span-2 lg:col-span-1 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[104px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">PIM</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.pim! | numero : 0}}</div>
	</div>
	<div class="col-span-2 lg:col-span-1 flex border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[116px] lg:min-w-[104px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Devengado</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">{{intervencionEspacio.devengado! | numero : 0}}</div>
	</div>
</div>
