<nz-layout class="bg-white dark:bg-neutral-800 min-h-screen">
    <app-super-header></app-super-header>
    <nz-content class="bg-[url('./assets/images/login-bg-final.jpg')] bg-cover bg-center flex items-center relative">
        <div class="fabsolute top-0 right-0 lex px-8 items-center justify-end">
            <app-theme-switcher [isAbsolute]="false" [isRounded]="false" [hasInitialDarkBackground]="false" />
        </div>

        <div class="w-full md:w-[580px] bg-white flex flex-col shadow-md rounded-xl">
            <div class="flex flex-col text-center bg-red-600 text-white rounded-t-xl py-4">
                <h1 class="text-lg text-white font-normal">
                    {{ login ? 'Bienvenido al sistema de seguimiento' : 'Registro de usuario' }}
                </h1>
                <p>
                    {{ login ? 'Ingrese sus credenciales para ingresar al sistema' : 'Ingrese los campos necesarios para registrarse' }}
                </p>
            </div>
            <nz-tabset nzCentered (nzSelectChange)="actiontabs($event)">
                <nz-tab nzTitle="Iniciar sesión">
                    <div class="px-8 py-8 md:px-16">
                        <!-- <app-form-login /> -->
                          <app-login />
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Registrarse">
                    <div class="p-8">
                        <app-register></app-register>
                    </div>
                </nz-tab>
            </nz-tabset>
        </div>
        
        <!-- <div class="px-8 flex">
            <div class="w-full lg:basis-5/12">
                <nz-card class="w-full shadow rounded-xl">
                    <header class="rounded-t-xl text-center bg-red-600 text-white py-2">
                        <h1 class="text-lg text-white">
                            {{ login ? 'Bienvenido al sistema de seguimiento' : 'Registro de usuario' }}
                        </h1>
                        <p>
                            {{ login ? 'Ingrese sus credenciales para ingresar al sistema' : 'Ingrese los campos necesarios para registrarse' }}
                        </p>
                    </header>
                    <nz-tabset nzCentered (nzSelectChange)="actiontabs($event)">
                        <nz-tab nzTitle="Iniciar sesión">
                            <div class="px-8 2xl:px-56 py-8">
                                <app-login></app-login>
                            </div>
                        </nz-tab>
                        <nz-tab nzTitle="Registrarse">
                            <div class="p-8">
                                <app-register></app-register>
                            </div>
                        </nz-tab>
                    </nz-tabset>
                </nz-card>
            </div>
        </div> -->
    </nz-content>
    <nz-footer class="bg-punche-blue dark:bg-neutral-800 text-white">
        <app-footer></app-footer>
    </nz-footer>
</nz-layout>