<app-page-header [title]="title.toUpperCase()" backUrl="panel" />
<div class="bg-white p-4">
	<div class="relative">
		<button nz-button class="absolute right-0 top-0 z-10" (click)="onOpenDrawer()">
			<span nz-icon nzType="filter" nzTheme="outline"></span>
			<span class="button-text">Filtros</span>
		</button>
	</div>
	<nz-tabset>
		<nz-tab nzTitle="TRANSFERENCIAS DETALLE">
			<nz-table [nzScroll]="{ x: '1150px' }" [nzTitle]="HeaderDetail" nzShowSizeChanger nzSize="small"
				[nzData]="transferDetails()" [nzFrontPagination]="false" [nzLoading]="loadingDetail"
				[nzTotal]="paginationDetails.total!" [nzPageSize]="paginationDetails.pageSize!"
				[nzPageIndex]="paginationDetails.currentPage!" (nzQueryParams)="paramsDetailChange($event)">
				<thead>
					<tr>
						<th nzLeft nzWidth="100px" nzColumnKey="nivel_gobierno" [nzSortFn]="true">Nivel de gobierno</th>
						<th nzLeft nzWidth="100px" nzColumnKey="departamento" [nzSortFn]="true">Departamento</th>
						<th nzLeft nzWidth="100px" nzColumnKey="provincia" [nzSortFn]="true">Provincia</th>
						<th nzLeft nzWidth="100px" nzColumnKey="distrito" [nzSortFn]="true">Distrito</th>
						<th nzWidth="120px" nzColumnKey="pliego" [nzSortFn]="true">Pliego</th>
						<th nzWidth="150px" nzAlign="center" nzColumnKey="codigo_unico" [nzSortFn]="true">CUI</th>
						<th nzWidth="150px" nzAlign="center" nzColumnKey="monto" [nzSortFn]="true">Transferencias</th>
						<th nzWidth="150px" nzAlign="center" nzColumnKey="resolucion" [nzSortFn]="true">Dispositivo legal</th>
						<th nzWidth="150px" nzAlign="center">Fecha de publicación</th>
						<th nzWidth="150px" nzAlign="center" nzColumnKey="fecha_publicacion" [nzSortFn]="true">Periodo</th>
					</tr>
				</thead>
				<tbody>
					@for(detail of transferDetails(); track $index){
					<tr>
						<td>{{detail.nivel_gobierno}}</td>
						<td>{{detail.ue_departamento}}</td>
						<td>{{detail.ue_provincia}}</td>
						<td>{{detail.ue_distrito}}</td>
						<td>{{detail.pliego_matriz}}</td>
						<td nzAlign="center">{{detail.codigo_unico}}</td>
						<td nzAlign="center">{{detail.transferencia}}</td>
						<td nzAlign="center">{{detail.resolucion}}</td>
						<td nzAlign="center">{{detail.fecha_publicacion}}</td>
						<td nzAlign="center">{{detail.anio }}</td>
					</tr>
					}
				</tbody>
			</nz-table>
			<ng-template #HeaderDetail>
				<div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
					<p class="mb-2 sm:mb-0">Resultados ({{paginationDetails.total}})</p>
				</div>
			</ng-template>
		</nz-tab>
		<nz-tab nzTitle="TRANSFERENCIAS RESUMIDO">
			<nz-table [nzScroll]="{ x: '1150px' }" nzTitle="Transferencias resumido" nzShowSizeChanger nzSize="small"
				[nzData]="transferResume()" [nzFrontPagination]="false" [nzLoading]="false" [nzTotal]="pagination.total!"
				[nzPageSize]="pagination.pageSize!" [nzPageIndex]="pagination.currentPage!">
				<thead>
					<tr>
						<th nzLeft nzWidth="120px">Nivel de gobierno</th>
						<th nzLeft nzWidth="100px">Departamento</th>
						<th nzLeft nzWidth="100px">Provincia</th>
						<th nzLeft nzWidth="100px">Distrito</th>
						<th nzWidth="100px" nzAlign="center">Pliego</th>
						<th nzWidth="100px" nzAlign="center">CUI</th>
						<th nzWidth="100px">Transferencias</th>
						<th nzWidth="100px" nzAlign="center">Costo act.</th>
						<th nzWidth="100px" nzAlign="center">Dcu. acuerdo</th>
						<th nzWidth="100px" nzAlign="center">PIA</th>
						<th nzWidth="100px" nzAlign="center">PIM</th>
						<th nzWidth="100px" nzAlign="center">DEU</th>
						<th nzWidth="100px" nzAlign="center">Dispositivo</th>
					</tr>
				</thead>
			</nz-table>
		</nz-tab>
	</nz-tabset>
</div>
<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzVisible]="isDrawervisible" [nzFooter]="footerDrawer"
	nzTitle="Filtrar los resultados" (nzOnClose)="onCloseDrawer()">
	<form *nzDrawerContent [formGroup]="formFilter">
		<div class="flex flex-col w-full gap-4">
			<div class="flex flex-col">
				<label>Tipo</label>
				<nz-radio-group class="radio-form-control" formControlName="tipo"
					(ngModelChange)="setFilterKind($event)">
					@for (tipo of tipos; track $index){
					<label nz-radio [nzValue]="tipo">{{tipo | titlecase }}</label>
					}
				</nz-radio-group>
				<div class="text-danger" *ngIf="alertMessageError('tipo')">{{msgErrorControl('tipo','Tipo')}}
				</div>
			</div>
			<div class="flex flex-col">
				<label for="periodo">Periodo</label>
				<nz-form-control nzSpan="null">
					<nz-select nzPlaceHolder="Seleccionar periodo" id="periodo" class="select-form-control"
						(ngModelChange)="changePeriod()" formControlName="periodo" nzAllowClear nzShowSearch>
						@for (periodo of generarPeriodos(); track $index) {
						<nz-option [nzValue]="periodo" [nzLabel]="periodo"></nz-option>
						}
					</nz-select>
					<div class="text-danger" *ngIf="alertMessageError('periodo')">
						{{msgErrorControl('periodo','Periodo')}}</div>
				</nz-form-control>
			</div>
			<div class="flex flex-col">
				<label for="tipoProducto">Tipo de inversión</label>
				<nz-form-control nzSpan="null">
					<nz-select nzPlaceHolder="Seleccionar tipo producto" id="tipoProducto" class="select-form-control"
						(ngModelChange)="changeTipoProducto()" formControlName="tipoProducto" nzAllowClear nzShowSearch>
						@for (producto of tipoProductos; track $index) {
						<nz-option [nzValue]="producto" nzLabel="{{producto | titlecase}}"></nz-option>
						}
					</nz-select>
					<div class="text-danger" *ngIf="alertMessageError('tipoProducto')">
						{{msgErrorControl('tipoProducto','tipo de producto')}}</div>
				</nz-form-control>
			</div>
			<div class="flex flex-col">
				<label for="dispositivo">Dispositivo legal</label>
				<nz-form-control nzSpan="null">
					<nz-select nzPlaceHolder="Seleccionar dispositivo" id="dispositivo" class="select-form-control" (ngModelChange)="changeDispositivo()" formControlName="dispositivo" nzAllowClear nzShowSearch>
						@for (resolucion of transferencesResolution(); track $index) {
						<nz-option [nzValue]="resolucion.resolucion" nzLabel="{{resolucion.resolucion}}"></nz-option>
						}
					</nz-select>
				</nz-form-control>
			</div>
			<div class="flex flex-col">
				<label for="cui">CUI</label>
				<nz-form-control nzSpan="null">
				  <input nz-input type="text" class="form-control" id="cui" placeholder="Ingrese el cui aquí" (keyup)="changeCui($event)"
					formControlName="cui">
				</nz-form-control>
			</div>
			@if(filtroUbigeo){
			<div class="flex flex-col">
				<div class="flex gap-4 px-1">
					@for (tipo of tipoUbigeos; track $index){
						<label class="flex gap-3">
							<input type="radio" class="form-control" formControlName="tipoUbigeo" [value]="tipo" (change)="changeUbigeoTipo()">
							{{tipo | titlecase }}
						</label>
					}
				</div>
				<div class="text-danger" *ngIf="alertMessageError('tipoUbigeo')">
					{{msgErrorControl('tipoUbigeo','Tipo ubigeo')}}
				</div>
			</div>
			<div class="flex flex-col">
				<label for="departamento">Departamento</label>
				<nz-form-control nzSpan="null">
					<nz-select nzPlaceHolder="Seleccionar departamento" id="departamento" class="select-form-control"
						formControlName="departamento" (ngModelChange)="obtenerUbigeoDepartamento()" nzAllowClear
						nzShowSearch>
						@for (departamento of departamentos(); track $index) {
						<nz-option [nzValue]="departamento.departamentoId"
							nzLabel="{{departamento.departamento}}"></nz-option>
						}
					</nz-select>					
					<div class="text-danger" *ngIf="alertMessageError('departamento')">
						{{msgErrorControl('departamento','Departamento')}}</div>
				</nz-form-control>
			</div>
			<div class="flex flex-col">
				<label for="provincia">Provincias</label>
				<nz-form-control nzSpan="null">
					<nz-select nzPlaceHolder="Seleccionar provincia" id="provincia" class="select-form-control"
						formControlName="provincia"
						[nzDisabled]="provinceDisabled" (ngModelChange)="obtenerUbigeoProvincia()" nzAllowClear nzShowSearch>
						@for (provincia of provincias(); track $index) {
						<nz-option [nzValue]="provincia.provinciaId" nzLabel="{{provincia.provincia}}"></nz-option>
						}
					</nz-select>
					<div class="text-danger" *ngIf="alertMessageError('provincia')">
						{{msgErrorControl('provincia','Provincia')}}</div>
				</nz-form-control>
			</div>
			<div class="flex flex-col">
				<label for="distritos">Distritos</label>
				<nz-form-control nzSpan="null">
					<nz-select nzPlaceHolder="Seleccionat distrito" id="distrito" class="select-form-control"
						formControlName="distrito" [nzDisabled]="districtDisabled" (ngModelChange)="obtenerUbigeoDistrito()"
						nzAllowClear nzShowSearch>
						@for (distrito of distritos(); track $index) {
						<nz-option [nzValue]="distrito.distritoId" nzLabel="{{distrito.distrito}}"></nz-option>
						}
					</nz-select>
					<div class="text-danger" *ngIf="alertMessageError('distrito')">
						{{msgErrorControl('distrito','Distrito')}}
					</div>
				</nz-form-control>
			</div>
			} @else {
			<div class="flex flex-col">
				<label for="tipoEntidad">Tipo de entidad</label>
				<nz-form-control nzSpan="null">
					<nz-select nzPlaceHolder="Seleccionat tipo de entidad" id="tipoEntidadId"
						class="select-form-control" formControlName="tipoEntidadId" nzAllowClear nzShowSearch
						(ngModelChange)="changeTipoEntidad()">
						@for (entidad of tipoEntidades(); track $index) {
						<nz-option [nzValue]="entidad.abreviatura" nzLabel="{{entidad.nombre}}"></nz-option>
						}
					</nz-select>
					<div class="text-danger" *ngIf="alertMessageError('tipoEntidadId')">
						{{msgErrorControl('tipoEntidadId','Tipo de entidad')}}</div>
				</nz-form-control>
			</div>
			}
		</div>
	</form>
	<ng-template #footerDrawer>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="deleteFilters();">Limpiar filtros</button>
            <button nz-button nzType="primary" (click)="saveFilters()"><span nz-icon nzType="save"
                    nzTheme="outline"></span> Guardar filtros</button>
        </div>
    </ng-template>
</nz-drawer>