@if(intervencionTarea?.intervencionTareaId){
	<nz-table [nzScroll]="{ x: '1150px' }" [nzTitle]="HeaderMesas" nzShowSizeChanger nzSize="small"
		[nzData]="intervencionTareasAvances()" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="pagination.total!" [nzShowPagination]="pagination.total! > 5"
		[nzPageSize]="pagination.pageSize!" [nzPageIndex]="pagination.currentPage!">
		<thead>
			<tr>
				<th nzWidth="10px" nzAlign="center"></th>
				<th nzWidth="12px" nzAlign="center">Fecha</th>
				<th nzWidth="32px" nzAlign="center">Avance</th>
				<th nzWidth="64px" nzAlign="center">Evidencia</th>
				<th nzWidth="32px" nzAlign="center">Comentario Sector</th>
				<th nzWidth="32px" nzAlign="center">Comentario UE/GL</th>
				<th nzWidth="24px" nzAlign="center">Comentario PCM</th>
				<th nzWidth="24px" nzAlign="center">Comentario Ejecutora</th>
				<th nzWidth="24px" nzAlign="center"></th>
			</tr>
		</thead>
		
		<tbody>
			@for(avance of intervencionTareasAvances(); track $index){
				<tr>
					<td nzAlign="center"> <span *ngIf="avance.validaPcm" class="text-2xl" nz-icon nzType="check-circle" nzTheme="twotone" nzTwotoneColor="#52c41a" nz-tooltip nzTooltipTitle="Validado" ></span></td>
					<td nzAlign="center">{{avance.fecha}}</td>
					<td nzAlign="center">{{avance.avance}}</td>
					<td nzAlign="center"><app-boton-descargar [rutaArchivo]="avance.evidencia!" [titulo]="'Descargar evidencia'"></app-boton-descargar></td>
					<td nzAlign="center">{{avance.comentarioSector}}</td>
					<td nzAlign="center">{{avance.comentarioGl}}</td>
					<td nzAlign="center">{{avance.comentarioSd}}</td>
					<td nzAlign="center">{{avance.comentarioEntidad}}</td>
					<td nzAlign="center">
						<button nz-button nzDanger nzType="link" [nz-tooltip]="!verificarProyectoCulminadoAvance(avance.estadoRegistroNombre!) || !tareaCulminado ? 'Eliminar avance' : ''" [disabled]="verificarProyectoCulminadoAvance(avance.estadoRegistroNombre!) || tareaCulminado" (click)="eliminarTarea(avance)">
							<span nz-icon nzType="delete" nzTheme="outline"></span>
						</button>
						<button nz-button nzType="link" [nz-tooltip]="!verificarProyectoCulminadoAvance(avance.estadoRegistroNombre!) || !tareaCulminado ? 'Comentar avance' : ''" [disabled]="verificarProyectoCulminadoAvance(avance.estadoRegistroNombre!) || tareaCulminado" (click)="comentarTarea(avance)">
							<span nz-icon nzType="comment" nzTheme="outline"></span>
						</button>
						<button *ngIf="permisosPCM" nz-button nzType="link" nz-tooltip [nzTooltipTitle]="verificarProyectoCulminadoAvance(avance.estadoRegistroNombre!) ? 'Validar avance' : ''" [disabled]="!verificarProyectoCulminadoAvance(avance.estadoRegistroNombre!)">
							<span nz-icon [ngClass]="{ 'text-green-500' : verificarProyectoCulminadoAvance(avance.estadoRegistroNombre!) }" (click)="validarAvance(avance)" nzType="check-circle" nzTheme="outline"></span>
						</button>
					</td>
				</tr>
				}
		</tbody>
	</nz-table>

	<ng-template #HeaderMesas>
			<div class="flex flex-col sm:flex-row justify-between items-center gap-3">
					<div class="flex flex-col ">
							<p class="font-semibold text-base">Gestión de avances de tarea: {{intervencionTarea!.codigo}}</p>
							<p class="text-sm">Resultados {{pagination.total}}</p>
					</div>

					<button nz-button nzType="primary" (click)="agregarAvance()" [disabled]="tareaProyectoCulminado || tareaCulminado">
							<span nz-icon nzType="plus" nzTheme="outline"></span>
							<span class="button-text">Nuevo Avance</span>
					</button>
			</div>
	</ng-template>
}
