<app-page-header [title]="title.toUpperCase()" />
<nz-table [nzScroll]="{ x: '1150px' }" [nzTitle]="Header" nzShowSizeChanger nzSize="small"
    [nzData]="this.acuerdosService.acuerdos()!" [nzFrontPagination]="false"
    [nzLoading]="this.acuerdosService.isLoading()" [nzTotal]="this.acuerdosService.total()" [nzPageSize]="this.pageSize"
    [nzPageIndex]="this.pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
        <tr>
            <th nzWidth="100px" nzAlign="center" nzColumnKey="sector" [nzSortFn]="true">Sector</th>
            <th nzWidth="120px" nzAlign="center" nzColumnKey="region" [nzSortFn]="true">Ubicación</th>
            <th nzWidth="300px" nzAlign="center" nzColumnKey="objetivoEstrategicoTerritorial">Eje estratégico</th>
            <th nzWidth="300px" nzAlign="center" nzColumnKey="intervencionesEstrategicas">Tipo intervención</th>
            <!-- <th nzColumnKey="pedido">Pedido</th> -->
            <th nzWidth="150px" nzAlign="center" nzColumnKey="cuis">CUI</th>
            <th nzWidth="150px" nzAlign="center" nzColumnKey="codigo" [nzSortFn]="true">Código</th>
            <th class="w-28 sm:w-full" nzColumnKey="acuerdo">Acuerdo</th>
            <!-- <th nzWidth="120px" nzAlign="center" nzColumnKey="clasificacion" [nzSortFn]="true">Clasificación</th> -->
            <!-- <th nzWidth="120px" nzAlign="center" nzColumnKey="espacio" [nzSortFn]="true">Espacio</th> -->
            <th nzWidth="120px" nzAlign="center" nzColumnKey="plazo" [nzSortFn]="true">Plazo</th>
            <th nzColumnKey="acciones" nzRight nzWidth="150px" nzAlign="center"></th>
        </tr>
    </thead>
    <tbody>
        @for (data of this.acuerdosService.acuerdos(); track data.codigo) {
        <tr>
            <td nzWidth="100px" nzAlign="center">{{ data.sector }}</td>
            <td nzWidth="120px" nzAlign="center">{{ data.region }}</td>
            <td nzWidth="150px" nzAlign="center">
                <p class="line-clamp-1 sm:line-clamp-3" nz-tooltip
                    [nzTooltipTitle]="data.objetivoEstrategicoTerritorial">
                    {{ data.objetivoEstrategicoTerritorial }}
                </p>
            </td>
            <td nzWidth="150px" nzAlign="center">
                <p class="line-clamp-1 sm:line-clamp-3" nz-tooltip [nzTooltipTitle]="data.intervencionesEstrategicas">
                    {{ data.intervencionesEstrategicas }}
                </p>
            </td>
            <!-- <td>{{ data.pedido }}</td> -->
            <td nzWidth="150px" nzAlign="center">{{ data.cuis }}</td>
            <td nzWidth="150px" nzAlign="center">{{ data.codigo }}</td>
            <td class="w-28 sm:w-full">
                <p class="line-clamp-1 sm:line-clamp-3" nz-tooltip [nzTooltipTitle]="data.acuerdo">{{
                    data.acuerdo }}</p>
            </td>

            <!-- <td nzWidth="120px" nzAlign="center">{{ data.clasificacion }}</td>

            <td nzWidth="120px" nzAlign="center">{{ data.espacio }}</td> -->
            <td nzWidth="120px" nzAlign="center">{{ data.plazo }}</td>
            <td nzRight nzWidth="150px" nzAlign="center">
                <nz-space>
                    <button (click)="onGestionarHitoAcuerdo(data.acuerdoId!)" *nzSpaceItem nz-button nzType="link"
                        nz-tooltip nzTooltipTitle="Ver detalle">
                        <span nz-icon nzType="eye" nzTheme="outline"></span>
                    </button>
                    <button *nzSpaceItem nz-button nzType="link" nz-tooltip nzTooltipTitle="Agregar hito">
                        <span nz-icon nzType="appstore-add" nzTheme="outline"></span>
                    </button>
                    <button *nzSpaceItem nz-button nzType="link" nz-tooltip nzTooltipTitle="Desestimar acuerdo">
                        <span nz-icon nzType="stop" nzTheme="outline"></span>
                    </button>
                    <button *nzSpaceItem nz-button nzDanger nzType="link" (click)="onDelete(data)" nz-tooltip
                        nzTooltipTitle="Eliminar">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                </nz-space>
            </td>
        </tr>
        }
    </tbody>
</nz-table>

<ng-template #Header>
    <div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
        <p class="mb-2 sm:mb-0">Resultados ({{this.acuerdosService.total()}})</p>
        <div>
            <nz-space>

                <button *nzSpaceItem nz-button (click)="onOpenDrawer()">
                    <span nz-icon nzType="filter" nzTheme="outline"></span>
                    <span class="button-text">Filtros</span>
                    <!-- {{filterCounter()|json}} -->
                    <nz-badge class="button-text pl-1" nzStandalone [nzCount]="filterCounter()"></nz-badge>
                </button>

                <!-- <button *nzSpaceItem nz-button>
                    <span nz-icon nzType="printer" nzTheme="outline"></span>
                    <span class="button-text">Imprimir acuerdos</span>
                </button> -->

                <button *nzSpaceItem nz-button nz-dropdown [nzDropdownMenu]="menu">
                    <span nz-icon nzType="file-excel" nzTheme="outline"></span>
                    <span class="button-text">Exportar</span>
                    <span nz-icon nzType="down"></span>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item>
                            <a>Exportar acuerdos</a>
                        </li>
                        <li nz-menu-item>
                            <a>Exportar hitos</a>
                        </li>
                    </ul>
                </nz-dropdown-menu>

                <button *nzSpaceItem nz-button nzType="primary" [routerLink]="['/pedidos/nuevo']">
                    <span nz-icon nzType="plus" nzTheme="outline"></span>
                    <span class="button-text">Nuevo pedido</span>
                </button>
            </nz-space>
        </div>
    </div>
</ng-template>

<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzVisible]="isDrawervisible"
    nzTitle="Filtrar los resultados" [nzFooter]="footerTpl" (nzOnClose)="onCloseDrawer()">
    <form nz-form *nzDrawerContent nzLayout="vertical" [formGroup]="searchForm">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzFor="cui">Código de acuerdo o CUI</nz-form-label>
                    <nz-form-control nzSpan="null">
                        <nz-input-group [nzSuffix]="suffixIconSearch">
                            <input type="text" #cui id="cui" formControlName="cui" nz-input
                                (keyup)="onCuiChange($event)" placeholder="Ingrese código a buscar" />
                        </nz-input-group>
                        <ng-template #suffixIconSearch>
                            <span nz-icon [nzType]="this.acuerdosService.isLoading()?'loading':'search'"></span>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null">Clasificación</nz-form-label>
                    <nz-form-control nzSpan="null">
                        <nz-select [nzMaxTagCount]="3" id="clasificacion"
                            [nzMaxTagPlaceholder]="tagClasificacionesPlaceHolder" nzMode="multiple"
                            nzPlaceHolder="Todos" #clasificacion formControlName="clasificacion"
                            [compareWith]="compareFn" nzAllowClear
                            (ngModelChange)="onClasificacionAcuerdosChange($event)">
                            <nz-option *ngFor="let clas of this.clasificacionesStore.clasificaciones()"
                                [nzLabel]="clas.label!" [nzValue]="clas"></nz-option>
                        </nz-select>
                        <ng-template #tagClasificacionesPlaceHolder let-selectedList>y {{ selectedList.length }} más
                            seleccionadas</ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null">Tipo</nz-form-label>
                    <nz-form-control nzSpan="null">
                        <nz-select nzPlaceHolder="Todos" id="tipo" #tipo formControlName="tipo" nzAllowClear
                            (ngModelChange)="onTipoAcuerdosChange($event)">
                            <nz-option nzValue="1" nzLabel="Acuerdo"></nz-option>
                            <nz-option nzValue="2" nzLabel="Compromiso"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null">Estado</nz-form-label>
                    <nz-form-control nzSpan="null">
                        <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagEstadosPlaceHolder" nzMode="multiple"
                            nzPlaceHolder="Todos" id="estado" #estado formControlName="estado" [compareWith]="compareFn"
                            nzAllowClear (ngModelChange)="onEstadoAcuerdosChange($event)">
                            <nz-option *ngFor="let est of this.estadosStore.estados()" [nzLabel]="est.label!"
                                [nzValue]="est"></nz-option>
                        </nz-select>
                        <ng-template #tagEstadosPlaceHolder let-selectedList>y {{ selectedList.length }} más
                            seleccionadas</ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null">Espacio</nz-form-label>
                    <nz-form-control nzSpan="null">
                        <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
                            nzPlaceHolder="Todos" id="espacio" #espacio formControlName="espacio"
                            [compareWith]="compareFn" nzAllowClear (ngModelChange)="onEspacioChange($event)">
                            <nz-option *ngFor="let esp of this.espaciosStore.espacios()" [nzLabel]="esp.label!"
                                [nzValue]="esp"></nz-option>
                        </nz-select>
                        <ng-template #tagPlaceHolder let-selectedList>y {{ selectedList.length }} más
                            seleccionadas</ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null">Sector</nz-form-label>
                    <nz-form-control nzSpan="null">
                        <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagSectorPlaceHolder" nzMode="multiple"
                            nzPlaceHolder="Todos" id="sector" #sector formControlName="sector" [compareWith]="compareFn"
                            nzAllowClear (ngModelChange)="onSectorChange($event)">
                            <nz-option *ngFor="let sec of this.sectoresStore.sectores()" [nzLabel]="sec.label!"
                                [nzValue]="sec"></nz-option>
                        </nz-select>
                        <ng-template #tagSectorPlaceHolder let-selectedListSectores>y {{ selectedListSectores.length }}
                            más
                            seleccionadas</ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null">Departamento</nz-form-label>
                    <nz-form-control nzSpan="null">
                        <nz-select id="dep" [nzDisabled]="provSeleccionada!=null" class="w-full" #dep
                            formControlName="dep" nzPlaceHolder="Todos" nzShowSearch [compareWith]="compareFn"
                            nzAllowClear (ngModelChange)="onDepChange($event)">
                            <nz-option *ngFor="let ubg of this.ubigeosStore.departamentos()" [nzValue]="ubg"
                                [nzLabel]="ubg.label!">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div *ngIf="depSeleccionado != null" nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24"
                nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null">Provincia</nz-form-label>
                    <nz-form-control nzSpan="null">
                        <nz-select id="prov" class="w-full" #prov formControlName="prov" nzPlaceHolder="Todas"
                            nzShowSearch [compareWith]="compareFn" nzAllowClear (ngModelChange)="onProvChange($event)">
                            <nz-option *ngFor="let prov of this.ubigeosStore.provincias()" [nzValue]="prov"
                                [nzLabel]="prov.label!">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <!-- <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <div class="inner-box">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="null" nzFor="termino">Buscar</nz-form-label>
                        <nz-form-control nzSpan="null">
                            <nz-input-group [nzSuffix]="suffixIconSearch">
                                <input #termino id="termino" type="search" nz-input formControlName="termino"
                                    placeholder="Buscar" (keyup)="onKeySearch($event)" />
                            </nz-input-group>
                            <ng-template #suffixIconSearch>
                                @if(termino.value !== '' && termino.value !== null && termino.value !== undefined){
                                <span nz-icon nzType="close" (click)="onClearSearch()"></span>
                                }@else{
                                <span nz-icon nzType="search"></span>
                                }
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div> -->
        </div>
        <!-- <code>{{searchForm.valid | json}}<br>
        {{searchForm.value | json}}</code> -->
    </form>


    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="onClearFilters();">Limpiar filtros</button>
            <button nz-button nzType="primary" (click)="onCloseDrawer()"><span nz-icon nzType="save"
                    nzTheme="outline"></span> Guardar filtros</button>
        </div>
    </ng-template>
</nz-drawer>