<nz-page-header nzBackIcon [nzGhost]="false" (nzBack)="onBack()">
	<nz-page-header-title>Agenda del evento</nz-page-header-title>
</nz-page-header>

<app-evento-detalle *ngIf="evento.eventoId" [evento]="evento" [esSsfgd]="esSsfgd" />

<div *ngIf="intervencionEspacio.intervencionId" class="flex-flex-col">
	<div class="text-base font-semibold">Detalles de la intervencion</div>
	<app-intervencion-detalle [intervencionEspacio]="intervencionEspacio" [esAcuerdo]="true" />
</div>

<div class="grid grid-cols-1">
	<nz-table #basicTable [nzScroll]="{ x: 'max-content' }" class="min-w-full" [nzTitle]="headerUbigeos" [nzData]="intervencionesEspacios()"
	[nzFrontPagination]="false" [nzShowPagination]="pagination.total! > 5"
	[nzLoading]="loading" [nzTotal]="pagination.total!" [nzPageSize]="pagination.pageSize!"
	[nzPageIndex]="pagination.currentPage!" (nzQueryParams)="onQueryParamsChange($event)">
		<thead>
			<tr>
				<th nzAlign="center" nzWidth="80px">Sector</th>
				<th nzAlign="center" nzWidth="120px">Ubicación</th>
				<th nzAlign="center" nzWidth="120px" nzColumnKey="e.entidad" [nzSortFn]="true">Entidad</th>
				<th nzAlign="center" nzWidth="100px">Tipo</th>
				<th nzAlign="center" nzWidth="100px">Subtipo</th>
				<th nzAlign="center" nzWidth="80px">Codigo</th>
				<th nzAlign="center" nzWidth="350px">Nombre</th>
				<th nzAlign="center" nzWidth="80px">Fecha SSI</th>
				<th nzAlign="center" nzWidth="100px">Costo Act.</th>
				<th nzAlign="center" nzWidth="100px">Dev Acum</th>
				<th nzAlign="center" nzWidth="100px">PIM</th>
				<th nzAlign="center" nzWidth="100px">DEV</th>
				<th nzRight nzWidth="100px" nzAlign="center"></th>
			</tr>
		</thead>
		<tbody>
			@for(intervencion of intervencionesEspacios(); track $index){
				<tr [ngClass]="{ 'bg-sky-100' : intervencionEspacio.intervencionId == intervencion.intervencionId}">
				  <td nzAlign="center">{{intervencion.sector}}</td>
				  <td nzAlign="center">
					{{intervencion.departamento}}
					{{intervencion.provincia ? ' / ' + intervencion.provincia  : '' }}
					{{intervencion.distrito ? ' / ' + intervencion.distrito  : '' }}
					</td>
				  <td nzAlign="center">{{intervencion.entidadTipo}} {{intervencion.entidadSlug}}</td>
				  <td nzAlign="center">{{intervencion.tipo | uppercase }}</td>
				  <td nzAlign="center">{{intervencion.subTipo | uppercase }}</td>
				  <td nzAlign="center">{{intervencion.codigoIntervencion}}</td>
				  <td nzAlign="center">{{intervencion.nombreIntervencion}}</td>
				  <td nzAlign="center" class="font-bold">{{intervencion.fechaSsi}}</td>
				  <td nzAlign="center">{{intervencion.costoActualizado! | numero : 0}}</td>
				  <td nzAlign="center">{{intervencion.devAcumulado! | numero : 0}}</td>
				  <td nzAlign="center">{{intervencion.pim! | numero : 0}}</td>
				  <td nzAlign="center">{{intervencion.devengado! | numero : 0}}</td>
				  <td nzRight nzAlign="center" [ngClass]="{ 'bg-sky-100' : intervencionEspacio.intervencionId == intervencion.intervencionId}">
					<div class="flex justify-center">
						<app-boton [icono]="'comments'" [tooltip]="'Agregar situación'" [link]="true" (click)="intervencionDetalleFormModel(intervencion)"/>

						<app-boton [icono]="'eye'" [tooltip]="'Detalle de la intervencion'" [link]="true" (click)="detalleIntervencionEspacio(intervencion)" />

						<app-boton [icono]="'trash'" [color]="'red'" [stepColor]="500" [tooltip]="'Eliminar intervención'" [link]="true" (click)="eliminarIntervencion(intervencion)" />
					</div>
				  </td>
				<tr>
			}
		</tbody>
	</nz-table>
</div>

<ng-template #headerUbigeos>
	<div class="ant-table-header flex flex-col md:flex-row justify-between items-center">
		<div class="flex gap-4">
			<div class="mb-2 sm:mb-0">Resultados {{pagination.total}}</div>
		</div>

		<div class="flex flex-col md:flex-row gap-2">
			<app-boton [color]="'red'" [stepColor]="700" [icono]="'sync'" [texto]="'Procesar'" [loading]="loadingProcessing" (click)="procesarIntervencion()"/>

			<app-boton  [icono]="'filter'" tooltip="{{'Exportar intervenciones del evento: ' + evento.nombre}}" [texto]="'Exportar'" [loading]="loadingExport" [outline]="true" (click)="reporteIntervencion()"/>

			<app-boton [icono]="'plus'" tooltip="Agregar nueva intervencion" [texto]="'Nueva Intervencion'"  (click)="crearIntervencion()"/>
		</div>
	  </div>
</ng-template>


