<nz-page-header nzBackIcon [nzGhost]="false" (nzBack)="onBack()">
	<nz-page-header-title>Agenda del evento</nz-page-header-title>
</nz-page-header>

<app-evento-detalle *ngIf="evento.eventoId" [evento]="evento" [esSsfgd]="esSsfgd" />

<div class="grid grid-cols-1">
	<nz-table #basicTable [nzScroll]="{ x: 'max-content' }" class="min-w-full" [nzTitle]="headerUbigeos" [nzData]="intervencionesEspacios()"
	[nzFrontPagination]="false" [nzShowPagination]="pagination.total! > 10"
	[nzLoading]="loading" [nzTotal]="pagination.total!" [nzPageSize]="pagination.pageSize!"
	[nzPageIndex]="pagination.currentPage!" (nzQueryParams)="onQueryParamsChange($event)">
		<thead>
			<tr>
				<th nzAlign="center" nzWidth="80px">Sector</th>
				<th nzAlign="center" nzWidth="120px">Ubicación</th>
				<th nzAlign="center" nzWidth="120px" nzColumnKey="e.entidad" [nzSortFn]="true">Entidad</th>
				<th nzAlign="center" nzWidth="100px">Tipo</th>
				<th nzAlign="center" nzWidth="100px">Subtipo</th>
				<th nzAlign="center" nzWidth="80px">Codigo</th>
				<th nzAlign="center" nzWidth="350px">Nombre</th>
				<th nzAlign="center" nzWidth="80px">Fecha SSI</th>
				<th nzAlign="center" nzWidth="100px">Costo Act.</th>
				<th nzAlign="center" nzWidth="100px">Dev Acum</th>
				<th nzAlign="center" nzWidth="100px">PIM</th>
				<th nzAlign="center" nzWidth="100px">DEV</th>
				<th nzRight nzWidth="100px" nzAlign="center">Situación</th>
			</tr>
		</thead>
		<tbody>
			@for(intervencionEspacio of intervencionesEspacios(); track $index){
				<tr>
				  <td nzAlign="center">{{intervencionEspacio.sector}}</td>
				  <td nzAlign="center">
					{{intervencionEspacio.departamento}}
					{{intervencionEspacio.provincia ? ' / ' + intervencionEspacio.provincia  : '' }}
					{{intervencionEspacio.distrito ? ' / ' + intervencionEspacio.distrito  : '' }}
					</td>
				  <td nzAlign="center">{{intervencionEspacio.entidadTipo}} {{intervencionEspacio.entidadSlug}}</td>
				  <td nzAlign="center">{{intervencionEspacio.tipo | uppercase }}</td>
				  <td nzAlign="center">{{intervencionEspacio.subTipo | uppercase }}</td>
				  <td nzAlign="center">{{intervencionEspacio.codigoIntervencion}}</td>
				  <td nzAlign="center">{{intervencionEspacio.nombreIntervencion}}</td>
				  <td nzAlign="center" class="font-bold">{{intervencionEspacio.fechaSsi}}</td>
				  <td nzAlign="center">{{intervencionEspacio.costoActualizado! | numero : 0}}</td>
				  <td nzAlign="center">{{intervencionEspacio.devAcumulado! | numero : 0}}</td>
				  <td nzAlign="center">{{intervencionEspacio.pim! | numero : 0}}</td>
				  <td nzAlign="center">{{intervencionEspacio.devengado! | numero : 0}}</td>
				  <td nzRight nzAlign="center">
					<div class="flex justify-center">
						<app-boton [icono]="'trash'" [color]="'red'" [stepColor]="500" [tooltip]="'Eliminar intervención'" [link]="true" (click)="eliminarIntervencion(intervencionEspacio)" />
					</div>
				  </td>
				<tr>
			}
		</tbody>
	</nz-table>
</div>

<ng-template #headerUbigeos>
	<div class="ant-table-header flex flex-col md:flex-row justify-between items-center">
		<div class="flex gap-4">
			<div class="mb-2 sm:mb-0">Resultados {{pagination.total}}</div>
		</div>

		<div class="flex flex-col md:flex-row gap-2">
			<div class="flex gap-1 py-1 px-8 border rounded cursor-pointer bg-red-700 border-red-700 text-white hover:bg-red-900" (click)="procesarIntervencion()">
				<span nz-icon nzType="sync" nzTheme="outline"></span>
				Procesar
			</div>
			<button nz-button nzType="default" [nzLoading]="loadingExport" (click)="reporteIntervencion()">
				<span nz-icon nzType="file-excel"></span>
				<span class="button-text">Exportar</span>
			</button>
			<div class="flex gap-1 py-1 px-4 border rounded cursor-pointer bg-sky-700 border-sky-700 text-white hover:bg-sky-900"  (click)="crearIntervencion()">
				<span nz-icon nzType="plus" nzTheme="outline"></span>
				Nueva intervencion
			</div>
		</div>
	  </div>
</ng-template>


