<app-page-header [title]="title" backUrl="panel" />
<nz-table [nzScroll]="{ x: '1150px' }" [nzTitle]="Header" nzShowSizeChanger nzSize="small"
  [nzFrontPagination]="false" [nzLoading]="false">
  <thead>
    <tr>
      <!-- <th nzLeft nzWidth="100px" nzAlign="center" nzColumnKey="codigo" [nzSortFn]="true">Código</th> -->
      <th nzLeft nzWidth="100px" nzAlign="center" nzColumnKey="tipo" [nzSortFn]="true">Procedencia</th>
      <th nzWidth="120px" nzAlign="center" nzColumnKey="fechaAtencion" [nzSortFn]="true">Fecha de atención</th>
      <th nzWidth="150px" nzAlign="center"nzColumnKey="tipoEntidad" [nzSortFn]="true">Tipo de entidad</th>
      <th nzWidth="150px" nzColumnKey="entidad">Entidad</th>
      <th nzWidth="150px" nzAlign="center" nzColumnKey="autoridad" [nzSortFn]="true">Tipo de documento</th>
      <th nzWidth="150px" nzAlign="center" nzColumnKey="espacio" [nzSortFn]="true">Número de documento</th>
      <th nzWidth="150px" nzAlign="center">Acciones</th>
    </tr>
  </thead>
  <tbody>
	</tbody>
</nz-table>

<ng-template #Header>
  <div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
    <p class="mb-2 sm:mb-0">Resultados cantidad</p>
    <div>
      <nz-space>
				<a routerLink="/sgd/carga_masiva" nz-button nzTheme="outline">
					<span nz-icon nzType="container" nzTheme="outline"></span>
					Carga masiva
				</a>
      </nz-space>
    </div>
  </div>
</ng-template>