<form [formGroup]="formEstado" class="flex flex-col gap-3" autocomplete="off">
    <div class="flex flex-col">
        <label for="fecha">Fecha de creación</label>
        <p-calendar 
        formControlName="fecha"
        [iconDisplay]="'input'" 
        [showIcon]="true"
        [showButtonBar]="true"
        dateFormat="dd/mm/yy"
        inputId="icondisplay"/>
        <div class="w-full text-danger" *ngIf="alertMessageError('fecha')">{{msgErrorControl('fecha','Fecha')}}</div>
    </div>

    <div class="flex flex-col col-span-2">
        <label for="resumen">Descripción</label>
        <textarea  class="form-control" placeholder="Descripción aquí" formControlName="resumen" rows="2"> </textarea>
        <div class="w-full text-danger" *ngIf="alertMessageError('resumen')">{{msgErrorControl('resumen','Resumen')}}</div>
    </div>
</form>
