<div nz-tooltip [nzTooltipTitle]="titulo" (click)="descargarPdf(rutaArchivo)" class="p-1 cursor-pointer" [ngClass]="{ 'text-sky-700' : active, 'text-slate-400' : !active }">
    <!-- <i class="pi" [ngClass]="{ 'pi-file-pdf' : !preload || preload && !loading, 'pi-spin pi-spinner' : preload && loading }" style="font-size: 0.85rem"></i> -->
    <i class="pi" [ngClass]="(preload && loading) ? 'pi-spin pi-spinner' : icono" style="font-size: 0.85rem"></i>
      @if(label){ {{label}} }
</div>
<p-toast />