<form [formGroup]="formAtencion" nz-form nzLayout="vertical" autocomplete="off">
	@if (perfilPOIAtencion() && !esDocumento) {
		<div nz-row [nzGutter]="16">
			<div nz-col nzSpan="12">
				<nz-form-item>
					<nz-form-label [nzSpan]="null">Tipo de atención</nz-form-label>
					<nz-radio-group class="radio-form-control" formControlName="tipo">
						@for (tipo of tipos; track $index){
							@if (tipo.text != 'documento') {
								<label nz-radio [nzValue]="tipo.value.toLowerCase()">{{tipo.text| titlecase }}</label>
							}
						}
					</nz-radio-group>
					<div class="text-danger" *ngIf="alertMessageError('tipo')">{{msgErrorControl('tipo','Tipo de atención')}}
					</div>
				</nz-form-item>
			</div>
		</div>
	}
	<div nz-row [nzGutter]="16">
		<div nz-col nzSpan="6">
			<nz-form-item>
				<nz-form-label [nzSpan]="null" nzFor="fechaAtencion">Fecha de atención</nz-form-label>
				<nz-form-control nzSpan="null">
					<nz-date-picker id="fechaAtencion" class="datepicker-form-control" formControlName="fechaAtencion"
						nzPlaceHolder="Seleccionar fecha" nzFormat="dd/MM/yyyy" [nzDisabled]="esDocumento || !permisosPCM"
						[nzDisabledDate]="disableDates"></nz-date-picker>
				</nz-form-control>
				<div class="text-danger" *ngIf="alertMessageError('fechaAtencion')">
					{{msgErrorControl('fechaAtencion','Fecha de atención')}}</div>
			</nz-form-item>
		</div>
		<div nz-col nzSpan="6">
			<nz-form-item>
			<nz-form-label>{{ permisosPCM ? 'Modalidad' : 'Sector' }}</nz-form-label>
			@if (permisosPCM) {
				<nz-radio-group class="radio-form-control" formControlName="modalidad" (ngModelChange)="obtenerModalidad()" [nzDisabled]="esDocumento">
					@for (modalidad of modalidades; track $index){
					<label nz-radio [nzValue]="modalidad.value.toLowerCase()">{{modalidad.text | titlecase }}</label>
					}
				</nz-radio-group>
				<div class="text-danger" *ngIf="alertMessageError('modalidad')">{{msgErrorControl('modalidad','Modalidad')}}
				</div>
			} @else {
				<nz-form-control>
					<input type="text" class="form-control" id="sector" formControlName="sector">
				</nz-form-control>
			}
			</nz-form-item>
		</div>
		<div nz-col nzSpan="6">
			<nz-form-item>
				<nz-form-label [nzSpan]="null" nzFor="lugarId">Lugar</nz-form-label>
				<nz-form-control nzSpan="null">
					<p-dropdown 
					[options]="lugares()"
					formControlName="lugarId"
					optionLabel="nombre"
					[showClear]="true" 
					placeholder="Seleccionar lugar"
					(onChange)="obtenerLugar()"/>
					<div class="text-danger" *ngIf="alertMessageError('lugarId')">{{msgErrorControl('lugarId','Lugar')}}</div>
				</nz-form-control>
			</nz-form-item>
		</div>
		
		<div nz-col nzSpan="6">
			<nz-form-item>
				<nz-form-label [nzSpan]="null" nzFor="tipoEntidadId">Tipo de entidad</nz-form-label>
				<nz-form-control>
					<p-dropdown 
					[options]="tipoEntidades()"
					formControlName="tipoEntidadId"
					optionLabel="nombre"
					[showClear]="true" 
					placeholder="Seleccionar tipo de entidad"
					(onChange)="changeTipoEntidad()"/>
					<div class="text-danger" *ngIf="alertMessageError('tipoEntidadId')"> {{msgErrorControl('tipoEntidadId','Tipo de entidad')}}</div>
				</nz-form-control>
			</nz-form-item>
		</div>
	</div>

	<div nz-row [nzGutter]="16">
		<div nz-col nzSpan="6">
			<nz-form-item>
				<nz-form-label nzFor="departamento">Departamento</nz-form-label>
				<nz-form-control>
					@if(esMancomunidad){
					<input type="text" class="form-control" id="departamento" placeholder="" formControlName="departamento">
					} @else {
					<p-dropdown 
					[options]="departamentos()"
					formControlName="departamento"
					optionLabel="departamento"
					[showClear]="true" 
					placeholder="Seleccionar departamento"
					(onChange)="changeDepartamento()"/>
					<div class="text-danger" *ngIf="alertMessageError('departamento')">
						{{msgErrorControl('departamento','Departamento')}}
					</div>
					}
				</nz-form-control>
			</nz-form-item>
		</div>
		<div nz-col nzSpan="6">
			<nz-form-item>
				<nz-form-label [nzSpan]="null" nzFor="provincia">Provincia</nz-form-label>
				<nz-form-control nzSpan="null">
				@if(esMancomunidad){
					<input type="text" class="form-control" id="provincia" placeholder="" formControlName="provincia">
				} @else {
					<p-dropdown 
					[options]="provincias()"
					formControlName="provincia"
					optionLabel="provincia"
					[showClear]="true" 
					placeholder="Seleccionar provincia"
					(onChange)="changeProvincia()"/>
					<div class="text-danger" *ngIf="alertMessageError('provincia')">
						{{msgErrorControl('provincia','Provincia')}}</div>
					}
				</nz-form-control>
			</nz-form-item>
		</div>
		<div nz-col nzSpan="6">
			<nz-form-item>
				<nz-form-label nzRequired [nzSpan]="null" nzFor="distrito">Distrito</nz-form-label>
				<nz-form-control nzSpan="null">
				@if(esMancomunidad){
					<input type="text" class="form-control" id="distrito" placeholder="" formControlName="distrito">
				} @else {
					<p-dropdown 
					[options]="distritos()"
					formControlName="distrito"
					optionLabel="distrito"
					[showClear]="true" 
					placeholder="Seleccionar distrito"
					(onChange)="changeDistrito()"/>
					<div class="text-danger" *ngIf="alertMessageError('distrito')">{{msgErrorControl('distrito','Distrito')}}
					</div>
				}
			</nz-form-control>
			</nz-form-item>
		</div>
		<div nz-col nzSpan="6">
			<nz-form-item>
				@if(esMancomunidad){
				<nz-form-label>Mancomunidad</nz-form-label>
				<p-dropdown 
					[options]="mancomunidades()"
					formControlName="entidadId"
					optionLabel="entidad"
					[showClear]="true"
					placeholder="Seleccionar mancomunidad"
					(onChange)="changeMancomunidad()"/>
				<div class="text-danger" *ngIf="alertMessageError('entidadId')">
					{{msgErrorControl('entidadId','Mancomunidad')}}</div>
				} @else {
				<nz-form-label 
					nzFor="entidad" 
					[nzSm]="6" 
					[nzXs]="24" 
					[nzTooltipTitle]="formAtencion.get('entidad')?.value ? formAtencion.get('entidad')?.value : ''" 
					[nzTooltipIcon]="{ type: 'info-circle', theme: 'twotone' }" >
					Entidad
				</nz-form-label>
				<nz-form-control nzSpan="null">
					<input type="text" class="form-control" id="entidad" placeholder="Entidad" formControlName="entidad">
				</nz-form-control>
				}
			</nz-form-item>
		</div>
	</div>

	@if (!esDocumento) {
        <div nz-row [nzGutter]="16">
          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label nzRequired [nzSpan]="null">Participa Autoridad</nz-form-label>
              <nz-radio-group class="radio-form-control" formControlName="autoridad" (ngModelChange)="changeAutoridad()">
                @for (participa of participar; track $index){
                <label nz-radio [nzValue]="participa == 'si' ? true : false">{{participa | titlecase }}</label>
                }
              </nz-radio-group>
              <div class="text-danger" *ngIf="alertMessageError('autoridad')">{{msgErrorControl('autoridad','Autoridad')}}
              </div>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="permisosPCM ? 6 : 4">
            <nz-form-item>
              <nz-form-label [nzSpan]="null" nzFor="dniAutoridad">DNI</nz-form-label>
              <nz-form-control nzSpan="null">
                <input type="text" id="dniAutoridad" class="form-control" placeholder="Ingresa el DNI aquí"
                  formControlName="dniAutoridad">
              </nz-form-control>
              <div class="text-danger" *ngIf="alertMessageError('dniAutoridad')">{{msgErrorControl('dniAutoridad','DNI')}}
              </div>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <ng-container *ngTemplateOutlet="controlParticipante"></ng-container>
          </div>
          <div nz-col [nzSpan]="permisosPCM ? 6 : 4">
            <nz-form-item>
              <nz-form-label [nzSpan]="null" nzFor="cargoAutoridad">Cargo</nz-form-label>
              <nz-form-control nzSpan="null">
                <input type="text" class="form-control" id="cargoAutoridad" placeholder="Ingrese el cargo aquí"
                  formControlName="cargoAutoridad">
              </nz-form-control>
              <div class="text-danger" *ngIf="alertMessageError('cargoAutoridad')">
                {{msgErrorControl('cargoAutoridad','Cargo')}}</div>
            </nz-form-item>
          </div>
          @if(!permisosPCM){
            <div nz-col [nzSpan]="permisosPCM ? 6 : 4">
              <nz-form-item>
                <nz-form-label [nzSpan]="null" nzFor="contactoAutoridad">Contacto</nz-form-label>
                <nz-form-control nzSpan="null">
                  <input type="text" class="form-control" id="contactoAutoridad" placeholder="Ingrese el contacto aquí"
                    formControlName="contactoAutoridad">
                </nz-form-control>
                <div class="text-danger" *ngIf="alertMessageError('contactoAutoridad')">
                  {{msgErrorControl('contactoAutoridad','Contacto')}}</div>
              </nz-form-item>
            </div>
          }
        </div>
      } @else {
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label [nzSpan]="null" nzFor="documentoTitulo">Documento</nz-form-label>
              <nz-form-control nzSpan="null">
                <input nz-input type="text" class="form-control" id="documentoTitulo" placeholder="Ingrese el documento aquí"
                  formControlName="documentoTitulo">
              </nz-form-control>
              <div class="text-danger" *ngIf="alertMessageError('documentoTitulo')">
                {{msgErrorControl('documentoTitulo','documento')}}</div>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label [nzSpan]="null" nzFor="numeroExpediente">Expediente</nz-form-label>
              <nz-form-control nzSpan="null">
                <input type="text" class="form-control" id="numeroExpediente" placeholder="Ingrese el expediente aquí"
                  formControlName="numeroExpediente">
              </nz-form-control>
              <div class="text-danger" *ngIf="alertMessageError('numeroExpediente')">
                {{msgErrorControl('numeroExpediente','expediente')}}</div>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label [nzSpan]="null" nzFor="espacioId">Espacios</nz-form-label>
			  <p-dropdown 
					[options]="espacios()"
					formControlName="espacioId"
					optionLabel="nombre"
					[showClear]="true"
					placeholder="Seleccionar espacio"/>
				<div class="text-danger" *ngIf="alertMessageError('espacioId')">{{msgErrorControl('espacioId','Espacio')}}</div>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <ng-container *ngTemplateOutlet="controlClasificacion"></ng-container>
          </div>          
        </div>
      }

	  <ng-template #controlParticipante>
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzFor="nombreAutoridad">{{ esDocumento ? 'Participante' : 'Nombre'}}</nz-form-label>
          <nz-form-control nzSpan="null">
            @if (esDocumento) {
              <textarea nz-input class="form-control" id="nombreAutoridad" formControlName="nombreAutoridad"
                  (keyup)="caracteresContador('nombreAutoridad',900)" placeholder="Ingrese el participante aquí"
                  rows="2"></textarea>
            } @else {
              <input type="text" class="form-control" id="nombreAutoridad" placeholder="Ingresa el nombre aquí"
                formControlName="nombreAutoridad">
            }
            </nz-form-control>
          <div class="text-danger" *ngIf="alertMessageError('autoridad')">{{msgErrorControl('autoridad','participante')}}
          </div>
        </nz-form-item>
      </ng-template>

	  <ng-template #controlClasificacion>
        <nz-form-item>
          <nz-form-label [nzSpan]="null">Clasificación</nz-form-label>
          <nz-radio-group class="radio-form-control" formControlName="clasificacion" (ngModelChange)="changeClasificacion()">
            @for (clasificacion of clasificaciones; track $index){
            <label nz-radio [nzValue]="clasificacion.value">{{clasificacion.text| titlecase }}</label>
            }
          </nz-radio-group>
          <div class="text-danger" *ngIf="alertMessageError('clasificacion')">
            {{msgErrorControl('clasificacion','Clasificacion')}}</div>
        </nz-form-item>
      </ng-template>

	<!-- <ng-template #controlSector>
		<nz-form-item>
			<nz-form-label [nzSpan]="null" nzFor="sectorId">Sector</nz-form-label>
			<nz-form-control nzSpan="null">
				<nz-select nzPlaceHolder="Seleccionat sector" id="sectorId" class="select-form-control"
					formControlName="sectorId" nzAllowClear nzShowSearch [nzDisabled]="!permisosPCM">
					@for (sector of sectoresStore.sectores(); track $index) {
					<nz-option [nzValue]="sector.value" nzLabel="{{sector.label}}"></nz-option>
					}
				</nz-select>
				<div class="text-danger" *ngIf="alertMessageError('sectorId')">{{msgErrorControl('sectorId','Sector')}}
				</div>
			</nz-form-control>
		</nz-form-item>
	</ng-template> -->
</form>
