<div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-6 bg-white p-4 gap-2 md:gap-0">
	<div class="flex col-span-2 lg:col-span-1 border border-gray-200">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Codigo</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.codigo}}</div>
	</div>

	<div class="flex col-span-2 lg:col-span-1 border border-gray-200">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Tipo</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.tipo | titlecase}}</div>
	</div>

	<div class="flex col-span-2 lg:col-span-1 border border-gray-200">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Fecha atención</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.fechaAtencion | date : 'dd/MM/yyyy'}}</div>
	</div>

	<div class="flex col-span-2 lg:col-span-1 border border-gray-200">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Modalidad</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.modalidad}}</div>
	</div>

	<div class="flex col-span-2 lg:col-span-1 border border-gray-200">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Lugar</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.lugar}}</div>
	</div>

	<div class="flex col-span-2 lg:col-span-1 border border-gray-200">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Tipo entidad</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.tipoEntidadSlug}}</div>
	</div>

	<div class="flex col-span-2 lg:col-span-1 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Departamento</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.departamento}}</div>
	</div>

	<div class="flex col-span-2 lg:col-span-1 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Provincia</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.provincia}}</div>
	</div>

	<div class="flex col-span-2 lg:col-span-1 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Distrito</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.distrito}}</div>
	</div>

	<div class="flex col-span-2 lg:col-span-3 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Entidad</div>
		<!-- <div class="w-full flex items-center  px-2 py-1 border-l border-gray-200" nz-tooltip="{{asistenciaTecnica.entidad}}">{{asistenciaTecnica.entidad}}</div> -->
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.entidad}}</div>
	</div>

	<div class="flex col-span-2 lg:col-span-1 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Autoridad</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.participaAutoridad}}</div>
	</div>

	<div class="flex col-span-2 lg:col-span-1 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">DNI</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.dniAutoridad}}</div>
	</div>

	<div class="flex col-span-2 lg:col-span-2 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Nombre</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.nombreAutoridad}}</div>
	</div>

	<div class="flex col-span-2 lg:col-span-1 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Cargo</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.cargoAutoridad}}</div>
	</div>

	<div class="flex col-span-2 lg:col-span-1 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Contacto</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.contactoAutoridad}}</div>
	</div>
	<div class="flex col-span-2 lg:col-span-1 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Espacio</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.espacio}}</div>
	</div>
	<div class="flex col-span-2 lg:col-span-1 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Clasificación</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.clasificacion | titlecase}}</div>
	</div>

	<div class="flex col-span-2 lg:col-span-3 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Tema</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.tema}}</div>
	</div>

	<div class="flex col-span-2 lg:col-span-1 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Evidencias</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">
            <app-boton-descargar [rutaArchivo]="asistenciaTecnica.evidenciaReunion" [titulo]="'Descargar evidencia de reunion'"/>
            <app-boton-descargar [rutaArchivo]="asistenciaTecnica.evidenciaAsistencia" [titulo]="'Descargar evidencia de asistencia'"/>
        </div>
	</div>

    <div class="flex col-span-2 lg:col-span-3 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Comentarios</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.comentarios}}</div>
	</div>

    <div class="flex col-span-2 lg:col-span-3 border border-gray-200 border-t-0">
		<div class="flex items-center min-w-[124px] lg:min-w-[110px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Acuerdos</div>
		<div class="w-full flex items-center  px-2 py-1 border-l border-gray-200">{{asistenciaTecnica.acuerdos}}</div>
	</div>
</div>