<div class="site-page-header-ghost-wrapper mb-8">
    <nz-page-header nzBackIcon [nzGhost]="false">
        <nz-page-header-title class="whitespace-normal line-height">{{ title }}</nz-page-header-title>
        @if(subtitle) {
        <nz-page-header-subtitle>{{ subtitle }}</nz-page-header-subtitle>
        }
        @if(buttons) {
        <nz-page-header-extra>
            <nz-space>
                @for (item of buttons; track $index) {
                <button [routerLink]="item.href" *nzSpaceItem nz-button [nzType]="item.type!">
                    <span *ngIf="item.icon" nz-icon [nzType]="item.icon" nzTheme="outline"></span>
                    <span>{{item.title}}</span>
                </button>
                }
            </nz-space>
        </nz-page-header-extra>
        }
        <nz-page-header-content *ngIf="content">

            <ng-container *ngTemplateOutlet="content"></ng-container>
        </nz-page-header-content>
    </nz-page-header>
</div>