<app-page-header [title]="title.toUpperCase()" backUrl="panel" />

<nz-table [nzScroll]=" { x: '1150px' }" [nzTitle]="Header" nzShowSizeChanger nzSize="small"
    [nzData]="this.perfilesService.perfiles()" [nzFrontPagination]="false"
    [nzLoading]="this.perfilesService.isLoading()" [nzTotal]="this.perfilesService.total()" [nzPageSize]="this.pageSize"
    [nzPageIndex]="this.pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
        <tr>
            <th nzLeft nzColumnKey="descripcionPerfil" [nzSortFn]="true">Perfil</th>
            <th nzColumnKey="descripcionNivel">Nivel</th>
            <th nzColumnKey="descripcionSubTipo">Sub tipo</th>
            <th nzColumnKey="fechaRegistro">Fecha de regristo</th>
            <th nzColumnKey="esActivo">Estado</th>
            <th nzRight nzColumnKey="acciones">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for (data of this.perfilesService.perfiles(); track data.codigoPerfil) {
        <tr>
            <td nzLeft>{{ data.descripcionPerfil }}</td>
            <td>{{ data.descripcionNivel }}</td>
            <td>{{ data.descripcionSubTipo }}</td>
            <td>{{ data.fechaRegistro }}</td>
            <td> <nz-badge [nzStatus]="data.esActivo?'success':'error'"
                    [nzText]="data.esActivo?'Activo':'Inactivo'"></nz-badge>
            </td>
            <td nzRight>
                <nz-space>
                    <button *nzSpaceItem nz-button nzType="link" (click)="onAddEdit(data)">
                        <!-- icono de editar -->
                        <span nz-icon nzType="edit" nzTheme="outline"></span>
                    </button>
                    <button *nzSpaceItem nz-button nzDanger nzType="link" (click)="onDelete(data)">
                        <!-- icono de eliminar de color rojo -->
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                </nz-space>
            </td>
        </tr>
        }
    </tbody>
</nz-table>

<ng-template #Header>
    <div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
        <p class="mb-2 sm:mb-0">Resultados ({{this.perfilesService.total()}})</p>
        <div>
            <nz-space>

                <button *nzSpaceItem nz-button (click)="onOpenDrawer()">
                    <span nz-icon nzType="filter" nzTheme="outline"></span>
                    <span class="button-text">Filtros</span>
                    <nz-badge class="button-text pl-1" nzStandalone [nzCount]="filterCounter()"></nz-badge>
                </button>

                <button *nzSpaceItem nz-button>
                    <span nz-icon nzType="file-excel" nzTheme="outline"></span>
                    <span class="button-text">Exportar perfiles</span>
                </button>

                <button *nzSpaceItem nz-button nzType="primary" (click)="onAddEdit(null)">
                    <span nz-icon nzType="plus" nzTheme="outline"></span>
                    <span class="button-text">Nuevo perfil</span>
                </button>
            </nz-space>
        </div>
    </div>
</ng-template>

<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzVisible]="isDrawervisible"
    nzTitle="Filtrar los resultados" [nzFooter]="footerTpl" (nzOnClose)="onCloseDrawer()">
    <form nz-form *nzDrawerContent nzLayout="vertical" [formGroup]="searchForm">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzFor="nombrePerfil">Perfil</nz-form-label>
                    <nz-form-control nzSpan="null">
                        <nz-input-group [nzSuffix]="suffixIconSearch">
                            <input type="text" #nombrePerfil id="nombrePerfil" formControlName="nombrePerfil" nz-input
                                (keyup)="onNombrePerfilChange($event)" placeholder="Ingrese perfil a buscar" />
                        </nz-input-group>
                        <ng-template #suffixIconSearch>
                            <span nz-icon [nzType]="this.perfilesService.isLoading() ? 'loading' : 'search'"></span>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <!-- <code>{{searchForm.valid | json}}<br>
        {{searchForm.value | json}}</code> -->
    </form>


    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="onClearFilters();">Limpiar filtros</button>
            <button nz-button nzType="primary" (click)="onCloseDrawer()"><span nz-icon nzType="save"
                    nzTheme="outline"></span> Guardar filtros</button>
        </div>
    </ng-template>
</nz-drawer>