<nz-page-header nzBackIcon [nzGhost]="false">
	<nz-page-header-title>Detalle de Mesa</nz-page-header-title>
</nz-page-header>

<!-- col-span-2 -->
<div class="grid grid-cols-1 md:grid-cols-6 bg-white p-4">
	<div class="flex">
		<div class="flex items-center min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Codigo</div>
		<div class="w-full flex items-center  px-2 py-1 border border-grey-200">{{mesa().codigo}}</div>
	</div>
	<div class="flex col-span-4">
		<div class="flex items-center min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Nombre</div>
		<div class="w-full flex items-center  px-2 py-1 border border-grey-200">{{mesa().nombre}}</div>
	</div>
	<div class="flex">
		<div class="flex items-center min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Estado</div>
		<div class="w-full flex items-center px-2 py-1 border border-grey-200">
			<app-estado-tag [estado]="mesa().estadoInternoNombre"></app-estado-tag>
		</div>
	</div>
</div>

<div class="grid grid-cols-2 gap-4 mt-4">
	<div class="w-full flex flex-col bg-white border border-solid border-grey-200">
		<div class="flex items-center justify-between p-4 border border-solid border-grey-200">
			<h5 class="m-0 text-base font-semibold">Sesiones</h5>
			@if (mesa().estadoInternoNombre != 'cerrado') {
				<button nz-button nzType="default">
					<span nz-icon nzType="plus" nzTheme="outline"></span>
					<span class="button-text">Nueva</span>
				</button>
			}
		</div>
		<div class="flex border-solid ">
			<nz-table [nzData]="files" class="w-full" [nzFrontPagination]="false" [nzShowPagination]="false" >
				<thead>
					<tr>
						<th nzWidth="10px" nzAlign="center">Id</th>
						<th nzWidth="56px" nzAlign="center">Nombre archivo</th>
						<th nzWidth="40px" nzAlign="center">Usuario</th>
						<th nzWidth="10px" nzAlign="center">Fecha</th>
						<th nzWidth="10px"></th>
					</tr>
				</thead>
				<tbody>
					@for(mesa of mesasSesion(); track $index){
					<tr>
						<td nzAlign="center">{{mesa.mesaId}}</td>
						<td nzAlign="center">{{mesa.archivo}}</td>
						<td nzAlign="center">{{mesa.usuarioId}}</td>
						<td nzAlign="center">{{mesa.fechaRegistro | date : 'dd/MM/yyyy' }}</td>
						<td nzAlign="center">
							<button nz-button nzType="link" nz-tooltip nzTooltipTitle="Descargar">
								<span nz-icon nzType="file-excel" nzTheme="outline"></span>
							</button>
							<button nz-button nzDanger nzType="link" nz-tooltip nzTooltipTitle="Eliminar">
								<span nz-icon nzType="delete" nzTheme="outline"></span>
							  </button>
						</td>
					</tr>
					}
				</tbody>
			</nz-table>
		</div>
	</div>

	<div class="w-full flex flex-col bg-white border border-solid border-grey-200">
		<div class="flex items-center justify-between p-4 border border-solid border-grey-200">
			<h5 class="m-0 text-base font-semibold">AM</h5>
			@if (mesa().estadoInternoNombre != 'cerrado') {
				<button nz-button nzType="default">
					<span nz-icon nzType="plus" nzTheme="outline"></span>
					<span class="button-text">Nueva</span>
				</button>
			}
		</div>
		<div class="flex border-solid ">
			<nz-table [nzData]="files" class="w-full" [nzFrontPagination]="false" [nzShowPagination]="false" >
				<thead>
					<tr>
						<th nzWidth="10px" nzAlign="center">Id</th>
						<th nzWidth="56px" nzAlign="center">Nombre archivo</th>
						<th nzWidth="40px" nzAlign="center">Usuario</th>
						<th nzWidth="10px" nzAlign="center">Fecha</th>
						<th nzWidth="10px"></th>
					</tr>
				</thead>
				<tbody>
					@for(mesa of mesasAm(); track $index){
					<tr>
						<td nzAlign="center">{{mesa.mesaId}}</td>
						<td nzAlign="center">{{mesa.archivo}}</td>
						<td nzAlign="center">{{mesa.usuarioId}}</td>
						<td nzAlign="center">{{mesa.fechaRegistro | date : 'dd/MM/yyyy' }}</td>
						<td nzAlign="center">
							<button nz-button nzType="link" nz-tooltip nzTooltipTitle="Descargar">
								<span nz-icon nzType="file-excel" nzTheme="outline"></span>
							</button>
							<button nz-button nzDanger nzType="link" nz-tooltip nzTooltipTitle="Eliminar">
								<span nz-icon nzType="delete" nzTheme="outline"></span>
							  </button>
						</td>
					</tr>
					}
				</tbody>
			</nz-table>
		</div>
	</div>
</div>