<app-page-header [title]="'ATENCIONES'" backUrl="panel" />
<div class="grid grid-cols-1">
  <nz-table [nzScroll]="{ x: 'max-content' }" class="min-w-full" [nzTitle]="HeaderAtencion" nzShowSizeChanger nzSize="small"
    [nzData]="asistenciasTecnicas()" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="pagination.total!"
    [nzPageSize]="pagination.pageSize!" [nzPageIndex]="pagination.currentPage!"
    (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th nzWidth="100px" nzAlign="center" nzColumnKey="codigo" [nzSortFn]="true">Código </th>
        <th nzWidth="80px" nzAlign="center" nzColumnKey="fechaAtencion" [nzSortFn]="true">Fecha de atención</th>
        @if(permisosPCM){
          <th nzWidth="120px" nzAlign="center" nzColumnKey="tipo" [nzSortFn]="true">Tipo de atención </th>
          <th nzWidth="120px" nzAlign="center" nzColumnKey="modalidad" [nzSortFn]="true">Modalidad</th>
        } @else {
          <th nzWidth="100px" nzAlign="center">Evento</th>
          <th nzWidth="200px" nzAlign="center">Unidad Organica</th>
        }
        <th nzWidth="90px" nzAlign="center" nzColumnKey="tipoEntidad" [nzSortFn]="true">Tipo de entidad</th>
        <th nzWidth="200px" nzColumnKey="entidad">Entidad</th>
        <th nzWidth="80px" nzAlign="center" nzColumnKey="autoridad" [nzSortFn]="true">Autoridad</th>
        <th nzWidth="150px" nzAlign="center" nzColumnKey="espacio" [nzSortFn]="true">Espacio</th>
        <th nzWidth="100px" nzAlign="center" nzColumnKey="clasificacion" [nzSortFn]="true">Clasificación</th>
        <th nzRight nzWidth="100px" nzAlign="center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for(atencion of asistenciasTecnicas(); track $index){
      <tr>
        <td nzAlign="center"> <p class="font-bold">{{atencion.codigo}}</p></td>
        <td nzAlign="center">{{atencion.fechaAtencion | date : 'dd/MM/yyyy'}}</td>
        @if(permisosPCM){
          <td nzAlign="center">{{atencion.tipo | titlecase}}</td>
          <td nzAlign="center">{{atencion.modalidad | titlecase }}</td>
        } @else {
          <td nzAlign="center">
            <p [nz-tooltip]="atencion.evento">{{ atencion.eventoSlug }}</p>
          </td>
          <td nzAlign="center">{{atencion.unidadOrganica }}</td>
        }
        <td nzAlign="center"><p nz-tooltip="{{atencion.tipoEntidad }}">{{atencion.tipoEntidadSlug}}</p></td>
        <td><p nz-tooltip="{{atencion.entidad}}">{{atencion.entidadTipo}} {{atencion.entidadSlug}}</p></td>
        <td nzAlign="center">{{atencion.participaAutoridad }}</td>
        <td nzAlign="center">{{atencion.espacio| titlecase }}</td>
        <td nzAlign="center">{{atencion.clasificacion | titlecase}}</td>
        <td nzRight>
          <div class="w-full flex justify-center">
            <a *ngIf="permisosPCM" [routerLink]="[atencion.asistenciaId]" class="p-1 text-sky-700 hover:text-sky-800">
                <i class="pi pi-eye" style="font-size: .85rem;"></i>
            </a>
            @if(atencionActions.edit){
            <button nz-button nzType="link" (click)="updatedAsistencia(atencion)" nz-tooltip="{{ !disabledActions(atencion)  ? 'Actualizar Atención' : '' }}" [disabled]="disabledActions(atencion)">
              <!-- <span nz-icon nzType="edit" nzTheme="outline"></span> -->
               <i class="pi pi-pencil" style="font-size: .85rem;"></i>
            </button>
            }
            @if(atencionActions.delete){
            <button nz-button nzDanger nzType="link" nz-tooltip="{{ !disabledActions(atencion) ? 'Eliminar Atención' : '' }}" (click)="eliminarAsistencia(atencion)" [disabled]="disabledActions(atencion)">
              <!-- <span nz-icon nzType="delete" nzTheme="outline"></span> -->
              <i class="pi pi-trash" style="font-size: .85rem;"></i>
            </button>
            }
            @if(atencionActions.validate){
              <button nz-button nzType="link" nz-tooltip="{{ esDocumento(atencion) && !atencion.validado ? 'Validar Atención' : '' }}" (click)="validarAtencion(atencion)"
                [disabled]="!esDocumento(atencion) || atencion.validado">
                <!-- <span nz-icon nzType="check" nzTheme="outline"></span> -->
                <i class="pi pi-check" style="font-size: .85rem;"></i>
              </button>
            }
          </div>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
  
  <ng-template #HeaderAtencion>
    <div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
      <p class="mb-2 sm:mb-0">Resultados ({{pagination.total}})</p>
      <div class="flex gap-2">
        <div class="flex gap-2">
          @if (atencionActions.report) {
            <div class="cursor-pointer flex items-center gap-1 py-1 px-3 rounded border border-sky-700 text-sky-700 hover:bg-sky-700 hover:text-white"  (click)="filtrosVisible = true">
              <i class="pi pi-filter" style="font-size: 0.75rem"></i>
              <span class="hidden md:flex">Filtros</span>
            </div>

            <div class="cursor-pointer flex items-center gap-1 py-1 px-3 rounded border border-sky-700 text-sky-700 hover:bg-sky-700 hover:text-white" (click)="reporteExcelAtenciones()">
              <i class="pi" [ngClass]="{ 'pi-spin pi-spinner' : loadingExport, 'pi-file-excel' : !loadingExport }" style="font-size: 0.75rem"></i>
              <span class="hidden md:flex">Exportar</span>
            </div>
          }
          @if(atencionActions.goals){
          <a [routerLink]="['metas']" class="cursor-pointer flex items-center gap-1 py-1 px-3 rounded border border-sky-700 text-sky-700 hover:bg-sky-700 hover:text-white">
            <i class="pi pi-chart-line" style="font-size: 0.75rem"></i>
            <span class="hidden md:flex">Metas</span>
          </a>
        }

          @if(atencionActions.new){
            <app-boton  [icono]="'plus'" [texto]="'Nueva Atención'" [disabled]="!this.permisosPCM && !this.evento()" (click)="!this.permisosPCM && !this.evento() ? null : crearAsistenciaTecnica()"/>
            <!-- <div class="flex items-center gap-1 py-1 px-3 rounded border text-white" [ngClass]="!this.permisosPCM && !this.evento() ? 'border-slate-200 bg-slate-200' : 'cursor-pointer border-sky-700 bg-sky-700 hover:bg-sky-800 hover:border-sky-700'"  (click)="!this.permisosPCM && !this.evento() ? null : crearAsistenciaTecnica()">
              <i class="pi pi-plus" style="font-size: 0.75rem"></i>
              <span class="hidden md:flex">Nueva atención</span>
            </div> -->
          }
        </div>
      </div>
    </div>
  </ng-template>
</div>

<app-filtros-atencion *ngIf="filtrosVisible" [visible]="filtrosVisible" [pagination]="pagination" (visibleDrawer)="filtrosVisible = false" [permisosPCM]="permisosPCM" [tipos]="tipos" (filters)="generateFilters($event)"/>