<app-page-header [title]="title.toUpperCase()" backUrl="panel" />
<nz-table [nzScroll]="{ x: '1150px' }" [nzTitle]="Header" nzShowSizeChanger nzSize="small"
  [nzData]="asistenciasTecnicas()" [nzFrontPagination]="false" [nzLoading]="loadingData" [nzTotal]="pagination.total"
  [nzPageSize]="pagination.pageSize" [nzPageIndex]="pagination.currentPage"
  (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
    <tr>
      <th nzLeft nzWidth="42px" nzAlign="center" nzColumnKey="validado"></th>
      <th nzLeft nzWidth="100px" nzAlign="center" nzColumnKey="tipo" [nzSortFn]="true">Tipo de atención </th>
      <th nzLeft nzWidth="100px" nzAlign="center" nzColumnKey="modalidad" [nzSortFn]="true">Modalidad</th>
      <th nzWidth="120px" nzAlign="center" nzColumnKey="fechaAtencion" [nzSortFn]="true">Fecha de atención</th>
      <th nzWidth="150px" nzAlign="center" nzColumnKey="tipoEntidad" [nzSortFn]="true">Tipo de entidad</th>
      <th nzWidth="150px" nzColumnKey="entidad">Entidad</th>
      <th nzWidth="150px" nzAlign="center" nzColumnKey="autoridad" [nzSortFn]="true">Autoridad</th>
      <th nzWidth="150px" nzAlign="center" nzColumnKey="espacio" [nzSortFn]="true">Espacio</th>
      <th nzWidth="150px" nzAlign="center" nzColumnKey="clasificacion" [nzSortFn]="true">Clasificación</th>
      <th nzWidth="150px" nzAlign="center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for(atencion of asistenciasTecnicas(); track $index){
    <tr>
      <td nzAlign="center"><nz-avatar [nzSize]="24" [ngClass]="{ 'bg-green-400' : atencion.validado && geDocumentAtencion(atencion), 'bg-gray-300' : !atencion.validado && geDocumentAtencion(atencion), 'bg-blue-400' : !geDocumentAtencion(atencion) }" nz-tooltip="{{ !geDocumentAtencion(atencion) ? '' :  atencion.validado ? 'Validado' : 'Sin Validar' }}" nzIcon="check"></nz-avatar></td>
      <td nzAlign="center">{{getTextEnum(atencion.tipo, 'tipo') | titlecase}}</td>
      <td nzAlign="center">{{getTextEnum(atencion.modalidad, 'modalidad') | titlecase }}</td>
      <td nzAlign="center">{{atencion.fechaAtencion | date : 'dd/MM/yyyy'}}</td>
      <td nzAlign="center">{{atencion.nombreTipoEntidad}}</td>
      <td>{{atencion.nombreEntidad}}</td>
      <td nzAlign="center">{{atencion.autoridad ? 'Si' : 'No' }}</td>
      <td nzAlign="center">{{atencion.nombreEspacio | titlecase }}</td>
      <td nzAlign="center">{{getTextEnum(atencion.clasificacion, 'clasificacion') | titlecase}}</td>
      <td nzAlign="center">
        <nz-space>
          @if(atencionActions.edit){
          <button *nzSpaceItem nz-button nzType="link" (click)="updatedAsistencia(atencion)" nz-tooltip="{{ !geDocumentAtencion(atencion) ? 'Actualizar Atención' : '' }}" [disabled]="geDocumentAtencion(atencion) && atencion.validado"><span nz-icon
              nzType="edit" nzTheme="outline"></span></button>
          }
          @if(atencionActions.delete){
          <button *nzSpaceItem nz-button nzDanger nzType="link" nz-tooltip="{{ !geDocumentAtencion(atencion) ? 'Eliminar Atención' : '' }}"
            (click)="eliminarAsistencia(atencion.asistenciaId!)" [disabled]="geDocumentAtencion(atencion) && atencion.validado"><span nz-icon nzType="delete"
              nzTheme="outline"></span></button>
          }
        </nz-space>
      </td>
    </tr>
    }
  </tbody>
</nz-table>

<ng-template #Header>
  <div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
    <p class="mb-2 sm:mb-0">Resultados ({{pagination.total}})</p>
    <div>
      <nz-space>
        @if(atencionActions.new){
        <button nz-button nzType="primary" (click)="crearAsistenciaTecnica()">
          <span nz-icon nzType="plus" nzTheme="outline"></span>
          <span class="button-text">Nueva Atención</span>
        </button>
        }
      </nz-space>
    </div>
  </div>
</ng-template>

<app-formulario-asistencia-tecnica [create]="create" [showModal]="showNzModal" [tipos]="tipos"
  [modalidades]="modalidaades" [asistenciaTecnica]="asistenciaTecnica" [departamentos]="departamentos()"
  [clasificaciones]="clasificaciones" [orientaciones]="orientaciones" (addFormDate)="getAddFormAdded($event)"
  (setCloseShow)="showNzModal = false"></app-formulario-asistencia-tecnica>