<form [formGroup]="avanceForm" nz-form nzLayout="vertical">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-form-item>
                <nz-form-label [nzSpan]="null" nzFor="avance" nzRequired>Descripción del avance</nz-form-label>
                <nz-form-control nzSpan="null" nzHasFeedback nzErrorTip="Campo requerido">
                    <textarea nz-input id="avance" formControlName="avance"
                        placeholder="Ingrese la descripción del avance" [nzAutosize]="{ minRows: 4 }"
                        nzAutosize></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="null" nzRequired>Fecha</nz-form-label>
                <nz-form-control nzSpan="null" nzErrorTip="Campo requerido" nzHasFeedback>
                    <nz-date-picker class="w-full" formControlName="fecha" nzPlaceHolder="Seleccionar fecha"
                        nzFormat="dd/MM/yyyy"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="null">Estado</nz-form-label>
                <nz-form-control nzSpan="null" nzHasFeedback nzErrorTip="Campo requerido">
                    <nz-select nzPlaceHolder="Seleccione" id="estado" #estado formControlName="estado" nzAllowClear
                        nzShowSearch (ngModelChange)="onEstadoChange($event)">
                        <nz-option nzValue="0" nzLabel="En proceso"></nz-option>
                        <nz-option nzValue="1" nzLabel="Culminado"></nz-option>
                        <!-- <nz-option *ngFor="let sect of this.sectoresStore.entidadesResponsables()"
                            [nzLabel]="sect.label!" [nzValue]="sect"></nz-option> -->
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>


        <!-- <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="null" nzRequired>Responsable</nz-form-label>
                <nz-form-control nzSpan="null" nzHasFeedback nzErrorTip="Campo requerido">
                    <nz-select nzDisabled nzPlaceHolder="Seleccione" id="responsableSelect" #responsableSelect
                        nzAllowClear formControlName="responsableSelect" (ngModelChange)="onResponsableIDChange($event)"
                        [compareWith]="compareFn">
                        <nz-option *ngFor="let tEnt of this.sectoresStore.tiposEntidades()" [nzLabel]="tEnt.label!"
                            [nzValue]="tEnt"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div> -->

        <!-- <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
            <nz-form-label [nzSpan]="null">Entidad</nz-form-label>
            <nz-form-control nzSpan="null">
                <nz-select nzPlaceHolder="Seleccione" id="entidadSelect" #entidadSelect formControlName="entidadSelect"
                    nzAllowClear (ngModelChange)="onEntidadIDChange($event)">
                    <nz-option *ngFor="let sec of this.sectoresStore.sectores()" [nzLabel]="sec.label!"
                        [nzValue]="sec"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div> -->
    </div>

    <!-- @if(this.avanceForm.get('responsableSelect')?.value != null){
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">

        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="null">Entidad</nz-form-label>
                <nz-form-control nzSpan="null" nzHasFeedback nzErrorTip="Campo requerido">
                    <nz-select nzPlaceHolder="Seleccione" id="entidadSelect" #entidadSelect
                        formControlName="entidadSelect" nzAllowClear nzShowSearch
                        (ngModelChange)="onEntidadIDChange($event)" [compareWith]="compareFn">
                        <nz-option *ngFor="let sect of this.sectoresStore.entidadesResponsables()"
                            [nzLabel]="sect.label!" [nzValue]="sect"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    } -->

    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-form-item>
                <nz-form-label [nzSpan]="null" [nzRequired]="avanceForm.get('estado')?.value == '1'">Evidencia del
                    avance</nz-form-label>
                <nz-form-control nzSpan="null" nzHasFeedback [nzExtra]="evidenciaTpl">
                    <nz-upload nzAccept="image/*,.pdf" [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload"
                        [nzRemove]="onDeleteFiles" [nzDownload]="handleDownload"
                        [nzShowButton]="this.fileList.length === 0">
                        <button type="button" nz-button>
                            <span nz-icon nzType="upload"></span>
                            Seleccionar
                        </button>
                    </nz-upload>

                    <ng-template #evidenciaTpl>
                        @if(avanceForm.get('estado')?.value == '1'){
                        Este campo es requerido cuando el estado de la evidencia es "Culminado"
                        }@else {
                        Opcional
                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <!-- {{this.avanceForm.value|json}} -->
    <!-- {{this.hitosService.hitoSeleccionado()|json}} -->
    <!-- {{this.hitosService.hitoSeleccionado()|json }} -->
    <!-- {{this.acuerdosService.acuerdoSeleccionado().acuerdoId|json }} -->
</form>