<div class="flex flex-col bg-white border border-b-0 border-solid border-grey-200">
    <div class="flex items-center justify-between px-4 py-3 border-b border-solid border-grey-200">
        <div class="flex flex-col">
            <h5 class="m-0 text-base font-semibold">Sectores</h5>
            Resultados: {{pagination.total}}
        </div>
		<div class="flex items-center gap-2">
			<app-boton *ngIf="eventoSectores().length === 0" [icono]="'plus'" [texto]="'Generar'" [outline]="true" (click)="generarSectores()"/>
			<app-boton *ngIf="eventoSectores().length > 0" [icono]="'list'" [texto]="'Botón detallado'" [outline]="true"/>
		</div>
    </div>
    <div class="grid grid-cols-1 border-solid">
        <nz-table  [nzScroll]="{ x: 'max-content' }" class="min-w-full" [nzData]="eventoSectores()"
			[nzFrontPagination]="false" [nzShowPagination]="pagination.total! > 5"
			[nzLoading]="loading" [nzTotal]="pagination.total!" [nzPageSize]="pagination.pageSize!"
			[nzPageIndex]="pagination.currentPage!" (nzQueryParams)="onQueryParamsChange($event)">
			<thead>
				<tr>
					<th>Sectores</th>
					<th nzAlign="center">Atenciones</th>
					<th nzAlign="center">Pedidos</th>
					<th nzAlign="center" nzWidth="80px"></th>
				</tr>
			</thead>
			<tbody>
				@for(eventoSector of eventoSectores(); track $index){
				<tr>
					<td>{{eventoSector.sector}}</td>
					<td nzAlign="center">{{eventoSector.cantidadAtenciones}}</td>
					<td nzAlign="center">{{eventoSector.cantidadPedidos}}</td>
					<td nzAlign="center">
						<div class="flex justify-center">
							<app-boton icono="pencil" [link]="true" [tooltip]="'Actualizar cantidades de ' + eventoSector.sector" (click)="actualizarEventoSector(eventoSector)"/>
						</div>
					</td>
				<tr>
				}
			</tbody>
		</nz-table>
    </div>
</div>

<p-toast />