<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="'400px'" [nzClosable]="true" [nzVisible]="visible"
	nzTitle="Filtrar los resultados" [nzFooter]="footerFilter" (nzOnClose)="changeVisibleDrawer(false, false)">
    <form *nzDrawerContent [formGroup]="formEventoFilters" nz-form nzLayout="vertical" autocomplete="off" class="flex flex-col w-full gap-3">
        <div class="flex flex-col">
            <label for="nombre">Evento</label>
            <input type="text" class="form-control" id="nombre" placeholder="Evento aqui" formControlName="nombre" (keyup)="changeControl($event,'nombre')"/>
        </div>
    </form>
</nz-drawer>


<ng-template #footerFilter>
    <div class="flex justify-end gap-2">
        <div class="cursor-pointer flex items-center gap-1 py-2 px-3 rounded border border-sky-700 text-sky-700 hover:bg-sky-700 hover:text-white" (click)="cleanParams()">
          <i class="pi pi-filter-slash" style="font-size: 0.75rem"></i>
          <span class="hidden md:flex">Limpiar filtros</span>
        </div>

        <div class="cursor-pointer flex items-center gap-1 py-2 px-3 rounded border border-sky-700 bg-sky-700 text-white hover:bg-sky-800" (click)="changeVisibleDrawer(false)">
          <i class="pi pi-save" style="font-size: 0.75rem"></i>
          <span class="hidden md:flex">Buscar filtros</span>
        </div>
    </div>
</ng-template>

