<form [formGroup]="formIndice" class="flex flex-col gap-3">
	<div *ngIf="!indice" class="flex flex-col">
		<label for="monto">Monto</label>
		<input type="text" class="form-control" id="monto" placeholder="Monto aquí" formControlName="monto" (keyup)="formatNumber()" />
		<div class="w-full text-danger" *ngIf="alertMessageError('monto')">{{msgErrorControl('monto','Monto')}}</div>
	</div>

	<div class="flex flex-col">
		<label for="nombre">Fecha de creación</label>
		<p-calendar 
		formControlName="fecha"
		[iconDisplay]="'input'"
		[showIcon]="true"
		[showButtonBar]="true"
		dateFormat="dd/mm/yy"
		inputId="icondisplay"/>
		<div class="w-full text-danger" *ngIf="alertMessageError('fecha')">{{msgErrorControl('fecha','Fecha')}}</div>
	</div>

	<div class="flex flex-col">
		<label for="archivo">Adjunto</label>
		<app-boton-upload  (files)="getFiles($event)" [accept]="indice ? '.xlsx' : '.pdf'" [resetFile]="resetFile" />
		<div class="w-full text-danger" *ngIf="alertMessageError('archivo')">{{msgErrorControl('archivo','Adjunto')}}</div>
	</div>
</form>

@if(reNewFile){
	<div class="grid pt-6 gap-2">
		<h5 class="text-base font-semibold">Revisa las siguientes filas del archivo adjunto</h5>
		<!-- <P>Para verificar el nombre correcto ya sea del departamento, provincia y/o distrito, <a [routerLink]="['entidades']" target="_blank" class="text-base font-bold text-sky-700 hover:text-sky-800 hover:underline"> click aquí</a></P> -->
		<p>Para verificar el nombre correcto ya sea del departamento, provincia y/o distrito, <span class="text-base font-bold text-sky-700 hover:text-sky-800 hover:underline">ir a menu/entidades</span></p>
		<nz-table [nzScroll]="{ x: 'max-content' }" class="min-w-full" nzShowSizeChanger nzSize="small"
		[nzData]="data.recursosIndices" [nzFrontPagination]="false">
		<thead>
		  <tr>
			<th nzWidth="'100px'" nzAlign="center">Fila</th>
			<th nzWidth="'120px'" nzAlign="center">Departamento</th>
			<th nzWidth="'100px'" nzAlign="center" >Provincia</th>
			<th nzWidth="'100px'" nzAlign="center">Distrito</th>
		  </tr>
		</thead>
		<tbody>
			@for (recurso of data.recursosIndices; track $index) {
			  <tr>
				<td nzAlign="center">{{recurso.row}}</td>
				<td nzAlign="center">{{recurso.departamento}}</td>
				<td nzAlign="center">{{recurso.provincia}}</td>
				<td nzAlign="center">{{recurso.distrito}}</td>
			  </tr>
			}
		</tbody>
	  </nz-table>
	</div>
}
