<form [formGroup]="formMesaDetalle" class="flex flex-col gap-4" autocomplete="off">
	<div class="flex flex-col">
		<label for="nombre">Archivo</label>
        <nz-upload [(nzFileList)]="filesList" [nzBeforeUpload]="beforeUploadMeet">
            <div
                class="border border-punche-blue-500 bg-transparent cursor-pointer text-punche-blue-500 px-3 py-1 hover:bg-punche-blue-500 hover:text-white">
                <span nz-icon nzType="upload"></span>
                Selecionar archivo
            </div>
        </nz-upload>
		<div class="w-full text-danger" *ngIf="alertMessageError('archivo')">{{msgErrorControl('archivo','archivo')}}</div>
	</div>
</form>

