<div class="site-page-header-ghost-wrapper mb-8">
    <nz-page-header [nzGhost]="false" class="bg-punche-blue-50">
        <nz-page-header-title>
            <!-- <span>Panel de control consolidado</span> -->
            <!-- {{ubigeoSgnl()?.label|json}} -->
            <!-- @if(ubigeoSgnl()) {
            <span> para {{ubigeoSgnl()?.label}}</span>
            } -->
        </nz-page-header-title>
        <nz-page-header-content>
            <form [formGroup]="filterReportForm" nz-form nzLayout="vertical">
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                    <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="2" nzXl="2">
                        <nz-form-item>
                            <nz-form-label class="font-bold">Periodo</nz-form-label>
                            <nz-form-control>
                                <nz-date-picker class="w-full" nzMode="month" formControlName="periodo"
                                    nzFormat="MM/yyyy" (ngModelChange)="onPeriodoChange($event)"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="2" nzXl="2">
                        <nz-form-item>
                            <nz-form-label class="font-bold">Sector</nz-form-label>
                            <nz-form-control>
                                <nz-select [nzMaxTagCount]="3" id="sectorSelect" nzPlaceHolder="Seleccione"
                                    #sectorSelect formControlName="sectorSelect"
                                    (ngModelChange)="onSectorChange($event)" [compareWith]="compareFn" nzAllowClear>
                                    <nz-option *ngFor="let sec of sectoresStore.sectores()" [nzLabel]="sec.label!"
                                        [nzValue]="sec"></nz-option>
                                </nz-select> </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="4" nzXl="4">
                        <nz-form-item>
                            <nz-form-label class="font-bold" [nzSpan]="null">TIpos de Espacio</nz-form-label>
                            <!-- {{this.espaciosStore.tiposEspacio()|json}} -->
                            <nz-form-control nzSpan="null">
                                <nz-select nzPlaceHolder="Seleccione" id="tipoEspacio" #tipoEspacio
                                    formControlName="tipoEspacio" [compareWith]="compareFn" nzAllowClear
                                    (ngModelChange)="onTipoEspacioChange($event)">
                                    <nz-option *ngFor="let tEsp of this.espaciosStore.tiposEspacio()"
                                        [nzLabel]="tEsp.label!" [nzValue]="tEsp"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    @if(filterReportForm.get('tipoEspacio')?.value != null) {


                    <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="4" nzXl="4">
                        <nz-form-item>
                            <nz-form-label class="font-bold">Espacio</nz-form-label>
                            <!-- <nz-form-control>
                                <nz-select [nzMaxTagCount]="3" id="espacioSelect" nzPlaceHolder="Seleccione"
                                    #espacioSelect formControlName="espacioSelect" [compareWith]="compareFn"
                                    nzShowSearch nzAllowClear (ngModelChange)="onEspacioChange($event)">
                                    <nz-option *ngFor="let esp of espaciosStore.espacios()" [nzLabel]="esp.label!"
                                        [nzValue]="esp"></nz-option>
                                </nz-select>
                            </nz-form-control> -->



                            <nz-form-control>
                                <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagEspaciosPlaceHolder"
                                    nzMode="multiple" id="espacioSelect" nzPlaceHolder="Seleccione" #espacioSelect
                                    formControlName="espacioSelect" [compareWith]="compareFn" nzShowSearch nzAllowClear
                                    (ngModelChange)="onEspacioChange($event)">
                                    <nz-option *ngFor="let esp of espaciosStore.espacios()" [nzLabel]="esp.label!"
                                        [nzValue]="esp"></nz-option>
                                </nz-select>
                                <ng-template #tagEspaciosPlaceHolder let-selectedList>y {{ selectedList.length }} más
                                    seleccionadas</ng-template>
                            </nz-form-control>



                        </nz-form-item>
                    </div>

                    }

                    <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="4" nzXl="4">
                        <nz-form-item>
                            <nz-form-label class="font-bold">Departamento</nz-form-label>
                            <nz-form-control>
                                <nz-select id="departamentoSelect" class="w-full" #departamentoSelect
                                    formControlName="departamentoSelect" nzPlaceHolder="Todos" nzShowSearch
                                    [compareWith]="compareFn" nzAllowClear (ngModelChange)="onDepChange($event)">
                                    <nz-option *ngFor="let ubg of ubigeosStore.departamentos()" [nzValue]="ubg"
                                        [nzLabel]="ubg.label!">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    @if(filterReportForm.get('departamentoSelect')?.value != null) {
                    <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="4" nzXl="4">
                        <nz-form-item>
                            <nz-form-label class="font-bold">Provincia</nz-form-label>
                            <nz-form-control>
                                <nz-select class="w-full" #provinciaSelect id="provinciaSelect"
                                    formControlName="provinciaSelect" nzPlaceHolder="Todas" nzShowSearch
                                    [compareWith]="compareFn" nzAllowClear (ngModelChange)="onProvChange($event)">
                                    <nz-option *ngFor="let prov of ubigeosStore.provincias()" [nzValue]="prov"
                                        [nzLabel]="prov.label!">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    }

                    @if(filterReportForm.get('provinciaSelect')?.value != null){
                    <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="4" nzXl="4">
                        <nz-form-item>
                            <nz-form-label class="font-bold" [nzSpan]="null">Distrito</nz-form-label>
                            <nz-form-control nzSpan="null">
                                <nz-select class="w-full" #distritoSelect id="distritoSelect"
                                    formControlName="distritoSelect" nzPlaceHolder="Todas" nzShowSearch
                                    [compareWith]="compareFn" nzAllowClear (ngModelChange)="onDisChange($event)">
                                    <nz-option *ngFor="let dis of this.ubigeosStore.distritos()" [nzValue]="dis"
                                        [nzLabel]="dis.label!">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    }
                </div>
            </form>
        </nz-page-header-content>
    </nz-page-header>
</div>