<app-page-header [title]="title.toUpperCase()" backUrl="atenciones" />
<nz-table [nzTitle]="Header" nzShowSizeChanger nzSize="small"
  [nzData]="usuarios()" [nzFrontPagination]="false" [nzShowPagination]="this.pagination.total! > 10" [nzLoading]="loadingData" [nzTotal]="pagination.total!"
  [nzPageSize]="pagination.pageSize!" [nzPageIndex]="pagination.currentPage!" (nzQueryParams)="onQueryParams($event)">
  <thead>
    <tr>
      <th nzWidth="12px" nzAlign="center">N°</th>
      <th nzWidth="200px"nzColumnKey="nombresPersona" [nzSortFn]="true">Nombre</th>
      <th nzWidth="20px" nzAlign="center">Mes</th>
      <th nzWidth="20px" nzAlign="center">Meta</th>
      <th nzWidth="20px" nzAlign="center">Atenciones</th>
      <th nzWidth="16px" nzAlign="center"></th>
    </tr>
  </thead>

  <tbody>
    @for(usuario of usuarios(); track $index){
      <tr>
        <td nzAlign="center">{{$index + 1}}</td>
        <td >{{usuario.nombresPersona}}</td>
        <td nzAlign="center">{{usuario.fecha | date: 'MM/yyyy'}}</td>
        <td nzAlign="center">{{usuario.meta}}</td>
        <td nzAlign="center">{{usuario.atenciones}}</td>
        <td nzAlign="center">
          <button nz-button nzType="link" nz-tooltip nzTooltipTitle="Ver Detalles" (click)="modalMetaDetalle(usuario.codigoUsuario!, usuario.nombresPersona)">
            <span nz-icon nzType="eye" nzTheme="outline"></span>
          </button>
        </td>
      </tr>
      }
  </tbody>
</nz-table>

<ng-template #Header>
  <div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
    <p class="mb-2 sm:mb-0">Resultados {{pagination.total}}</p>
    <div>
      <nz-space>
            <button nz-button nzType="primary" (click)="modalNuevaMeta()">
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            <span class="button-text">Nueva Meta</span>
          </button>
      </nz-space>
    </div>
  </div>
</ng-template>