<nz-page-header nzBackIcon [nzGhost]="false">
	<nz-page-header-title>Detalle de carga masiva</nz-page-header-title>


	<nz-page-header-extra>
			<nz-space>
					<button>Solicitar
							desestimación</button>
			</nz-space>
	</nz-page-header-extra>

	<nz-page-header-content>
			<nz-descriptions nzSize="small" [nzColumn]="{ xxl: 4, xl: 4, lg: 2, md: 2, sm: 2, xs: 1 }" nzBordered>
					<nz-descriptions-item nzTitle="Sector">sector avlues
					</nz-descriptions-item>

					<nz-descriptions-item nzTitle="Departamento">departamento value
					</nz-descriptions-item>

					<nz-descriptions-item nzTitle="Provincia">
							Provincia value
					</nz-descriptions-item>

					<nz-descriptions-item nzTitle="Distrito">
							distrito value
					</nz-descriptions-item>

					<nz-descriptions-item nzTitle="CUI">cui value
					</nz-descriptions-item>

					<nz-descriptions-item
							nzTitle="Intervenciones Estratégicas">intervencion value
					</nz-descriptions-item>

					<nz-descriptions-item
							nzTitle="Clasificacion">value
					</nz-descriptions-item>

					<nz-descriptions-item nzTitle="Responsable">
							resposable value
					</nz-descriptions-item>


					<nz-descriptions-item nzTitle="Pedido" [nzSpan]="4">
							pedido value
					</nz-descriptions-item>

					<nz-descriptions-item nzTitle="Acuerdo" [nzSpan]="4">
							acuerdo cotendio

					</nz-descriptions-item>

					<nz-descriptions-item nzTitle="Plazo">

							Plazo value
					</nz-descriptions-item>

					<nz-descriptions-item nzTitle="Espacio">
							Espacio value
					</nz-descriptions-item>

					<nz-descriptions-item nzTitle="Estado">
							estado value
					</nz-descriptions-item>
			</nz-descriptions>
	</nz-page-header-content>
</nz-page-header>