<nz-page-header nzBackIcon [nzGhost]="false">
	<nz-page-header-title>Detalle de Carga Masiva de {{cargaMasiva().nombreTabla | titlecase }}</nz-page-header-title>

	<nz-page-header-content>
		<nz-descriptions nzSize="small" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 1 }" nzBordered>
			<nz-descriptions-item nzTitle="Archivo">{{cargaMasiva().nombreArchivo}}</nz-descriptions-item>

			<nz-descriptions-item nzTitle="Descargar">
				<app-boton-descargar [rutaArchivo]="cargaMasiva().directorioArchivo" [titulo]="'Descargar archivo'" />
				<!-- <button nz-button nzType="link" nz-tooltip nzTooltipTitle="Descargar Archivo"
					(click)="downloadFile(cargaMasiva().directorioArchivo)">
					<span nz-icon nzType="file-excel" nzTheme="outline"></span>
				</button> -->
			</nz-descriptions-item>

			<nz-descriptions-item nzTitle="Total de filas">{{cargaMasiva().totalFilas}}</nz-descriptions-item>

			<nz-descriptions-item nzTitle="Filas gurdadas">{{cargaMasiva().filasGuardadas}}</nz-descriptions-item>

			<nz-descriptions-item nzTitle="Fecha de registro">{{cargaMasiva().fechaRegistro | date : 'dd/MM/yyyy HH:mm'}}</nz-descriptions-item>

			<nz-descriptions-item nzTitle="Estado">{{cargaMasiva().estado | titlecase}}</nz-descriptions-item>
		</nz-descriptions>
	</nz-page-header-content>
</nz-page-header>

<nz-table [nzScroll]="{ x: '1150px' }" [nzTitle]="Header" nzShowSizeChanger nzSize="small"
	[nzData]="cargaMasivaDetail()" [nzFrontPagination]="false" [nzLoading]="loadingData" [nzTotal]="pagination.total!"
	[nzPageSize]="pagination.pageSize!" [nzPageIndex]="pagination.currentPage!" 
	(nzQueryParams)="onQueryParamsChange($event)">
	<thead>
		<tr>
			<th nzWidth="40px" nzAlign="center" nzColumnKey="validado" [nzSortFn]="true"></th>
			<th nzWidth="100px" nzAlign="center">Codigo</th>
			<th nzWidth="100px" nzAlign="center" nzColumnKey="fechaAtencion" [nzSortFn]="true">Fecha de atención</th>
			<th nzLeft nzWidth="150px" nzColumnKey="numeroExpediente" [nzSortFn]="true">Expediente</th>
			<th nzLeft nzWidth="200px" nzColumnKey="documentoTitulo" [nzSortFn]="true">Documento</th>
			<th nzWidth="280px" nzColumnKey="nombreAutoridad" [nzSortFn]="true">Destino</th>
			<th nzWidth="150px" nzAlign="center" nzColumnKey="nombresResponsable" [nzSortFn]="true">Responsable</th>
			<th nzWidth="340px" nzAlign="center">Asunto</th>
			<th nzWidth="180px" nzAlign="center">Entidad</th>
			<th nzWidth="100px" nzAlign="center" nzColumnKey="tipoEntidadSlug" [nzSortFn]="true">Tipo Entidad</th>
			<th nzWidth="150px" nzAlign="center">Ubigeo</th>
		</tr>
	</thead>
	<tbody>
		@for(detail of cargaMasivaDetail(); track $index){
		<tr>
			<td nzAlign="center" >
				<nz-avatar [nzSize]="24" [ngClass]="{ 'bg-green-500' : detail.validado, 'bg-gray-300' : !detail.validado }" nzIcon="check" [nz-tooltip]=" detail.validado ? 'Validado' : 'Sin validar'"></nz-avatar>
			</td>
			<td nzAlign="center"> <p class="font-bold">{{detail.codigo}}</p></td>
			<td nzAlign="center" >{{detail.fechaAtencion | date : 'dd/MM/yyyy'}}</td>
			<td>{{detail.numeroExpediente}}</td>
			<td>{{detail.documentoTitulo}}</td>
			<td>
				<p [innerHTML]="replaceToNewLine(detail.nombreAutoridad)"></p>
			</td>
			<td nzAlign="center">{{detail.nombresResponsable}}</td>
			<td nzAlign="center">{{detail.tema}}</td>
			<td nzAlign="center">{{detail.entidad}}</td>
			<td nzAlign="center">{{detail.entidad | primeraLetra : 2 }}</td>
			<td nzAlign="center">{{detail.departamento}} <br> {{detail.provincia}} <br> {{detail.distrito}}</td>
		</tr>
		}
	</tbody>
</nz-table>

<ng-template #Header>
	<div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
		<p class="mb-2 sm:mb-0">Resultados {{pagination.total}}</p>
	</div>
</ng-template>