<form  [formGroup]="formFilterPanelEntidades" class="bg-punche-blue-50 grid grid-cols-1 md:grid-cols-4 lg:grid-cols-8 gap-4 p-4">
    <div class="flex flex-col">
        <label class="font-bold text-sm xl:text-base" for="nombre">Departamento</label>
        <p-dropdown 
            [options]="departamentos()"
            formControlName="departamento"
            optionLabel="departamento"
            optionValue="departamentoId"
            [showClear]="true" 
            placeholder="Seleccionar departamento"
            (onChange)="obtenerDepartamento()"/>
    </div>

    <div class="flex flex-col" [ngClass]="{ 'hidden' : !formFilterPanelEntidades.get('departamento')?.value }">
        <label class="font-bold text-sm xl:text-base" for="nombre">Provincia</label>
        <p-dropdown 
        [options]="provincias()"
        formControlName="provincia"
        optionLabel="provincia"
        optionValue="provinciaId"
        [showClear]="true" 
        placeholder="Seleccionar provincia"
        (onChange)="obtenerProvincia()"/>
    </div>

    <div class="flex flex-col" [ngClass]="{ 'hidden' : !formFilterPanelEntidades.get('provincia')?.value }">
        <label class="font-bold text-sm xl:text-base" for="nombre">Distrito</label>
        <p-dropdown 
        [options]="distritos()"
        formControlName="distrito"
        optionLabel="distrito"
        optionValue="distritoId"
        [showClear]="true" 
        placeholder="Seleccionar distrito"
        (onChange)="obtenerDistrito()"/>
    </div>
</form>
