<form [formGroup]="pedidoForm" nz-form nzLayout="vertical">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-form-item>
                <nz-form-label [nzSpan]="null" nzRequired>Espacio</nz-form-label>
                <nz-form-control nzSpan="null" nzErrorTip="Campo requerido">
                    <nz-select [nzMaxTagCount]="3" id="espacioSelect" nzPlaceHolder="Seleccione" #espacioSelect
                        formControlName="espacioSelect" [compareWith]="compareFn" nzAllowClear
                        (ngModelChange)="onEspacioChange($event)">
                        <nz-option *ngFor="let esp of this.espaciosStore.espacios()" [nzLabel]="esp.label!"
                            [nzValue]="esp"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    @if(nzModalData=='SECTOR') {
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
            <nz-form-item class="mb-4">
                <nz-form-label [nzSpan]="null" nzRequired>Departamento</nz-form-label>
                <nz-form-control nzSpan="null" [nzErrorTip]="requiredLabel">
                    <nz-select id="departamentoSelect" class="w-full" #departamentoSelect
                        formControlName="departamentoSelect" nzPlaceHolder="Seleccione" nzShowSearch
                        [compareWith]="compareFn" nzAllowClear (ngModelChange)="onDepChange($event)" nzShowSearch>
                        <nz-option *ngFor="let ubg of this.ubigeosStore.departamentos()" [nzValue]="ubg"
                            [nzLabel]="ubg.label!">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

        @if(pedidoForm.get('departamentoSelect')?.value != null) {
        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
            <nz-form-item class="mb-3">
                <nz-form-label [nzSpan]="null">Provincia</nz-form-label>
                <nz-form-control nzSpan="null">
                    <nz-select class="w-full" #provinciaSelect id="provinciaSelect" formControlName="provinciaSelect"
                        nzPlaceHolder="Seleccione" nzShowSearch [compareWith]="compareFn" nzAllowClear nzShowSearch
                        (ngModelChange)="onProvChange($event)">
                        <nz-option *ngFor="let prov of this.ubigeosStore.provincias()" [nzValue]="prov"
                            [nzLabel]="prov.label!">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        }
    </div>
    }
    @else {
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-form-item>
                <nz-form-label [nzSpan]="null" nzRequired>Sector</nz-form-label>
                <nz-form-control nzSpan="null" nzErrorTip="Campo requerido">
                    <nz-select [nzMaxTagCount]="3" id="sectorSelect" nzPlaceHolder="Seleccione" #sectorSelect
                        formControlName="sectorSelect" [compareWith]="compareFn" nzAllowClear nzShowSearch
                        (ngModelChange)="true">
                        <nz-option *ngFor="let sec of this.sectoresStore.sectores()" [nzLabel]="sec.label!"
                            [nzValue]="sec"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    }

    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="null" nzRequired>Tipo</nz-form-label>
                <nz-form-control nzSpan="null" nzErrorTip="Campo requerido">
                    <nz-select nzPlaceHolder="Todos" id="tipoCodigoSelect" #tipoCodigoSelect
                        formControlName="tipoCodigoSelect" (ngModelChange)="onCodigoChange($event)">
                        <nz-option nzValue="1" nzLabel="ACTIVIDAD"></nz-option>
                        <nz-option nzValue="2" nzLabel="CUI"></nz-option>
                        <nz-option nzValue="3" nzLabel="IDEA"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

        @if(pedidoForm.get('tipoCodigoSelect')?.value != null && pedidoForm.get('tipoCodigoSelect')?.value != 1) {
        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="null" nzRequired>CUI</nz-form-label>
                <nz-form-control nzSpan="null" [nzErrorTip]="cuiLengthTpl">
                    <input #cuis id="cuis" onlyNumbers type="text" nz-input formControlName="cuis">

                    <ng-template #cuiLengthTpl let-control>
                        @if (control.errors?.['required']) {
                        Campo requerido
                        }
                        @if (control.errors?.['pattern']) {
                        @if(pedidoForm.get('tipoCodigoSelect')?.value == 2) {
                        Debe tener hasta 7 números
                        }

                        @if(pedidoForm.get('tipoCodigoSelect')?.value == 3) {
                        Debe tener hasta 6 números
                        }
                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
        }
    </div>

    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="null" nzRequired>Eje estratégico</nz-form-label>
                <nz-form-control nzSpan="null" nzErrorTip="Campo requerido">
                    <nz-select [nzMaxTagCount]="3" id="ejeEstrategicoSelect" nzPlaceHolder="Seleccione"
                        #ejeEstrategicoSelect formControlName="ejeEstrategicoSelect" [compareWith]="compareFn"
                        nzAllowClear (ngModelChange)="onEjeEstrategicoChange($event)">
                        <nz-option *ngFor="let eje of this.pedidosStore.ejesEstrategicos()" [nzLabel]="eje.label!"
                            [nzValue]="eje"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="null" nzRequired>Tipo de intervención</nz-form-label>
                <nz-form-control nzSpan="null" nzErrorTip="Campo requerido">
                    <nz-select [nzMaxTagCount]="3" id="tipoIntervencionSelect" nzPlaceHolder="Seleccione"
                        #tipoIntervencionSelect formControlName="tipoIntervencionSelect" [compareWith]="compareFn"
                        nzAllowClear (ngModelChange)="onTipoIntervencionChange($event)">
                        <nz-option *ngFor="let tInt of this.pedidosStore.tiposIntervencion()" [nzLabel]="tInt.label!"
                            [nzValue]="tInt"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="null" nzFor="aspectoCriticoResolver">Pedido</nz-form-label>
                <nz-form-control nzSpan="null" nzHasFeedback nzErrorTip="Campo requerido">
                    <textarea nz-input id="aspectoCriticoResolver" formControlName="aspectoCriticoResolver"
                        placeholder="Ingrese el pedido" nzAutosize></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>


    <!-- {{this.pedidoForm.value|json}} -->

    <!-- {{this.hitosService.isEditing()|json }} -->

    <!-- {{this.espaciosService.eventoSeleccionado()|json }} -->
</form>