<app-page-header [title]="'TRANSFERENCIAS DE RECURSOS'" backUrl="panel" />

<div class="grid grid-cols-1">
  <nz-table [nzScroll]="{ x: 'max-content' }" class="min-w-full" [nzTitle]="HeaderRecursos" nzShowSizeChanger nzSize="small"
    [nzData]="transferenciasRecursos()" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="pagination.total!" [nzShowPagination]="pagination.total! > 10"
    [nzPageSize]="pagination.pageSize!" [nzPageIndex]="pagination.currentPage!" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th nzWidth="'100px'" nzAlign="center">Código</th>
        <th nzWidth="'120px'">Recurso</th>
        <th nzWidth="'100px'" nzAlign="center" >Fecha</th>
        <th nzWidth="'100px'" nzAlign="center">UIT</th>
        <th nzWidth="'100px'" nzAlign="center">Monto</th>
        <th nzWidth="'100px'" nzAlign="center">Indice</th>
        <th nzWidth="'100px'" nzAlign="center">Oficio</th>
        <th nzWidth="'100px'" nzAlign="center">MOV</th>
        <th nzRight nzWidth="'100px'" nzAlign="center"></th>
      </tr>
    </thead>
    <tbody>
      @for (recurso of transferenciasRecursos(); track $index) {
        <tr>
          <td nzAlign="center">{{recurso.abreviatura}}</td>
          <td>{{recurso.recurso}}</td>
          <td nzAlign="center">{{recurso.fechaPublicacion}}</td>
          <td nzAlign="center">{{recurso.uit * 100}}%</td>
          <td nzAlign="center">{{recurso.monto | numero : 2 }}</td>
          <td nzAlign="center">
            <app-boton-descargar *ngIf="recurso.archivoIndice" [rutaArchivo]="recurso.archivoIndice" [icono]="'pi-file-excel'" [titulo]="'Descargar Indice'" />
          </td>
          <td nzAlign="center">
            <app-boton-descargar *ngIf="recurso.archivoProyeccion" [rutaArchivo]="recurso.archivoProyeccion" [titulo]="'Descargar oficio'"  />
          </td>
          <td nzAlign="center">
            <div class="py-1 px-2 rounded cursor-pointer text-sky-700 hover:text-sky-800" nz-tooltip nzTooltipTitle="Descargar archivo MOV" (click)="generarMov(recurso.recursoId! )">
              <i class="pi pi-file-export" style="font-size: 0.75rem"></i>
            </div>
          </td>
          <td nzRight nzAlign="center">
            <div class="flex justify-center">
              <div class="py-1 px-2 rounded cursor-pointer text-sky-700 hover:text-sky-800" nz-tooltip nzTooltipTitle="Agregar nuevo indice" (click)="agregarTransferenciaIndice(recurso)">
                <i class="pi pi-percentage" style="font-size: 0.75rem"></i>
              </div>
              <div class="py-1 px-2 rounded cursor-pointer text-sky-700 hover:text-sky-800" nz-tooltip nzTooltipTitle="Agregar nueva proyección" (click)="agregarTransferenciaIndice(recurso,false)">
                <i class="pi pi-chart-line" style="font-size: 0.75rem"></i>
              </div>
              <a [routerLink]="[recurso.recursoId]">
                <button nz-button nzType="link" nz-tooltip nzTooltipTitle="Ver detalle">
                  <span nz-icon nzType="eye" nzTheme="outline"></span>
                </button>
              </a>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
  <ng-template #HeaderRecursos>
    <div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
      <p class="mb-2 sm:mb-0">Resultados {{pagination.total}}</p>
      <div class="flex gap-2">

        <div class="cursor-pointer flex items-center gap-1 py-1 px-3 rounded border border-sky-700 text-sky-700 hover:bg-sky-700 hover:text-white" (click)="openFilters = true">
          <i class="pi pi-filter" style="font-size: 0.75rem"></i>
          <span class="hidden md:flex">Filtros</span>
        </div>

        <app-boton-descargar [rutaArchivo]="formatoIndice" [label]="'Formato indice'" [titulo]="'Descargar el formato de indices'" />
      </div>
    </div>
  </ng-template>
</div>

<app-filtro-transferencia-recurso [visible]="openFilters" [pagination]="pagination" (visibleDrawer)="openFilters = false" (filters)="generateFilters($event)" />

<p-toast />