<form [formGroup]="formDiaEvento" class="grid grid-cols-1 md:grid-cols-3 gap-4" autocomplete="off">
    <div class="flex flex-col">
        <label class="flex items-center gap-1" for="plenaria">Plenaria</label>
        <p-inputSwitch formControlName="plenaria" class="mt-1"/>
        <div class="w-full text-danger" *ngIf="alertMessageError('plenaria')">{{msgErrorControl('plenaria','Plenaria')}}</div>
    </div>

    <div class="flex flex-col">
        <label for="cantidadSector">Cantidad de sectores</label>
        <p-inputNumber
        formControlName="cantidadSector"
        [showButtons]="true"
        [min]="0"
        buttonLayout="horizontal" incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus" />
        <div class="w-full text-danger" *ngIf="alertMessageError('cantidadSector')">{{msgErrorControl('cantidadSector','Cantidad de sectores')}}</div>
    </div>

    <div class="flex flex-col">
        <label for="cantidadRegionalLocal">Cantidad de GR/GL</label>
        <p-inputNumber
        formControlName="cantidadRegionalLocal"
        [showButtons]="true"
        [min]="0"
        buttonLayout="horizontal" incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus" />
        <div class="w-full text-danger" *ngIf="alertMessageError('cantidadRegionalLocal')">{{msgErrorControl('cantidadRegionalLocal','Máximo de pedidos')}}</div>
    </div>
</form>
