<form [formGroup]="formInversionTarea" class="flex flex-col gap-3" autocomplete="off">
	<div class="flex flex-col">
		<div class="flex justify-between">
			<label class="w-full" for="fechaAtencion">Tarea</label>
			<div class="w-full text-right" [ngClass]="{ 'text-yellow-600 font-bold' : cantidadCaracteresTarea < 20 }">{{cantidadCaracteresTarea}}</div>
		</div>
		<textarea class="form-control" id="tarea" formControlName="tarea" (keyup)="caracteresContador(1500)" placeholder="Ingrese la tarea aquí" rows="2"></textarea>
		<div class="w-full text-danger" *ngIf="alertMessageError('tarea')">{{msgErrorControl('tarea','Tarea')}}</div>
	</div>

	<div class="flex gap-4">
		<div class="w-full flex flex-col">
			<label nzFor="fplazo">Responsable</label>
			<p-dropdown 
				[options]="responsables()"
				formControlName="responsableId"
				optionLabel="nombre"
				optionValue="grupoID"
				[showClear]="true" 
				placeholder="Seleccionar responsable"
				(onChange)="obtenerResponsable()"/>
			<div class="text-danger" *ngIf="alertMessageError('responsableId')">{{msgErrorControl('responsableId','Responsable')}}</div>
		</div>

		<div class="w-full flex flex-col">
			<label nzFor="plazo">Fecha de atención</label>
			<p-calendar 
				formControlName="plazo"
				[iconDisplay]="'input'" 
				[showIcon]="true"
				[showButtonBar]="true"
				dateFormat="dd/mm/yy"
				inputId="icondisplay" />
			<div class="text-danger" *ngIf="alertMessageError('plazo')">{{msgErrorControl('plazo','Plazo')}}</div>
		</div>
	</div>

	<div class="w-full flex flex-col">
		<label nzFor="entidadId">Entidad</label>
		<p-dropdown 
			[options]="sectorEntidades()"
			formControlName="entidadId"
			optionLabel="nombre"
			optionValue="entidadId"
			[showClear]="true" 
			placeholder="Seleccionar entidad"
			(onChange)="obtenerSector()"/>
		<div class="text-danger" *ngIf="alertMessageError('entidadId')">{{msgErrorControl('entidadId','Entidad')}}</div>
	</div>

</form>