<app-page-header title="Detalle de pedido" [content]="pedidoContent" />
<!-- <code>
    {{pedidosService.pedidoSeleccionado()|json}}
</code> -->

<ng-template #pedidoContent>
    <nz-descriptions nzSize="small" nzBordered [nzColumn]="{ xxl: 3, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }">
        <nz-descriptions-item
            nzTitle="Departamento">{{pedidosService.pedidoSeleccionado()?.region}}</nz-descriptions-item>
        <nz-descriptions-item
            nzTitle="Provincia">{{pedidosService.pedidoSeleccionado()?.provincia}}</nz-descriptions-item>
        <nz-descriptions-item
            nzTitle="Distrito">{{pedidosService.pedidoSeleccionado()?.Distrito}}</nz-descriptions-item>
        <nz-descriptions-item
            nzTitle="Eje estratégico">{{pedidosService.pedidoSeleccionado()?.objetivoEstrategicoTerritorial}}</nz-descriptions-item>
        <nz-descriptions-item
            nzTitle="Tipo de intervención">{{pedidosService.pedidoSeleccionado()?.intervencionesEstrategicas}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="CUI">{{pedidosService.pedidoSeleccionado()?.cuis}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Espacio">{{pedidosService.pedidoSeleccionado()?.espacio}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Sector">{{pedidosService.pedidoSeleccionado()?.sector}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Estado">
            @if(pedidosService.pedidoSeleccionado()?.validado == 1) {
            <nz-tag nzColor="success">
                <span nz-icon nzType="check-circle"></span>
                <span>Validado</span>
            </nz-tag>
            }@else {
            <nz-tag nzColor="error">
                <span nz-icon nzType="close-circle"></span>
                <span>Sin validar</span>
            </nz-tag>
            }
        </nz-descriptions-item>
        <nz-descriptions-item
            nzTitle="Pedido">{{pedidosService.pedidoSeleccionado()?.aspectoCriticoResolver}}</nz-descriptions-item>
    </nz-descriptions>
</ng-template>

<nz-table nzSize="small" [nzTitle]="HeaderAcuerdo" nzShowSizeChanger [nzData]="this.acuerdosService.acuerdos()"
    [nzFrontPagination]="false" [nzShowPagination]="false" [nzLoading]="this.acuerdosService.isLoading()"
    [nzTotal]="this.acuerdosService.total()" [nzPageSize]="this.pageSize" [nzPageIndex]="this.pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
        <tr>
            <th nzColumnKey="codigo" [nzSortFn]="true">Código</th>
            <th nzColumnKey="" [nzFilterFn]="true">Preacuerdo</th>
            <th nzColumnKey="acuerdo" [nzSortFn]="true">Acuerdo</th>
            <th nzColumnKey="" [nzSortFn]="true">Modificación</th>
            <th nzColumnKey="clasificacion" [nzSortFn]="true">Clasificación</th>
            <th nzColumnKey="responsable" [nzSortFn]="true">Responsable</th>
            <th nzColumnKey="plazo" [nzSortFn]="true">Plazo</th>
            @if(permiso?.puede_agregar_acuerdo&&permiso?.puede_editar_acuerdo&&permiso?.puede_eliminar_acuerdo&&permiso?.puede_convertir_preacuerdo){
            <th nzWidth="110px" nzColumnKey="acciones"></th>
            }
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let acuerdo of this.acuerdosService.acuerdos()">
            <td>{{acuerdo.codigo}} </td>
            <td>{{acuerdo.acuerdo}}</td>
            <td>{{acuerdo.acuerdo}}</td>
            <!-- //TODO: implementar -->
            <td>-</td>
            <td>{{acuerdo.clasificacion}}</td>
            <td>{{acuerdo.responsable}}</td>
            <td>{{acuerdo.plazo|date:fechaDateFormat}}</td>
            @if(permiso?.puede_agregar_acuerdo&&permiso?.puede_editar_acuerdo&&permiso?.puede_eliminar_acuerdo&&permiso?.puede_convertir_preacuerdo){
            <td nzRight>
                <nz-space>
                    <!-- <button [disabled]="data.validado==1||data.estado==0" *nzSpaceItem nz-button nzDanger nzType="link"
                        nz-tooltip
                        [nzTooltipTitle]="(data.validado==1||data.estado==0)?'No se puede desestimar':'Desestimar hito'"
                        (click)="onEliinarHito(data)"> -->
                    <button [disabled]="acuerdo.codigo != null" nz-tooltip="Convertir a acuerdo" *nzSpaceItem nz-button
                        nzType="link" (click)="onAddEdit(acuerdo, null, true)">
                        <span nz-icon nzType="vertical-align-top" nzTheme="outline"></span>
                    </button>

                    <!-- <button [disabled]="data.validado==1||data.estado==0" *nzSpaceItem nz-button nzDanger nzType="link"
                        nz-tooltip
                        [nzTooltipTitle]="(data.validado==1||data.estado==0)?'No se puede desestimar':'Desestimar hito'"
                        (click)="onEliinarHito(data)"> -->
                    <button [disabled]="acuerdo.codigo != null" *nzSpaceItem nz-button nzType="link"
                        (click)="onAddEdit(acuerdo)">
                        <span nz-icon nzType="edit" nzTheme="outline"></span>
                    </button>


                    <!-- <button [disabled]="data.validado==1||data.estado==0" *nzSpaceItem nz-button nzDanger nzType="link"
                        nz-tooltip
                        [nzTooltipTitle]="(data.validado==1||data.estado==0)?'No se puede desestimar':'Desestimar hito'"
                        (click)="onEliinarHito(data)"> -->
                    <button [disabled]="acuerdo.codigo != null" *nzSpaceItem nz-button nzDanger nzType="link"
                        (click)="onDelete(acuerdo)">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>

                </nz-space>
            </td>
            }
        </tr>
    </tbody>
</nz-table>

<ng-template #HeaderAcuerdo>
    <div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
        <p class="mb-2 sm:mb-0 font-semibold text-base">
            Gestión de acuerdos
        </p>

        <div>
            <nz-space>
                @if(permiso?.puede_agregar_acuerdo){
                <button nz-button *nzSpaceItem nzType="primary" nz-dropdown [nzDropdownMenu]="menuAddEdit"
                    nzTrigger="click">
                    <span nz-icon nzType="plus" nzTheme="outline"></span>
                    <span class="button-text">Agregar</span>
                    <span nz-icon nzType="down"></span>
                </button>
                <nz-dropdown-menu #menuAddEdit="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item>
                            <button (click)="onAddEdit(null, true)">Pre acuerdo</button>
                        </li>
                        <li nz-menu-item>
                            <button (click)="onAddEdit(null, false)">Acuerdo</button>
                        </li>
                    </ul>
                </nz-dropdown-menu>
                }
            </nz-space>
        </div>
    </div>
</ng-template>