<form [formGroup]="reporteForm" nz-form nzLayout="vertical">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-form-item>
                <nz-form-label [nzSpan]="null" nzRequired>Periodo</nz-form-label>
                <nz-form-control nzSpan="null" nzErrorTip="Campo requerido">
                    <nz-date-picker class="w-full" nzMode="month" formControlName="fechaInicioFin" nzFormat="dd/MM/yyyy"
                        (ngModelChange)="onFechaInicioFinChange($event)"></nz-date-picker>
                    <!-- <nz-range-picker formControlName="fechaInicioFin" (ngModelChange)="onFechaInicioFinChange($event)"
                        nzFormat="dd/MM/yyyy"></nz-range-picker> -->
                </nz-form-control>
            </nz-form-item>
        </div>
        <!-- <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
            <nz-form-item>
                <nz-form-label [nzSpan]="null" nzRequired>Espacio</nz-form-label>
                <nz-form-control nzSpan="null" nzErrorTip="Campo requerido">
                    <nz-select [nzMaxTagCount]="3" id="eventoSelect" nzPlaceHolder="Seleccione" #eventoSelect
                        formControlName="eventoSelect" [compareWith]="compareFn" nzAllowClear
                        (ngModelChange)="onEspacioChange($event)">
                        <nz-option *ngFor="let esp of this.espaciosStore.espacios()" [nzLabel]="esp.label!"
                            [nzValue]="esp"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
            <nz-form-item>
                <nz-form-label [nzSpan]="null">Estado</nz-form-label>
                <nz-form-control nzSpan="null">
                    <nz-select nzPlaceHolder="Seleccione" id="estadoAcuerdoSelect" #estadoAcuerdoSelect
                        formControlName="estadoAcuerdoSelect" [compareWith]="compareFn" nzAllowClear
                        (ngModelChange)="onEstadoAcuerdosChange($event)">
                        <nz-option *ngFor="let est of this.estadosStore.estados()" [nzLabel]="est.label!"
                            [nzValue]="est"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div> -->
    </div>
    <!-- <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
            <nz-form-item>
                <nz-form-label [nzSpan]="null" nzRequired>Sector</nz-form-label>
                <nz-form-control nzSpan="null" nzErrorTip="Campo requerido">
                    <nz-select [nzMaxTagCount]="3" id="sectorSelect" nzPlaceHolder="Seleccione" #sectorSelect
                        formControlName="sectorSelect" [compareWith]="compareFn" nzAllowClear nzShowSearch
                        (ngModelChange)="true">
                        <nz-option *ngFor="let sec of this.sectoresStore.sectores()" [nzLabel]="sec.label!"
                            [nzValue]="sec"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
            <nz-form-item class="mb-4">
                <nz-form-label [nzSpan]="null" nzRequired>Departamento</nz-form-label>
                <nz-form-control nzSpan="null" [nzErrorTip]="requiredLabel">
                    <nz-select id="departamentoSelect" class="w-full" #departamentoSelect
                        formControlName="departamentoSelect" nzPlaceHolder="Seleccione" nzShowSearch
                        [compareWith]="compareFn" nzAllowClear (ngModelChange)="onDepChange($event)" nzShowSearch>
                        <nz-option *ngFor="let ubg of this.ubigeosStore.departamentos()" [nzValue]="ubg"
                            [nzLabel]="ubg.label!">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

        @if(reporteForm.get('departamentoSelect')?.value != null) {
        <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
            <nz-form-item class="mb-3">
                <nz-form-label [nzSpan]="null">Provincia</nz-form-label>
                <nz-form-control nzSpan="null">
                    <nz-select class="w-full" #provinciaSelect id="provinciaSelect" formControlName="provinciaSelect"
                        nzPlaceHolder="Seleccione" nzShowSearch [compareWith]="compareFn" nzAllowClear nzShowSearch
                        (ngModelChange)="onProvChange($event)">
                        <nz-option *ngFor="let prov of this.ubigeosStore.provincias()" [nzValue]="prov"
                            [nzLabel]="prov.label!">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        }
    </div> -->

    {{this.reporteForm.value|json}}

    <!-- {{this.hitosService.isEditing()|json }} -->

    <!-- {{this.espaciosService.eventoSeleccionado()|json }} -->
</form>