<nz-page-header nzBackIcon [nzGhost]="false">
	<nz-page-header-title>Inversiones de mesa</nz-page-header-title>
</nz-page-header>

<div class="grid grid-cols-1 md:grid-cols-6 bg-white p-4">
	<div class="flex">
		<div class="flex items-center min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Codigo</div>
		<div class="w-full flex items-center  px-2 py-1 border border-grey-200">{{mesa().codigo}}</div>
	</div>
	<div class="flex col-span-4">
		<div class="flex items-center min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Nombre</div>
		<div class="w-full flex items-center  px-2 py-1 border border-grey-200">{{mesa().nombre}}</div>
	</div>
	<div class="flex">
		<div class="flex items-center min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Estado</div>
		<div class="w-full flex items-center px-2 py-1 border border-grey-200">
			<app-estado-tag [estado]="mesa().estadoInternoNombre"></app-estado-tag>
		</div>
	</div>
</div>

<div class="w-full">
    <iframe src="http://52.168.137.104:300/SESIGUEOLDTEST/SD/Form_registrosInversion.aspx?au=0&7B611A09B990B80849DBE7AF822D63E466D552839D9EC6E0=2B6AC8BbF4ADF440005AFC42EF337555FB0008BF9770791Z&gjXtIkEroS=SD_SSFD&iacp={{authUserId}}&imo={{mesa().mesaId}}" width="100%" height="660px" [frameBorder]="0" allowfullscreen></iframe>
    <!-- <iframe [src]="getIframeInversiones()" width="100%" height="660px" [frameBorder]="0" allowfullscreen></iframe> -->
</div>
