<nz-page-header nzBackIcon [nzGhost]="false">
	<nz-page-header-title>{{title}}</nz-page-header-title>
</nz-page-header>

<div class="grid grid-cols-1 md:grid-cols-4 bg-white p-4">
	<div class="flex border border-gray-200">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Sector</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">MEF</div>
	</div>
	<div class="flex border border-gray-200">
		<div class="flex items-center md:min-w-[160px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Departamento</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">LIMA METROPOLITANA</div>
	</div>
	<div class="flex border border-gray-200">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Provincia</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l"></div>
	</div>
	<div class="flex border border-gray-200">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Distrito</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l"></div>
	</div>


	<div class="flex border border-gray-200 border-t-0">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Codigo</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">123456</div>
	</div>
	<div class="flex border border-gray-200 border-t-0">
		<div class="flex items-center md:min-w-[160px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Tipo de intervencion</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">tipo</div>
	</div>
	<div class="flex border border-gray-200 border-t-0">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Entidad</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l"></div>
	</div>
	<div class="flex border border-gray-200 border-t-0">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Subtipo</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l"></div>
	</div>

	<div class="flex border border-gray-200 border-t-0">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Espacio</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l"></div>
	</div>
    <div class="flex col-span-3 border border-gray-200 border-t-0">
		<div class="flex items-center md:min-w-[160px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Intervención</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">
			Nombre
		</div>
	</div>


	<div class="flex border border-gray-200 border-t-0">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Inicio</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l"></div>
	</div>
	<div class="flex border border-gray-200 border-t-0">
		<div class="flex items-center md:min-w-[160px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Fase</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">tipo</div>
	</div>
	<div class="flex border border-gray-200 border-t-0">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Etapa</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">etapa</div>
	</div>
	<div class="flex border border-gray-200 border-t-0">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Hito</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">hito</div>
	</div>

	<div class="flex border border-gray-200 border-t-0">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Objetivo</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l"></div>
	</div>
	<div class="flex border border-gray-200 border-t-0">
		<div class="flex items-center md:min-w-[160px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Fase</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">tipo</div>
	</div>
	<div class="flex border border-gray-200 border-t-0">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 ">Etapa</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">etapa</div>
	</div>
	<div class="flex border border-gray-200 border-t-0">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100">Hito</div>
		<div class="w-full flex items-center px-2 py-1 border-gray-200 border-l">hito</div>
	</div>
</div>

<app-inversion-tareas inversionId="1"/>
