<nz-page-header nzBackIcon [nzGhost]="false">
	<nz-page-header-title>{{title}}</nz-page-header-title>
</nz-page-header>

<div class="grid grid-cols-1 md:grid-cols-4 bg-white p-4">
	<div class="flex">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Sector</div>
		<div class="w-full flex items-center  px-2 py-1 border border-grey-200">MEF</div>
	</div>
	<div class="flex">
		<div class="flex items-center md:min-w-[160px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Departamento</div>
		<div class="w-full flex items-center  px-2 py-1 border border-grey-200">LIMA METROPOLITANA</div>
	</div>
	<div class="flex">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Provincia</div>
		<div class="w-full flex items-center  px-2 py-1 border border-grey-200"></div>
	</div>
	<div class="flex">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Distrito</div>
		<div class="w-full flex items-center  px-2 py-1 border border-grey-200"></div>
	</div>


	<div class="flex">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Codigo</div>
		<div class="w-full flex items-center  px-2 py-1 border border-grey-200">123456</div>
	</div>
	<div class="flex">
		<div class="flex items-center md:min-w-[160px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Tipo de inversion</div>
		<div class="w-full flex items-center  px-2 py-1 border border-grey-200">tipo</div>
	</div>
	<div class="flex">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Entidad</div>
		<div class="w-full flex items-center  px-2 py-1 border border-grey-200"></div>
	</div>
	<div class="flex">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Subtipo</div>
		<div class="w-full flex items-center  px-2 py-1 border border-grey-200"></div>
	</div>

	<div class="flex">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Espacio</div>
		<div class="w-full flex items-center  px-2 py-1 border border-grey-200"></div>
	</div>
	<div class="flex">
		<div class="flex items-center md:min-w-[160px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Fase</div>
		<div class="w-full flex items-center  px-2 py-1 border border-grey-200">tipo</div>
	</div>
	<div class="flex">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Etapa</div>
		<div class="w-full flex items-center  px-2 py-1 border border-grey-200">etapa</div>
	</div>
	<div class="flex">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Hito</div>
		<div class="w-full flex items-center  px-2 py-1 border border-grey-200">hito</div>
	</div>

	<div class="flex col-span-4">
		<div class="flex items-center md:min-w-[80px] pl-2 pr-4 py-1 font-semibold bg-gray-100 border border-gray-200">Nombre</div>
		<div class="w-full flex items-center px-2 py-1 border border-grey-200">
			Nombre
		</div>
	</div>
</div>

<app-inversion-tareas inversionId="1"/>
