<app-page-header [title]="'Espacios'" backUrl="panel" />
<div class="grid grid-cols-1">
  <nz-table [nzScroll]="{ x: 'max-content' }" class="min-w-full" [nzTitle]="Headereventos" nzShowSizeChanger nzSize="small"
    [nzData]="eventos()" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="pagination.total!"
    [nzPageSize]="pagination.pageSize!" [nzPageIndex]="pagination.currentPage!" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th nzWidth="80px" nzAlign="center" nzColumnKey="vigente" [nzSortFn]="true">Estado</th>
        <th nzWidth="120px" nzAlign="center">Código</th>
        <th nzWidth="340px">Evento</th>
        <th nzWidth="100px" nzAlign="center" >Fecha inicia</th>
        <th nzWidth="100px" nzAlign="center" >Fecha culmina</th>
        <th nzWidth="100px" nzAlign="center">Tipo</th>
        <th nzWidth="120px" nzAlign="center">Tipo de espacio</th>
        <th nzWidth="80px" nzAlign="center">Verifica asistente</th>
        <th nzRight nzWidth="120px" nzAlign="center"></th>
      </tr>
    </thead>
    
    <tbody>
      @for(evento of eventos(); track $index){
        <tr>
          <td nzAlign="center">
              <app-estado-tag nz-tooltip [nzTooltipTitle]="evento.vigente | uppercase" [estado]="evento.vigente" class="w-full flex justify-center"/>
        </td>
          <td nzAlign="center">{{evento.abreviatura}}</td>
          <td>{{evento.nombre}}</td>
          <td nzAlign="center">{{evento.fechaEvento}}</td>
          <td nzAlign="center">{{evento.fechaFinEvento}}</td>
          <td nzAlign="center">{{evento.subTipo}}</td>
          <td nzAlign="center">{{evento.tipoEvento}}</td>
          <td nzAlign="center">
            <div nz-tooltip [nzTooltipTitle]="evento.verificaAsistentes ? 'Si verifica asistentes' : 'No verficia asistentes'" [ngClass]="evento.verificaAsistentes ? 'text-green-600' : 'text-slate-200'">
                <i class="pi pi-check-circle" style="font-size: .85rem;"></i>
            </div>
        </td>
          <td nzRight nzAlign="center">
            <div class="flex justify-center">
              <a [routerLink]="[evento.eventoId]" class="py-1 px-2 text-sky-700 hover:text-sky-800" nz-tooltip nzTooltipTitle="Ver detalle">
                <i class="pi pi-eye" style="font-size: .85rem;"></i>
              </a>

              <app-boton icono="pencil" [link]="true" tooltip="Actualizar evento" (click)="eventoFormModal(evento,false)"/>

              <app-boton [icono]="'trash'" [color]="'red'" [stepColor]="500" [tooltip]="'Eliminar evento'" [link]="true" (click)="eliminarEvento(evento)" />
            </div>
          </td>
        </tr>
        }
    </tbody>
  </nz-table>
  
  <ng-template #Headereventos>
    <div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
      <p class="mb-2 sm:mb-0">Resultados {{pagination.total}}</p>
      <div class="flex gap-2">
            <app-boton  [icono]="'filter'" [texto]="'Filtro'" [outline]="true" (click)="openFilters = true"/>

            <app-boton  [icono]="'file-excel'" tooltip="Exportar Espacios" [texto]="'Exportar'" [loading]="loadingExport" [outline]="true" (click)="reporteEventos()"/>

            <app-boton [icono]="'plus'" tooltip="Agregar nueva intervencion" [texto]="'Nuevo evento'"  (click)="crearEvento()"/>
      </div>
    </div>
  </ng-template>
</div>

<p-toast />

<app-filtro-eventos *ngIf="openFilters"  [visible]="openFilters" [pagination]="pagination" (visibleDrawer)="this.openFilters = false" (filters)="generateFilters($event)" />