// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
// @import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.compact.less";
// @import "../node_modules/ng-zorro-antd/ng-zorro-antd.dark.less";
// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

@primary-color: #002C8C;
@info-color: #1890ff;
@select-item-selected-bg: #e6f7ff;
// @layout-sider-background: #002C8C;
// @layout-sider-background-light: #fff;
@form-vertical-label-padding: 0 0 4px;


// dark theme
@menu-dark-item-active-bg: #111;
// @menu-dark-item-active-danger-bg: @error-color;
// @menu-dark-selected-item-icon-color: @white;
// @menu-dark-selected-item-text-color: @white;
// @menu-dark-item-hover-bg: transparent;

// dark theme
// @menu-dark-bg: @primary-color;
// @menu-dark-arrow-color: #fff;
// @menu-dark-inline-submenu-bg: @primary-color;
// @menu-dark-item-active-bg: #001D66;

// @layout-body-background: #eee;



/* You can add global styles to this file, and also import other style files */
.d-block {
    display: block !important;
}

.text-left {
    text-align: left !important;
}

.clickable {
    cursor: pointer;
}

.ant-layout {
    min-height: 100vh;
}

.ant-layout-header {
    height: 56px;
    line-height: 56px;
}


.flex {
    display: flex;

}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.container {
    width: 100%;
    // padding-right: var(--bs-gutter-x, .75rem);
    // padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.ant-table-content {
    overflow-x: auto;
}

tr.bg-yellow-100 .ant-table-cell-fix-left,
tr.bg-yellow-100 .ant-table-cell-fix-right {
    background: inherit;
}

.ant-table-tbody>tr.ant-table-row.bg-yellow-100:hover>td,
.ant-table-tbody>tr.bg-yellow-100>td.ant-table-cell-row-hover {
    background: inherit;
}

.ant-table-header {
    button {
        .button-text {
            display: none;
        }
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .ant-table-header {
        button {
            .button-text {
                display: inline-block;
            }
        }
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.cdk-virtual-scroll-spacer {
    height: auto !important;
}

.card-geojson .ant-card-body {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    height: 100%;
}