@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h4 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

ol,
ul,
menu {
    list-style: revert;
    margin: revert;
    padding: revert;
}

.ant-btn>.anticon {
    line-height: 0;
    vertical-align: middle;
}

nz-sider .ant-menu-item a {
    @apply text-white;
}

nz-sider .ant-menu-item a:hover {
    @apply text-punche-red-100;
}

nz-sider .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    @apply bg-transparent;

}

.dark nz-sider .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    @apply bg-transparent;
}

.ant-menu-item-selected.ant-menu-item,
.ant-menu-item-selected.ant-menu-item a {
    @apply text-punche-red-100;
}

nz-sider .ant-menu.ant-menu-dark,
nz-sider .ant-menu-dark .ant-menu-sub,
nz-sider .ant-menu.ant-menu-dark .ant-menu-sub {
    @apply bg-transparent;
}

nz-sider .ant-menu-submenu>.ant-menu {
    @apply bg-blue-800;
}

.dark nz-sider .ant-menu-submenu>.ant-menu {
    @apply bg-neutral-900;
}

nz-sider .ant-menu-inline.ant-menu-root .ant-menu-item,
nz-sider .ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
    @apply text-white;
}

nz-sider .ant-menu-vertical .ant-menu-submenu,
nz-sider .ant-menu-vertical-left .ant-menu-submenu,
nz-sider .ant-menu-vertical-right .ant-menu-submenu,
nz-sider .ant-menu-inline .ant-menu-submenu {
    @apply text-white;
}

.ant-dropdown-menu-item-selected,
.ant-dropdown-menu-item-selected:hover,
.ant-dropdown-menu-submenu-title-selected,
.ant-dropdown-menu-submenu-title-selected:hover {
    @apply text-blue-900 bg-blue-200;
}

.dark .ant-dropdown-menu-item-selected,
.dark .ant-dropdown-menu-item-selected:hover,
.dark .ant-dropdown-menu-submenu-title-selected,
.dark .ant-dropdown-menu-submenu-title-selected:hover {
    @apply bg-neutral-900 text-gray-200;
}

.dark .ant-page-header-back-button {
    @apply text-gray-200;
}

.dark .ant-page-header-back-button:hover {
    @apply text-white;
}

.dark .ant-card {
    @apply bg-neutral-900 text-white;
}

.dark .ant-card-head {
    @apply text-white border-b border-solid border-neutral-800;
}

.dark .ant-card-bordered {
    @apply border-neutral-800;
}

.ant-table-tbody>tr.selected-row>td {
    @apply bg-blue-100 text-blue-800 border-blue-200;
}

.ant-table-tbody>tr.selected-row>td .ant-badge-status-text {
    @apply text-blue-800;
}

.ant-table-tbody>tr.selected-row:hover>td {
    @apply bg-blue-100;
}

.ant-table-tbody>tr.selected-row {
    cursor: default;
}

.auth .ant-tabs-content-holder {
    @apply pt-1;
}

.anticon svg {
    display: block;
}

.dark .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
.dark .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
    background: transparent;
}



/* .auth-wrapper {
    background-image: url(../src/assets/images/bg.svg) !important;
}

.dark .auth-wrapper {
    background-image: url(../src/assets/images/bg--dark.svg) !important;
} */