<app-page-header [title]="title.toUpperCase()" backUrl="panel" />
<nz-table [nzScroll]="{ x: '1150px' }" [nzTitle]="HeaderMesas" nzShowSizeChanger nzSize="small"
  [nzData]="mesas()" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="pagination.total!"
  [nzPageSize]="pagination.pageSize!" [nzPageIndex]="pagination.currentPage!">
  <thead>
    <tr>
      <th nzWidth="42px" nzAlign="center" nzColumnKey="estado" [nzSortFn]="true">Estado</th>
      <th nzWidth="32px" nzAlign="center">Codigo</th>
      <th nzLeft nzWidth="100px" nzColumnKey="nombreArchivo" [nzSortFn]="true">Mesa</th>
      <th nzWidth="32px" nzAlign="center">Sector</th>
      <th nzWidth="64px" nzAlign="center">Secretaría Técnica</th>
      <th nzWidth="32px" nzAlign="center">Fecha de Creación</th>
      <th nzWidth="32px" nzAlign="center">Fecha de Vigencia</th>
      <th nzWidth="24px" nzAlign="center">Resolución</th>
      <th nzWidth="24px" nzAlign="center">Sesión</th>
      <th nzWidth="24px" nzAlign="center">AM</th>
      <th nzWidth="32px" nzAlign="center"></th>
    </tr>
  </thead>
  
  <tbody>
    @for(mesa of mesas(); track $index){
      <tr>
        <td nzAlign="center">
          <app-estado-tag [estado]="mesa.estadoRegistroNombre!"></app-estado-tag>
        </td>
        <td nzAlign="center">
          <a [routerLink]="['/mesas', mesa.mesaId]" class="font-bold" nz-tooltip [nzTooltipTitle]="mesa.resumen">
            {{mesa.codigo}}
          </a>
        </td>
        <td><p nz-tooltip [nzTooltipTitle]="mesa.alerta">{{mesa.nombre}}</p></td>
        <td nzAlign="center">{{mesa.sector}}</td>
        <td nzAlign="center">{{mesa.secretariaTecnica}}</td>
        <td nzAlign="center">{{mesa.fechaCreacion}}</td>
        <td nzAlign="center">{{mesa.fechaVigencia}}</td>
        <td nzAlign="center">
          <app-boton-descargar [rutaArchivo]="mesa.resolucion" [titulo]="'Descargar resolución de creación'"></app-boton-descargar>
        </td>
        <td nzAlign="center">
          @if(mesa.sesion){
            <app-boton-descargar [rutaArchivo]="mesa.sesion" [titulo]="'Descargar ultima sesión'"></app-boton-descargar>
          }
        </td>
        <td nzAlign="center">
          @if(mesa.am){
            <app-boton-descargar [rutaArchivo]="mesa.am" [titulo]="'Descargar ultima AM'"></app-boton-descargar>
          }
        </td>
        <td nzAlign="center">
            <a [routerLink]="['/mesas', mesa.mesaId]">
              <button nz-button nzType="link" nz-tooltip nzTooltipTitle="Ver detalle">
                <span nz-icon nzType="eye" nzTheme="outline"></span>
              </button>
            </a>
            <button nz-button nzType="link" nz-tooltip nzTooltipTitle="Agregar estado resumen" (click)="crearEstadoResumen(mesa, false)">
              <span nz-icon nzType="comment" nzTheme="outline"></span>
            </button>
            <button nz-button nzDanger nzType="link" nz-tooltip nzTooltipTitle="Agregar alerta" (click)="crearEstadoResumen(mesa, true)">
              <span nz-icon nzType="comment" nzTheme="outline"></span>
            </button>
        </td>
      </tr>
      }
  </tbody>
</nz-table>

<ng-template #HeaderMesas>
  <div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
    <p class="mb-2 sm:mb-0">Resultados {{pagination.total}}</p>
    <div class="flex gap-2">
      <button nz-button nzType="default" [nzLoading]="loadingExport" (click)="reporteMesas()">
        <span nz-icon nzType="file-excel"></span>
        <span class="button-text">Exportar</span>
      </button>
      <button nz-button nzType="primary" (click)="crearMesa()">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        <span class="button-text">Nueva mesa</span>
      </button>
    </div>
  </div>
</ng-template>


