<app-page-header [title]="title.toUpperCase()" backUrl="panel" />
<nz-table [nzScroll]="{ x: '1150px' }" [nzTitle]="Header" nzShowSizeChanger nzSize="small"
  [nzData]="mesas" [nzFrontPagination]="false" [nzLoading]="loadingData" [nzTotal]="pagination.total!"
  [nzPageSize]="pagination.pageSize!" [nzPageIndex]="pagination.currentPage!">
  <thead>
    <tr>
      <th nzWidth="24px" nzAlign="center" nzColumnKey="estado" [nzSortFn]="true">Estado</th>
      <th nzWidth="24px" nzAlign="center">Codigo</th>
      <th nzLeft nzWidth="200px" nzColumnKey="nombreArchivo" [nzSortFn]="true">Mesa</th>
      <th nzWidth="32px" nzAlign="center">Perfil</th>
      <th nzWidth="32px" nzAlign="center">Sesión</th>
      <th nzWidth="32px" nzAlign="center">AM</th>
    </tr>
  </thead>
  <tbody>
    @for(mesa of mesas; track $index){
      <tr>
        <td nzAlign="center">
          <nz-tag [nzColor]="colorEstado(mesa.estado).color" nz-tooltip nzTooltipTitle="{{mesa.estado | titlecase }}">
              <span nz-icon [nzType]="colorEstado(mesa.estado).icon"></span>
              <span>{{mesa.estado | titlecase }}</span>
          </nz-tag>
        </td>
        <td nzAlign="center">
          <a [routerLink]="['/mesas', 1]" class="font-bold"  nz-tooltip nzTooltipTitle="Ver Detalle">
            MS25-00{{$index + 1}}
          </a>
        </td>
        <td>{{mesa.nombre}}</td>
        <td nzAlign="center">
          <button nz-button nzType="link" nz-tooltip nzTooltipTitle="Descargar sesión">
              <span nz-icon nzType="file-excel" nzTheme="outline"></span>
          </button>
        </td>
        <td nzAlign="center">
          <button nz-button nzType="link" nz-tooltip nzTooltipTitle="Descargar ayuda memoria">
              <span nz-icon nzType="file-excel" nzTheme="outline"></span>
          </button>
        </td>
        <td nzAlign="center">
            <a [routerLink]="['/mesas', 1]">
              <button nz-button nzType="link" nz-tooltip nzTooltipTitle="Ver Detalle">
                <span nz-icon nzType="eye" nzTheme="outline"></span>
              </button>
            </a>
        </td>
      </tr>
      }
  </tbody>
</nz-table>

<ng-template #Header>
  <div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
    <p class="mb-2 sm:mb-0">Resultados {{mesas.length}}</p>
    <div>
      <!-- <nz-space>
            <button nz-button nzType="primary">
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            <span class="button-text">Nueva mesa</span>
          </button>
      </nz-space> -->
    </div>
  </div>
</ng-template>


