<nz-modal [(nzVisible)]="showModal" (click)="closeModal()" nzTitle="{{create ? 'Agregar' : 'Actualizar' }} Atención"
  nzWidth="75%" nzOkText="{{create ? 'Agregar' : 'Actualizar' }} Atención" (nzOnOk)="saveOrEdit()"
  nzCancelText="Cancelar" (nzOnCancel)="closeModal()">
  <ng-container *nzModalContent>
    <form [formGroup]="formAsistencia" nz-form nzLayout="vertical">
      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="null">Tipo de atención</nz-form-label>
            <nz-radio-group class="radio-form-control" formControlName="tipo">
              @for (tipo of tipos; track $index){
              <label nz-radio [nzValue]="tipo.value">{{tipo.text| titlecase }}</label>
              }
            </nz-radio-group>
            <div class="text-danger" *ngIf="alertMessageError('tipo')">{{msgErrorControl('tipo','Tipo de atención')}}
            </div>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="null">Modalidad</nz-form-label>
            <nz-radio-group class="radio-form-control" formControlName="modalidad" (ngModelChange)="obtenerModalidad()">
              @for (modalidad of modalidades; track $index){
              <label nz-radio [nzValue]="modalidad.value">{{modalidad.text | titlecase }}</label>
              }
            </nz-radio-group>
            <div class="text-danger" *ngIf="alertMessageError('modalidad')">{{msgErrorControl('modalidad','Modalidad')}}
            </div>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzFor="fechaAtencion">Fecha de atención</nz-form-label>
            <nz-form-control nzSpan="null">
              <nz-date-picker id="fechaAtencion" class="datepicker-form-control" formControlName="fechaAtencion"
                nzPlaceHolder="Seleccionar fecha" nzFormat="dd/MM/yyyy"
                [nzDisabledDate]="disableDates"></nz-date-picker>
            </nz-form-control>
            <div class="text-danger" *ngIf="alertMessageError('fechaAtencion')">
              {{msgErrorControl('fechaAtencion','Fecha de atención')}}</div>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzFor="lugarId">Lugar</nz-form-label>
            <nz-form-control nzSpan="null">
              <nz-select nzPlaceHolder="Seleccionat lugar" id="lugarId" class="select-form-control"
                formControlName="lugarId" nzAllowClear nzShowSearch>
                @for (lugar of lugares(); track $index) {
                <nz-option [nzValue]="lugar.lugarId" nzLabel="{{lugar.nombre}}"></nz-option>
                }
              </nz-select>
              <div class="text-danger" *ngIf="alertMessageError('lugarId')">{{msgErrorControl('lugarId','Lugar')}}</div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzFor="tipoEntidadId">Tipo de entidad entendida</nz-form-label>
            <nz-form-control nzSpan="null">
              <nz-select nzPlaceHolder="Seleccionat tipo de entidad" id="tipoEntidadId" class="select-form-control"
                formControlName="tipoEntidadId" nzAllowClear nzShowSearch>
                @for (entidades of tipoEntidades(); track $index) {
                <nz-option [nzValue]="entidades.tipoId" nzLabel="{{entidades.nombre}}"></nz-option>
                }
              </nz-select>
              <div class="text-danger" *ngIf="alertMessageError('tipoEntidadId')">
                {{msgErrorControl('tipoEntidadId','Tipo de entidad')}}</div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzFor="departamento">Departamento</nz-form-label>
            <nz-form-control nzSpan="null">
              <nz-select nzPlaceHolder="Seleccionar departamento" id="departamento" class="select-form-control"
                formControlName="departamento" (ngModelChange)="obtenerUbigeoDepartamento($event)" nzAllowClear
                nzShowSearch>
                @for (departamento of departamentos; track $index) {
                <nz-option [nzValue]="departamento.departamentoId" nzLabel="{{departamento.departamento}}"></nz-option>
                }
              </nz-select>
              <div class="text-danger" *ngIf="alertMessageError('departamento')">
                {{msgErrorControl('departamento','Departamento')}}</div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzFor="provincia">Provincia</nz-form-label>
            <nz-form-control nzSpan="null">
              <nz-select nzPlaceHolder="Seleccionar provincia" id="provincia" class="select-form-control"
                formControlName="provincia" (ngModelChange)="obtenerUbigeoProvincia($event)"
                [nzDisabled]="provinceDisabled" nzAllowClear nzShowSearch>
                @for (provincia of provincias(); track $index) {
                <nz-option [nzValue]="provincia.provinciaId" nzLabel="{{provincia.provincia}}"></nz-option>
                }
              </nz-select>
              <div class="text-danger" *ngIf="alertMessageError('provincia')">
                {{msgErrorControl('provincia','Provincia')}}</div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="null" nzFor="distrito">Distrito</nz-form-label>
            <nz-form-control nzSpan="null">
              <nz-select nzPlaceHolder="Seleccionat distrito" id="distrito" class="select-form-control"
                formControlName="distrito" (ngModelChange)="obtenerDistito($event)" [nzDisabled]="districtDisabled"
                nzAllowClear nzShowSearch>
                @for (distrito of distritos(); track $index) {
                <nz-option [nzValue]="distrito.distritoId" nzLabel="{{distrito.distrito}}"></nz-option>
                }
              </nz-select>
              <div class="text-danger" *ngIf="alertMessageError('distrito')">{{msgErrorControl('distrito','Distrito')}}
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzFor="entidad">Entidad</nz-form-label>
            <nz-form-control nzSpan="null">
              <input type="text" class="form-control" id="entidad" placeholder="Entidad" formControlName="entidad">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="null">Participa Autoridad</nz-form-label>
            <nz-radio-group class="radio-form-control" formControlName="autoridad" (ngModelChange)="changeAutoridad()">
              @for (participa of participar; track $index){
              <label nz-radio [nzValue]="participa == 'si' ? true : false">{{participa | titlecase }}</label>
              }
            </nz-radio-group>
            <div class="text-danger" *ngIf="alertMessageError('autoridad')">{{msgErrorControl('autoridad','Autoridad')}}
            </div>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzFor="dniAutoridad">DNI</nz-form-label>
            <nz-form-control nzSpan="null">
              <input type="text" id="dniAutoridad" class="form-control" placeholder="Ingresa el DNI aquí"
                formControlName="dniAutoridad">
            </nz-form-control>
            <div class="text-danger" *ngIf="alertMessageError('dniAutoridad')">{{msgErrorControl('dniAutoridad','DNI')}}
            </div>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzFor="nombreAutoridad">Nombre</nz-form-label>
            <nz-form-control nzSpan="null">
              <input type="text" class="form-control" id="nombreAutoridad" placeholder="Ingresa el nombre aquí"
                formControlName="nombreAutoridad">
            </nz-form-control>
            <div class="text-danger" *ngIf="alertMessageError('nombreAutoridad')">
              {{msgErrorControl('nombreAutoridad','Nombre')}}</div>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzFor="cargoAutoridad">Cargo</nz-form-label>
            <nz-form-control nzSpan="null">
              <input type="text" class="form-control" id="cargoAutoridad" placeholder="Ingrese el cargo aquí"
                formControlName="cargoAutoridad">
            </nz-form-control>
            <div class="text-danger" *ngIf="alertMessageError('cargoAutoridad')">
              {{msgErrorControl('cargoAutoridad','Cargo')}}</div>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="24">
          <div class="border border-solid border-grey-800 ">
            <div class="flex justify-between items-center bg-gray-100 px-4 py-2">
              <h5 class=" text-sm">Congresistas</h5>
              <div
                class="border border-punche-blue-500 bg-transparent cursor-pointer text-punche-blue-500 px-3 py-1 rounded hover:bg-punche-blue-500 hover:text-white"
                (click)="addItemFormArray($event,'congresistas')">
                <span nz-icon nzType="plus" nzTheme="outline"></span>
                Nuevo congresista
              </div>
            </div>
            <div class=" px-4 py-2">
              <div formArrayName="congresistas">
                <div *ngFor="let congresista of congresistas.controls; let i = index" [formGroupName]="i">
                  <div nz-row [nzGutter]="16">

                    <div nz-col nzSpan="4">
                      <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="null">Participa Congresista</nz-form-label>
                        <nz-radio-group class="radio-form-control" formControlName="congresista">
                          @for (participa of participar; track $index){
                          <label nz-radio [nzValue]="participa == 'si' ? true : false">{{participa | titlecase
                            }}</label>
                          }
                        </nz-radio-group>
                        <div class="text-danger" *ngIf="alertMessageErrorTwoNivel('congresistas',i,'congresista')">
                          {{msgErrorControlTwoNivel('congresistas',i,'congresista','Congresista')}}</div>
                      </nz-form-item>
                    </div>
                    <div nz-col nzSpan="6">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="null" nzFor="dni{{i}}">DNI</nz-form-label>
                        <nz-form-control nzSpan="null">
                          <input type="text" class="form-control" id="dni{{i}}" placeholder="Ingresa el DNI aquí"
                            formControlName="dni">
                        </nz-form-control>
                        <div class="text-danger" *ngIf="alertMessageErrorTwoNivel('congresistas',i,'dni')">
                          {{msgErrorControlTwoNivel('congresistas',i,'dni','DNI')}}</div>
                      </nz-form-item>
                    </div>
                    <div nz-col nzSpan="6">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="null" nzFor="nombre{{i}}">Nombre</nz-form-label>
                        <nz-form-control nzSpan="null">
                          <input type="text" class="form-control" id="nombre{{i}}" placeholder="Ingresa el nombre aquí"
                            formControlName="nombre">
                        </nz-form-control>
                        <div class="text-danger" *ngIf="alertMessageErrorTwoNivel('congresistas',i,'nombre')">
                          {{msgErrorControlTwoNivel('congresistas',i,'nombre','Nombre')}}</div>
                      </nz-form-item>
                    </div>
                    <div nz-col nzSpan="6">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="null" nzFor="descripcion{{i}}">Descripción</nz-form-label>
                        <nz-form-control nzSpan="null">
                          <input type="text" class="form-control" id="descripcion{{i}}" formControlName="descripcion">
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col nzSpan="2" class="flex flex-col items-center">
                      <nz-form-label [nzSpan]="null"> Eliminar </nz-form-label>
                      <span nz-icon nzType="minus-circle-o" class="dynamic-delete-button cursor-pointer"
                        style="font-size: 24px;" (click)="removeItemFormArray(i,'congresistas')"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="null">Participa Congresista</nz-form-label>
            <nz-radio-group class="radio-form-control" formControlName="congresista"
              (ngModelChange)="changeCongresista()">
              @for (participa of participar; track $index){
              <label nz-radio [nzValue]="participa == 'si' ? true : false">{{participa | titlecase }}</label>
              }
            </nz-radio-group>
            <div class="text-danger" *ngIf="alertMessageError('congresista')">
              {{msgErrorControl('congresista','Congresista')}}</div>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzFor="dniCongresista">DNI</nz-form-label>
            <nz-form-control nzSpan="null">
              <input type="text" class="form-control" id="dniCongresista" placeholder="Ingresa el DNI aquí"
                formControlName="dniCongresista">
            </nz-form-control>
            <div class="text-danger" *ngIf="alertMessageError('dniCongresista')">
              {{msgErrorControl('dniCongresista','DNI')}}</div>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzFor="nombreCongresista">Nombre</nz-form-label>
            <nz-form-control nzSpan="null">
              <input type="text" class="form-control" id="nombreCongresista" placeholder="Ingresa el nombre aquí"
                formControlName="nombreCongresista">
            </nz-form-control>
            <div class="text-danger" *ngIf="alertMessageError('nombreCongresista')">
              {{msgErrorControl('nombreCongresista','Nombre')}}</div>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzFor="cargoCongresista">Cargo</nz-form-label>
            <nz-form-control nzSpan="null">
              <input type="text" class="form-control" id="cargoCongresista" formControlName="cargoCongresista">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div> -->
      <div nz-row [nzGutter]="16" class="mt-3">
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzFor="espacioId">Espacio</nz-form-label>
            <nz-form-control nzSpan="null">
              <nz-select class="select-form-control" nzPlaceHolder="Seleccionar espacio" id="espacioId"
                formControlName="espacioId" nzAllowClear nzShowSearch>
                @for (espacio of espacios(); track $index){
                <nz-option [nzValue]="espacio.espacioId" nzLabel="{{espacio.nombre}}"></nz-option>
                }
              </nz-select>
              <div class="text-danger" *ngIf="alertMessageError('espacioId')">{{msgErrorControl('espacioId','Espacio')}}
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label [nzSpan]="null">Clasificación</nz-form-label>
            <nz-radio-group class="radio-form-control" formControlName="clasificacion"
              (ngModelChange)="obtenerClasificacion()">
              @for (clasificacion of clasificaciones; track $index){
              <label nz-radio [nzValue]="clasificacion.value">{{clasificacion.text| titlecase }}</label>
              }
            </nz-radio-group>
            <div class="text-danger" *ngIf="alertMessageError('clasificacion')">
              {{msgErrorControl('clasificacion','Clasificacion')}}</div>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzFor="tema">Tema</nz-form-label>
            <nz-form-control nzSpan="null">
              <input type="text" class="form-control" id="tema" placeholder="Ingrese el tema aquí"
                formControlName="tema">
            </nz-form-control>
            <div class="text-danger" *ngIf="alertMessageError('tema')">{{msgErrorControl('tema','Tema')}}</div>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="16" class="mt-2">
        <div nz-col nzSpan="12">
          <div class="border border-solid border-grey-800 ">
            <div class="flex justify-between items-center bg-gray-100 px-4 py-2">
              <h5 class=" text-sm">Participantes</h5>
              <div
                class="border border-punche-blue-500 bg-transparent cursor-pointer text-punche-blue-500 px-3 py-1 rounded hover:bg-punche-blue-500 hover:text-white"
                (click)="addItemFormArray($event,'participantes')">
                <span nz-icon nzType="plus" nzTheme="outline"></span>
                Nuevo participante
              </div>
            </div>
            <div class=" px-4 py-2">
              <div formArrayName="participantes">
                <div *ngFor="let participante of participantes.controls; let i = index" [formGroupName]="i">
                  <div nz-row [nzGutter]="16">
                    <div nz-col nzSpan="12">
                      <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="null">Tipo de participante</nz-form-label>
                        <nz-form-control nzSpan="null">
                          <nz-select class="select-form-control" nzPlaceHolder="Seleccionat tipo de participante"
                            formControlName="nivelId" nzAllowClear nzShowSearch>
                            @for (participante of gobiernoParticipantes(); track $index) {
                            <nz-option [nzValue]="participante.nivelId" nzLabel="{{participante.nombre}}"></nz-option>
                            }
                          </nz-select>
                          <div class="text-danger" *ngIf="alertMessageErrorTwoNivel('participantes',i,'nivelId')">
                            {{msgErrorControlTwoNivel('participantes',i,'nivelId','Participante')}}</div>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col nzSpan="8">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="null" nzFor="cantidadParticipante">Cantidad</nz-form-label>
                        <nz-form-control nzSpan="null">
                          <input type="text" class="form-control" id="cantidadParticipante" formControlName="cantidad">
                        </nz-form-control>
                        <div class="text-danger" *ngIf="alertMessageErrorTwoNivel('participantes',i,'cantidad')">
                          {{msgErrorControlTwoNivel('participantes',i,'cantidad','Cantidad')}}</div>
                      </nz-form-item>
                    </div>
                    <div nz-col nzSpan="4" class="flex flex-col items-center">
                      <nz-form-label [nzSpan]="null"> Eliminar </nz-form-label>
                      <span nz-icon nzType="minus-circle-o" class="dynamic-delete-button cursor-pointer"
                        style="font-size: 24px;" (click)="removeItemFormArray(i,'participantes')"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div class="border border-solid border-grey-800 ">
            <div class="flex justify-between items-center bg-gray-100 px-4 py-2">
              <h5 class=" text-sm">Agendas</h5>
              <div
                class="border border-punche-blue-500 bg-transparent cursor-pointer text-punche-blue-500 px-3 py-1 rounded hover:bg-punche-blue-500 hover:text-white"
                (click)="addItemFormArray($event,'agendas')">
                <span nz-icon nzType="plus" nzTheme="outline"></span>
                Nueva Agenda
              </div>
            </div>
            <div class=" px-4 py-2">
              <div formArrayName="agendas">
                <div nz-row [nzGutter]="16" *ngFor="let agenda of agendas.controls; let i = index" [formGroupName]="i">
                  <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="null">Clasificación</nz-form-label>
                      <nz-form-control nzSpan="null">
                        <nz-select class="select-form-control" nzPlaceHolder="Seleccionar clasificación"
                          formControlName="clasificacionId" nzAllowClear nzShowSearch>
                          @for (clasificacion of agendaClasificaciones(); track $index) {
                          <nz-option [nzValue]="clasificacion.clasificacionId"
                            nzLabel="{{clasificacion.nombre}}"></nz-option>
                          }
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="8">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="null" nzFor="cuiAgenda">CUI</nz-form-label>
                      <nz-form-control nzSpan="null">
                        <input type="text" class="form-control" id="cuiAgenda" formControlName="cui">
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="4" class="flex flex-col items-center">
                    <nz-form-label [nzSpan]="null"> Eliminar </nz-form-label>
                    <span nz-icon nzType="minus-circle-o" class="dynamic-delete-button cursor-pointer"
                      style="font-size: 24px;" (click)="removeItemFormArray(i,'agendas')"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-row [nzGutter]="16" class="mt-4">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzFor="comentarios">Comentarios</nz-form-label>
            <textarea class="form-control" id="comentarios" formControlName="comentarios"
              placeholder="Ingrese el comentario aquí" rows="2"></textarea>
            <div class="text-danger" *ngIf="alertMessageError('comentarios')">
              {{msgErrorControl('comentarios','Comentarios')}}</div>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzFor="evidenciaReunion">Evidencia de reunion</nz-form-label>
            <nz-upload [(nzFileList)]="fileListMeet" [nzBeforeUpload]="beforeUploadMeet">
              <div
                class="border border-punche-blue-500 bg-transparent cursor-pointer text-punche-blue-500 px-3 py-1 hover:bg-punche-blue-500 hover:text-white">
                <span nz-icon nzType="upload"></span>
                Selecionar evidencia
              </div>
            </nz-upload>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzFor="evidenciaAsistencia">Acta de asistencia</nz-form-label>
            <nz-upload [(nzFileList)]="fileListAttendance" [nzBeforeUpload]="beforeUploadAttendance">
              <div
                class="border border-punche-blue-500 bg-transparent cursor-pointer text-punche-blue-500 px-3 py-1 hover:bg-punche-blue-500 hover:text-white">
                <span nz-icon nzType="upload"></span>
                Selecionar evidencia
              </div>
            </nz-upload>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-container>
</nz-modal>