<app-page-header title="Reportes" backUrl="panel"></app-page-header>
<!-- TODO: Implementar CRD de reportes -->
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" class="mb-8">
    <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-card>
            <nz-table [nzTitle]="HeaderReporte" nzShowSizeChanger nzSize="small"
                [nzData]="this.reportesService.reportes()!" [nzFrontPagination]="false"
                [nzLoading]="this.reportesService.isLoading()" [nzTotal]="this.reportesService.total()"
                [nzPageSize]="this.pageSize" [nzPageIndex]="this.pageIndex"
                (nzQueryParams)="onQueryParamsChange($event)">
                <thead>
                    <tr>
                        <th nzWidth="100px" nzColumnKey="reporteCabeceraId" [nzSortFn]="true">Id</th>
                        <th nzColumnKey="descripcionReporte">Descripción del reporte</th>
                        <th nzColumnKey="fechaRegistro" [nzSortFn]="true">Fecha de registro</th>
                    </tr>
                </thead>
                <tbody>
                    @for (data of this.reportesService.reportes(); track data.reporteCabeceraId) {
                    <tr class="cursor-pointer">
                        <td nzWidth="100px">{{ data.reporteCabeceraId }}</td>
                        <td>{{ data.descripcionReporte }}</td>
                        <td>{{ data.fechaRegistro | date: 'dd/MM/yyyy' }}</td>
                    </tr>
                    }
                </tbody>
            </nz-table>

            <ng-template #HeaderReporte>
                <div class="ant-table-header flex flex-col sm:flex-row justify-between items-center">
                    <p class="mb-2 sm:mb-0 font-semibold text-base">
                        Historial de reportes
                    </p>

                    <div>
                        <nz-space>
                            @if(true){
                            <button *nzSpaceItem nz-button nzType="primary" (click)="onAddReport()">
                                <span nz-icon nzType="folder-add" nzTheme="outline"></span>
                                <span>Generar reporte</span>
                            </button>
                            }
                        </nz-space>
                    </div>
                </div>
            </ng-template>
        </nz-card>
    </div>
</div>


<!-- {{ acuerdos() | json }} -->