@if(showForm){
  <form [formGroup]="formMeta" nz-form nzLayout="horizontal" autocomplete="off" class="mb-4">
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="8">
        <nz-form-label nzFor="fecha">Mes</nz-form-label>
        <nz-form-control>
          <nz-date-picker nzMode="month" id="fecha" class="datepicker-form-control" formControlName="fecha"
            nzPlaceHolder="Seleccionar mes"></nz-date-picker>
        </nz-form-control>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-label nzFor="meta">Meta</nz-form-label>
        <nz-form-control nzSpan="null">
          <input type="text" class="form-control" id="meta" placeholder="Ingrese la cantidad de meta"
            formControlName="meta">
        </nz-form-control>
      </div>
      <div nz-col nzSpan="8" class="flex items-end">
        <button class="w-full bg-primary text-white p-1.5 rounded" (click)="updateMeta()">
          <span class="button-text text-sm">Actualizar</span>
        </button>
      </div>
    </div>
  </form>
}
<p-table [value]="usuarioMetas()" >
  <ng-template pTemplate="header">
      <tr>
          <th>N°</th>
          <th>Mes</th>
          <th>Meta</th>
          <th>Atenciones</th>
          <th></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-meta let-i="rowIndex">
      <tr>
          <td class="text-center">{{ i + 1 }}</td>
          <td class="text-center">{{ meta.fecha | date: 'MM/yyyy' }}</td>
          <td class="text-center">{{ meta.meta }}</td>
          <td class="text-center">{{ meta.atenciones }}</td>
          <td class="text-center">
              <!-- <div (click)="enabledEdit(meta.fecha) ? submitForm(meta) : ''" [ngClass]="{'cursor-pointer' : enabledEdit(meta.fecha) }">
                <span nz-icon nzType="edit" nz-tooltip="{{ enabledEdit(meta.fecha) ? 'Editar Meta' : ''}}" [ngClass]="{ 'text-primary' : enabledEdit(meta.fecha), 'text-grey-100' : !enabledEdit(meta.fecha) }"></span>
              </div> -->
              <button nz-button nzType="link" (click)="submitForm(meta)" nz-tooltip="{{ enabledEdit(meta.fecha) ? 'Editar Meta' : ''}}"
                [disabled]="!enabledEdit(meta.fecha)">
                <span nz-icon nzType="edit" nzTheme="outline"></span>
              </button>
          </td>
      <tr>
  </ng-template>
</p-table>