<app-card [titulo]="'Espacios'" class="flex h-full" [px]="'px-1'" [py]="'py-1'">
    <ng-template #content>
        <!-- 200px -->
        <nz-table nzSize="small" nzTemplateMode [nzScroll]="{ y: '454px', x: '100%' }"
                class="custom-table">
                <thead>
                    <tr>
                        <th [nzWidth]="'120px'">Espacios</th>
                        <th nzAlign="center" [nzWidth]="'60px'">Cantidad</th>
                        <th nzRight nzAlign="center" [nzWidth]="'100px'">Avance</th>
                    </tr>
                </thead>
                <tbody>
                    @for(panel of panelEventos; track $index){
                    <tr>
                        <td>{{panel.nombre}}</td>
                        <td nzAlign="center">{{panel.numero}}</td>
                        <td nzRight nzAlign="center">
                            @if (panel.porcentaje == 0) {
                                {{panel.porcentaje}}%
                            } @else {
                                <div class="object-contain w-[85%]">
                                    <nz-progress [nzPercent]="panel.porcentaje" [nzStrokeWidth]="12" [nzStrokeColor]="colorBarraProgreso(panel.porcentaje!)" />
                                </div>
                            }
                        </td>
                    </tr>
                    }
                    <tr class="sticky bottom-0 bg-[#e8e8e8] z-10 shadow-md font-bold text-xs uppercase">
                        <td> Total</td>
                        <td nzAlign="center">{{totales.nombre}}</td>
                        <td nzAlign="center">{{totales.numero}}</td>
                        <td nzRight nzAlign="center" class="bg-[#e8e8e8]">{{totales.porcentaje! | numero : 1}}% </td>
                    </tr>
                </tbody>
            </nz-table>
    </ng-template>
</app-card>

